<breadcrumbs crumbs="vm.breadcrumbs"></breadcrumbs>
<div class="page-header">
  <h1>
    Shipping
    <div class="btn-group pull-right" ng-if="vm.hasValidCentres">
      <a ui-sref="home.shipping.add" class="btn btn-xs btn-primary" type="button">
        <translate>Add shipment</translate> <i class="glyphicon glyphicon-plus"></i>
      </a>
    </div>
  </h1>
</div>
<div class="row" ng-cloak>
  <div class="col-md-12"  ng-if="!vm.hasValidCentres">
    <div class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-warning-sign"></span>
      <strong>
        <translate>
          Two or more centres, or one centre with more than one location required for shipping.
        </translate>
      </strong>
      <br>
      <p translate>
        Please configure more centres and / or locations.
      </p>
    </div>
  </div>
  <div class="col-md-6" ng-if="vm.hasValidCentres">
    <select-centre panel-header="{{'Select a centre to view its shipping information' | translate}}"
                   get-centres="vm.updateCentres"
                   on-centre-selected="vm.centreSelected"
                   icon="{{vm.centreIcon}}"
                   limit="4"
                   message-no-results="{{'No results match the criteria.'|translate}}"
                   navigate-state-name="home.shipments.table"
                   navigate-state-param-name="centreId">
    </select-centre>
  </div>
</div>
