<div class="page-header">
  <h1>
    Shipping
    <div class="btn-group pull-right" ng-if="vm.hasValidCentres">
      <a ui-sref="home.shipping.add" class="btn btn-xs btn-primary" type="button">
        Add shipment <i class="glyphicon glyphicon-plus"></i>
      </a>
    </div>
  </h1>
</div>
<div class="row" ng-if="!vm.hasValidCentres">
  <div class="col-md-12">
    <div class="alert alert-warning" role="alert">
      Two or more centres, or one centre with more than one location required for shipping.<br> Please
      configure more centres and / or locations.
    </div>
  </div>
</div>
<div class="row"
     ng-if="vm.hasValidCentres"
     ng-cloak>
  <div class="col-md-6">
    <select-centre
       panel-header="{{vm.panelHeader}}"
       get-centres="vm.updateCentres"
       on-centre-selected="vm.centreSelected"
       icon="{{vm.centreIcon}}"
       page-size="4"
       message-no-results="No results match the criteria."
       navigate-state-name="home.shipments.table"
       navigate-state-param-name="centreId">
    </select-centre>
  </div>
</div>
