<div class="page-header">
  <h1>{{vm.user.name}} <small>Profile</small></h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Profile
      <span class="btn-group pull-right">
        <button class="btn btn-xs btn-primary"
                ng-click="vm.updatePassword()"
                title="Update password">
          Update password
          <i class="glyphicon glyphicon-edit"></i>
        </button>
      </span>
    </h3>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2"><strong>Name</strong></div>
        <div class="col-md-8">{{vm.user.name}}</div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  title="Update name"
                  ng-click="vm.updateName()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2"><strong>Email</strong></div>
        <div class="col-md-8">{{vm.user.email}}</div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  title="Update email"
                  ng-click="vm.updateEmail()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2"><strong>Avatar URL</strong></div>
        <div class="col-md-7" ng-if="vm.user.avatarUrl">
          <a target="_blank" ng-href="{{vm.user.avatarUrl}}">{{vm.user.avatarUrl}}</a>
        </div>
        <div class="col-md-7" ng-if="! vm.user.avatarUrl">
          None
        </div>
        <div class="col-md-3">
          <update-remove-buttons
             on-update="vm.updateAvatarUrl()"
             on-remove="vm.removeAvatarUrl()"
             update-button-enabled="'true'"
             remove-button-enabled="vm.allowRemoveAvatarUrl">
          </update-remove-buttons>
        </div>
      </div>
    </li>
  </ul>
  <table class="table table-bordered">
    <tr>
      <td>
        <small class="text-muted">Added: <strong>{{vm.user.timeAdded | timeago}}</strong></small>
      </td>
      <td>
        <small class="text-muted">
          Modified:
          <strong>{{vm.user.timeModified | timeago}}</strong>
        </small>
      </td>
    </tr>
  </table>
</div>
