<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{vm.study.name}}
      <span class="pull-right"
            uib-dropdown is-open="vm.studySummaryMenu.isopen">
        <button class="btn btn-xs btn-default dropdown-toggle"
                type="button"
                id="studySummaryMenu"
                uib-dropdown-toggle>
          <span class="glyphicon glyphicon-option-vertical"></span>
        </button>

        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="studySummaryMenu">
          <li role="menuitem" ng-if="vm.study.isDisabled()">
            <a href
               ng-click="vm.changeState('enable')">
              <i class="glyphicon glyphicon-ok-circle text-success"></i>
              <translate>Enable this study</translate>
            </a>
          </li>
          <li role="menuitem" ng-if="vm.study.isEnabled()">
            <a href
               ng-click="vm.changeState('disable')">
              <i class="glyphicon glyphicon-ok-circle text-danger"></i>
              <translate>Disable this study</translate>
            </a>
          </li>
          <li role="menuitem" ng-if="vm.study.isDisabled()">
            <a href
               ng-click="vm.changeState('retire')">
              <i class="glyphicon glyphicon-arrow-down text-danger"></i>
              <translate>Retire this study</translate>
            </a>
          </li>
          <li role="menuitem" ng-if="vm.study.isRetired()">
            <a href
               ng-click="vm.changeState('unretire')">
              <i class="glyphicon glyphicon-arrow-down text-danger"></i>
              <translate>Unretire this study</translate>
            </a>
          </li>
          <li class="divider" ng-if="vm.study.isDisabled()"></li>
          <li role="menuitem" ng-if="vm.study.isDisabled()">
            <a href
               ng-click="vm.editName()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update name</translate>
            </a>
          </li>
          <li role="menuitem" ng-if="vm.study.isDisabled()">
            <a href
               ng-click="vm.editDescription()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update description</translate>
            </a>
          </li>
        </ul>
      </span>
    </h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Name:</strong>
        </div>
        <div class="col-md-10">
          {{vm.study.name}}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Description:</strong>
        </div>
        <div class="col-md-10">
          <truncate-toggle text="vm.study.description"
                           toggle-length="vm.descriptionToggleLength"
                           text-empty-warning="{{'Description not entered yet.'|translate}}">
          </truncate-toggle>
        </div>
      </div>
    </li>
    <li class="list-group-item"
        ng-if="!vm.isEnableAllowed">
      <div class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <translate>
          Study cannot be enabled until at least one specimen is added to a collection event.
        </translate>
      </div>
    </li>
  </ul>
  <status-line state-label-func="vm.stateLabelFunc(vm.study.state)"
               time-added="vm.study.timeAdded"
               time-modified="vm.study.timeModified"></status-line>
</div>
