<h4>Participant Annotation Types</h4>
<table ng-table="tableParams" class="table table-hover">
  <tr ng-repeat="annotType in $data"
      ng-click="annotType.$selected = !annotType.$selected; changeSelection(annotType)"
      ng-class="{'active': user.$selected}">
    <td data-title="'Name'" sortable="'name'">
      {{annotType.name}}
    </td>
    <td data-title="'Type'" sortable="'valueType'">
      {{annotType.valueType}}
    </td>
    <td data-title="'Required'" sortable="'required'">
      {{annotType.required ? "Yes" : "No"}}
    </td>
    <td data-title="'Description'" sortable="'description'">
      {{annotType.description === null ? "" : annotType.description | truncate:40}}
    </td>
    <td>
      <button class="btn btn-xs btn-primary"
              ng-click="annotInformation(annotType)"
              title="More information">
      <i class="glyphicon glyphicon-info-sign"></i></button>
      <a href="#/studies/partannot/update/{{annotType.id}}"
         class="btn btn-xs btn-primary" type="button" data-toggle="tooltip"
         title="Update">
      <i class="glyphicon glyphicon-edit"></i></a>
      <a href="#"
         class="btn btn-xs btn-warning" type="button"
         data-toggle="tooltip"
         title="Remove">
      <i class="glyphicon glyphicon-remove"></i></a>
    </td>
  </tr>
</table>
