<div class="page-header">
  <h2>{{study.name}}
  <a href="#/studies/:id" class="btn btn-mini btn-primary"
     type="button" data-toggle="tooltip" title="Update">
  <i class="glyphicon glyphicon-edit"></i></a></h2>
</div>
<div class="clearfix">

  <!-- use HTML data attributes to pass parameters to javascript -->
  <ul class="nav nav-tabs">
    <li class="active"><a data-target="#summary" data-toggle="tab">Summary</a></li>
    <li><a data-target="#participants" data-toggle="tab">Participants</a></li>
    <li><a data-target="#specimens" data-toggle="tab">Specimens</a></li>
    <li><a data-target="#collectionEvents" data-toggle="tab">Collection Events</a></li>
    <li><a data-target="#processingEvents" data-toggle="tab">Processing Events</a></li>
  </ul>

  <div class="alert alert-success">
    Flash message goes here when study is updated
  </div>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="summary">
      <h4>{{study.name}}</h4>
      <small class="muted">Status: {{study.status}}</small>
      <p><small class="muted">Added: {{study.addedDate}}</small></p>
      <p ng-if="study.lastUpdateDate != null">
        <small class="muted">Last updated: {{study.lastUpdateDate}}</small>
      </p>
      <p>{{study.description}}</p>
    </div>
    <div class="tab-pane fade" id="participants"></div>
    <div class="tab-pane fade" id="specimens"></div>
    <div class="tab-pane fade" id="collectionEvents"></div>
    <div class="tab-pane fade" id="processingEvents"></div>
  </div>
</div>
