<div class="panel panel-default" style="margin-top: 10px;">
  <div class="panel-heading">
    <h3 class="panel-title">{{study.name}}
    <button class="btn btn-xs btn-primary pull-right"
            ng-click="updateStudy(study)"
            title="Update">
    <i class="glyphicon glyphicon-edit"></i></button>
    </h3>
  </div>
  <table class="table">
    <tr>
      <td><strong>Status:</strong></td>
      <td>{{study.status}}</td>
    </tr>
    <tr>
      <td><strong>Added:</strong></td>
      <td>{{study.addedDate}}</td>
    </tr>
    <tr ng-if="study.lastUpdateDate != null">
      <td><strong>Last updated:</strong></td>
      <td>{{study.lastUpdateDate}}</td>
    </tr>
    <tr>
      <td><strong>Description:</strong></td>
      <td>{{study.description}}</td>
    </tr>
  </table>
</div>
