<div class="page-header">
  <h2>
    Studies
    <button class="btn btn-xs btn-primary pull-right"
            ng-click="addStudy()"
            title="Add study">
    <i class="glyphicon glyphicon-plus"></i></button>
  </h2>
</div>
<div class="clearfix">
  <div ng-if="studies.length == 0">
    <p>No studies have been added.</p>
  </div>
  <div ng-if="studies.length != 0">
    <p>The following studies have been configured:</p>
    <table ng-table="tableParams" class="table table-hover">
      <tr ng-repeat="study in $data"
          ng-class="{'active': user.$selected}">
        <td data-title="'Name'" sortable="'name'">
          {{study.name}}
        </td>
        <td data-title="'Status'" sortable="'valueType'">
          {{study.status}}
        </td>
        <td data-title="'Description'" sortable="'description'">
          {{study.description === null ? "" : study.description | truncate:20}}
        </td>
        <td>
          <button class="btn btn-xs btn-primary"
                  ng-click="studyInformation(study)"
                  title="More information">
          <i class="glyphicon glyphicon-info-sign"></i></button>
          <button class="btn btn-xs btn-primary"
                  ng-click="updateStudy(study)"
                  title="Update">
          <i class="glyphicon glyphicon-edit"></i></button>
        </td>
      </tr>
    </table>

  </div>
</div>
