<div class="panel panel-default" style="margin-top: 10px;">
  <div class="panel-heading">
    <h3 class="panel-title">{{study.name}}
    <div class="btn-group pull-right">
      <button class="btn btn-xs btn-primary"
              ng-click="updateStudy(study)"
              title="Update">
      <i class="glyphicon glyphicon-edit"></i></button>
      <button class="btn btn-xs btn-success"
              ng-click="changeStatus(study)"
              title="Change status">
      <i class="glyphicon glyphicon-cog"></i></button>
    </div>
    </h3>
  </div>
  <table class="table">
    <tr>
      <td><strong>Description:</strong></td>
      <td>{{study.description}}</td>
    </tr>
    <tr>
      <td><strong>Status:</strong></td>
      <td>{{study.status}}</td>
    </tr>
    <tr>
      <td><strong>Added:</strong></td>
      <td>{{study.addedDate}}</td>
    </tr>
    <tr ng-if="study.lastUpdateDate != null">
      <td><strong>Last updated:</strong></td>
      <td>{{study.lastUpdateDate}}</td>
    </tr>
  </table>
</div>
