<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Locations
      <button class="btn btn-xs btn-primary pull-right"
              title="Add location"
              ng-if="vm.centre.isDisabled()"
              ng-click="vm.add()">
        <i class="glyphicon glyphicon-plus"></i>
      </button>
    </h3>
  </div>

  <ul class="list-group">

    <li class="list-group-item" ng-if="!vm.centre.hasLocations()">
      <div class="panel panel-warning">
        <div class="panel-heading">
          Locations have not been added.
        </div>
      </div>
    </li>

    <li class="list-group-item" ng-repeat="location in vm.centre.locations">
      <div class="row">
        <div class="col-md-10">
          <strong>
            <a ui-sref="home.admin.centres.centre.locations.locationView({ uniqueId: location.uniqueId })">
              {{location.name}}
            </a>
          </strong>
        </div>
        <div class="col-md-2">
          <span class="btn-group pull-right">
            <button class="btn btn-xs btn-primary"
                    title="Edit location"
                    ng-if="vm.centre.isDisabled()"
                    ng-click="vm.view(location)">
              <i class="glyphicon glyphicon-edit"></i>
            </button>
            <button class="btn btn-xs btn-warning"
                    title="Remove location"
                    ng-if="vm.centre.isDisabled()"
                    ng-click="vm.remove(location)">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-11" ng-if="vm.location.poBoxNumber">
          <small>
            <strong>
              {{location.street}}<br>
              {{location.city}}, {{location.province}}, {{location.postalCode}}<br>
              {{location.poBoxNumber}}, {{location.countryIsoCode}}
            </strong>
          </small>
        </div>
        <div class="col-md-offset-1 col-md-11" ng-if="!vm.location.poBoxNumber">
          <small>
            <strong>
              {{location.street}}<br>
              {{location.city}}, {{location.province}}, {{location.postalCode}}<br>
              {{location.countryIsoCode}}
            </strong>
          </small>
        </div>
      </div>
    </li>
  </ul>
</div>
