<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false"
              aria-controls="navbar"
              ng-click="vm.navCollapsed = !vm.navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home" >Biobank</a>
    </div>
    <div class="navbar-collapse collapse" uib-collapse="vm.navCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" dropdown="" uib-dropdown ng-if="vm.user">
          <a href="#"
             id="language-dropdown"
             class="dropdown-toggle"
             aria-haspopup="true"
             aria-expanded="false"
             uib-dropdown-toggle>
            <span class="glyphicon glyphicon-globe"></span>
            <translate>Language</translate>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="language-dropdown">
            <li>
              <a ng-click="vm.changeLanguage('en')" translate>English</a>
            </li>
            <li>
              <a ng-click="vm.changeLanguage('es-es')" translate>Spanish</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" dropdown="" uib-dropdown ng-if="vm.user">
          <a href="#!"
             id="user-dropdown"
             class="dropdown-toggle"
             aria-haspopup="true"s
             aria-expanded="false"
             uib-dropdown-toggle>
            <span class="glyphicon glyphicon-user"></span> {{vm.user.name}}<b class="caret"></b>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="user-dropdown">
            <li>
              <a ui-sref="home.admin.access.users.user({ slug: vm.user.slug })">
                <span class="glyphicon glyphicon-cog"></span>
                <translate>Profile</translate>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href ng-click="vm.logout()">
                <span class="glyphicon glyphicon-off"></span>
                <translate>Logout</translate>
              </a>
            </li>
          </ul>
        </li>
        <li><a ui-sref="home.users.login" ng-if="!vm.user" translate>Login</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
