<div class="modal-header">
  <button type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
          ng-click="vm.closePressed()">&times;</button>
  <h3 class="modal-title">{{vm.title}}</h3>
</div>
<div class="modal-body" ng-switch="vm.type">
  <form class="form-horiontal" name="form" novalidate>

    <modal-input-boolean ng-switch-when="boolean"
                         label="{{vm.label}}"
                         value="vm.value"
                         options="vm.options">
    </modal-input-boolean>
    <modal-input-date-time ng-switch-when="dateTime"
                           label="{{vm.label}}"
                           value="vm.value"
                           options="vm.options">
    </modal-input-date-time>
    <modal-input-email ng-switch-when="email"
                       label="{{vm.label}}"
                       value="vm.value"
                       options="vm.options">
    </modal-input-email>
    <modal-input-natural-number ng-switch-when="naturalNumber"
                                label="{{vm.label}}"
                                value="vm.value"
                                options="vm.options">
    </modal-input-natural-number>
    <modal-input-number ng-switch-when="number"
                        label="{{vm.label}}"
                        value="vm.value"
                        options="vm.options">
    </modal-input-number>
    <modal-input-password ng-switch-when="password"
                          label="{{vm.label}}"
                          value="vm.value"
                          options="vm.options">
    </modal-input-password>
    <modal-input-positive-float ng-switch-when="positiveFloat"
                                label="{{vm.label}}"
                                value="vm.value"
                                options="vm.options">
    </modal-input-positive-float>
    <modal-input-select          ng-switch-when="select"
                                 label="{{vm.label}}"
                                 value="vm.value"
                                 options="vm.options">
    </modal-input-select>
    <modal-input-select-multiple ng-switch-when="selectMultiple"
                                 label="{{vm.label}}"
                                 value="vm.value"
                                 options="vm.options">

    </modal-input-select-multiple>
    <modal-input-text ng-switch-when="text"
                      label="{{vm.label}}"
                      value="vm.value"
                      options="vm.options">
    </modal-input-text>
    <modal-input-text-area ng-switch-when="textArea"
                           label="{{vm.label}}"
                           value="vm.value"
                           options="vm.options">
    </modal-input-text-area>
    <modal-input-url ng-switch-when="url"
                     label="{{vm.label}}"
                     value="vm.value"
                     options="vm.options">
    </modal-input-url>

  </form>
</div>
<div class="modal-footer">
  <button class="btn" ng-click="vm.closePressed()" translate>Cancel</button>
  <button class="btn btn-primary"
          ng-click="vm.okPressed()"
          ng-disabled="form.$invalid"
          translate>
    OK
  </button>
</div>
