<ng-form name="subForm">
  <div class="form-group"
       ng-class="{ 'has-error' : subForm.value.$invalid && !subForm.value.$pristine }">
    <label for="value">{{vm.label}}</label>
    <input name="value"
           type="number"
           class="form-control"
           ng-model="vm.value"
           focus-me="true"
           natural-number
           ng-change="vm.valueChanged()"
           ng-required="vm.options.required" />
    <div ng-messages="subForm.value.$error"
         ng-if="subForm.value.$dirty"
         role="alert">
      <div ng-message="required" class="help-block" translate>A number is required</div>
      <div ng-message="naturalNumber" class="help-block" translate>
        Value must be a positive whole number greater than zero
      </div>
    </div>
  </div>
</ng-form>
