<!-- CURRENT PASSWORD -->
<div class="form-group row"
     ng-class="{ 'has-error' : form.currentPassword.$invalid && !form.currentPassword.$pristine }">
  <label for="currentPassword" class="col-md-4 form-control-label" translate>Current password</label>
  <div class="col-md-8">
    <input name="currentPassword"
           type="password"
           class="form-control"
           ng-model="vm.value.currentPassword"
           focus-me="true"
           required />
  </div>
  <div class="col-md-offset-4 col-md-8"
       ng-messages="form.currentPassword.$error"
       ng-if="form.currentPassword.$dirty"
       role="alert">
    <div ng-message="required" class="help-block" translate>Please enter your password</div>
  </div>
</div>

<!-- NEW PASSWORD -->
<div class="form-group row"
     ng-class="{ 'has-error' : form.newPassword.$invalid && !form.newPassword.$pristine }">
  <label for="newPassword" class="col-md-4 form-control-label" translate>New password</label>
  <div class="col-md-8">
    <input name="newPassword"
           type="password"
           class="form-control"
           ng-model="vm.value.newPassword"
           ng-minlength="8"
           required />
  </div>
  <div class="col-md-offset-4 col-md-8"
       ng-messages="form.newPassword.$error"
       ng-if="form.newPassword.$dirty"
       role="alert">
    <div ng-message="required" class="help-block" translate>Please enter a new password</div>
    <div ng-message="minlength" class="help-block" translate>
      Password too short. It should be minimum 8 characters.
    </div>
  </div>
</div>

<!-- CONFIRM PASSWORD -->
<div class="form-group row"
     ng-class="{ 'has-error' : form.confirmPassword.$invalid && !form.confirmPassword.$pristine }">
  <label for="confirmPassword" class="col-md-4 form-control-label">Confirm new password</label>
  <div class="col-md-8">
    <input name="confirmPassword"
           type="password"
           class="form-control"
           ng-model="vm.value.confirmPassword"
           password-check="vm.value.newPassword"
           ng-required />
  </div>
  <div class="col-md-offset-4 col-md-8"
       ng-messages="form.confirmPassword.$error"
       role="alert">
    <div ng-message="passwordmatch" class="help-block" translate>Passwords do not match</div>
  </div>
</div>
