<ng-form name="subForm">
  <div class="form-group"
       ng-class="{ 'has-error' : subForm.value.$invalid && !subForm.value.$pristine }">
    <label for="value">{{vm.label}}</label>
    <input name="value"
           type="number"
           class="form-control"
           ng-model="vm.value"
           focus-me="true"
           positive-float
           ng-change="vm.valueChanged()"
           required />
    <div ng-messages="subForm.value.$error"
         ng-if="subForm.value.$dirty"
         role="alert">
      <div ng-message="positiveFloat" class="help-block" translate>
        Value should be a positive floating point number
      </div>
    </div>
  </div>
</ng-form>
