<ng-form name="subForm">
  <div class="form-group">
    <label for="value">{{vm.label}}</label>
    <input name="value"
           type="text"
           class="form-control"
           ng-model="vm.value"
           ng-minlength="vm.options.minLength"
           focus-me="true"
           ng-change="vm.valueChanged()"
           ng-required="vm.options.required" />
    <div ng-messages="subForm.value.$error"
         ng-if="subForm.value.$dirty"
         role="alert">
      <div ng-message="required" class="help-block" translate>A value is required</div>
      <div ng-message="minlength" class="help-block" translate>
        A value with a minimum length of {{vm.options.minLength}} is required.
      </div>
    </div>
  </div>
</ng-form>
