<ng-form name="subForm">
  <div class="form-group">
    <label for="url">{{vm.label}}</label>
    <input name="value"
           type="url"
           class="form-control"
           ng-model="vm.value"
           focus-me="true"
           ng-change="vm.valueChanged()"
           ng-required="vm.options.required" />
    <div ng-messages="subForm.value.$error"
         ng-if="subForm.value.$dirty"
         role="alert">
      <div ng-message="required" class="help-block" translate>A URL is required</div>
      <div ng-message="url" class="help-block" translate>URL is not valid</div>
    </div>
  </div>
</ng-form>
