<div class="panel panel-default" style="margin-top: 10px;">
  <div class="panel-heading">
    <h3 class="panel-title">{{study.name}}
    <div class="btn-group pull-right">
      <button class="btn btn-xs btn-primary"
              ng-click="updateStudy(study)"
              title="Update">
      <i class="glyphicon glyphicon-edit"></i></button>
      <button class="btn btn-xs btn-success"
              ng-click="changeStatus(study)"
              title="Change status">
      <i class="glyphicon glyphicon-cog"></i></button>
    </div>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <strong>Description: </strong>
        <i class="glyphicon"
           ng-class="{'glyphicon-plus': !descriptionToggle, 'glyphicon-minus': descriptionToggle}"
           ng-click="truncateDescriptionToggle()"
           ng-if="study.description.length > descriptionToggleLength"></i>
      </div>
      <div class="col-md-10">
        {{description}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <strong>Status:</strong>
      </div>
      <div class="col-md-10">
        <p class="text-info">{{study.status}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p class="text-muted"><strong>Date Added:</strong></p>
      </div>
      <div class="col-md-10">
        <p class="text-muted">{{study.addedDate}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" ng-if="study.lastUpdateDate != null">
        <p class="text-muted"><strong>Last updated:</strong></p>
      </div>
      <div class="col-md-10">
        <p class="text-muted">{{study.lastUpdateDate}}</p>
      </div>
    </div>
  </div>
</div>
