<progress-tracker
   items="vm.progressInfo.items"
   current="vm.progressInfo.current">
</progress-tracker>
<div class="page-header">
  <h1>
    <translate>Received shipment</translate>
    <div class="pull-right">
      <button class="btn btn-xs btn-warning"
              title="{{'Return shipment to sent state'|translate}}"
              ng-click="vm.returnToSentState()">
        <i class="glyphicon glyphicon-chevron-left"></i>
        <translate>Previous step</translate>
      </button>
      <button class="btn btn-xs btn-primary"
              title="{{'Record items unpacked from shipment'|translate}}"
              ng-click="vm.unpackShipment()"
              translate>
        <translate>Next step</translate>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </button>
    </div>
  </h1>
</div>
