<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{vm.ceventType.name}}
      <span class="pull-right">
        <button class="btn btn-xs btn-warning"
                title="{{'Remove collection event'|translate}}"
                ng-click="vm.removeCeventType()"
                ng-if="vm.study.isDisabled()">
          Remove <i class="glyphicon glyphicon-remove"></i>
        </button>
        <button class="btn btn-xs btn-primary"
                title="{{'Add an annotation to this collection event'|translate}}"
                ng-click="vm.addAnnotationType()"
                ng-if="vm.study.isDisabled()">
          Add annotation <i class="glyphicon glyphicon-plus"></i>
        </button>
        <button type="button"
                class="btn btn-xs btn-default"
                ng-click="vm.isPanelCollapsed = !vm.isPanelCollapsed">
          <i class="glyphicon"
             ng-class="vm.isPanelCollapsed ? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'"></i>
        </button>
      </span>
    </h3>
  </div>
  <div uib-collapse="vm.isPanelCollapsed" class="panel-collapse">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <strong translate>Name:</strong>
          </div>
          <div class="col-md-8">
            {{vm.ceventType.name}}
          </div>
          <div class="col-md-2">
            <button class="btn btn-xs btn-primary pull-right"
                    title="{{'Edit name'|translate}}"
                    ng-click="vm.editName()"
                    ng-if="vm.study.isDisabled()">
              <i class="glyphicon glyphicon-edit"></i>
            </button>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <strong translate>Description:</strong>
          </div>
          <div class="col-md-10">
            <truncate-toggle
               text="vm.ceventType.description"
               toggle-length="60"
               text-empty-warning="{{'Description not entered yet.'|translate}}"
               allow-edit="vm.study.isDisabled()"
               on-edit="vm.editDescription()">
            </truncate-toggle>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <strong translate>Recurring:</strong>
          </div>
          <div class="col-md-8" ng-if="vm.ceventType.recurring" translate>Yes</div>
          <div class="col-md-8" ng-if="!vm.ceventType.recurring" translate>No</div>
          <div class="col-md-2">
            <button class="btn btn-xs btn-primary pull-right"
                    title="{{'Edit recurring'|translate}}"
                    ng-click="vm.editRecurring()"
                    ng-if="vm.study.isDisabled()">
              <i class="glyphicon glyphicon-edit"></i>
            </button>
          </div>
        </div>
      </li>
      <li class="list-group-item" ng-repeat="annotationType in vm.ceventType.annotationTypes">
        <div class="row">
          <div class="col-md-2">
            <strong translate>Annotation:</strong>
          </div>
          <div class="col-md-8">
            <annotation-type-summary annotation-type="annotationType"></annotation-type-summary>
          </div>
          <div class="col-md-2">
            <update-remove-buttons
               on-update="vm.editAnnotationType(annotationType)"
               on-remove="vm.removeAnnotationType(annotationType)"
               update-button-enabled="vm.study.isDisabled()"
               remove-button-enabled="vm.study.isDisabled()">
            </update-remove-buttons>
          </div>
        </div>
      </li>
    </ul>
    <status-line item="vm.ceventType"></status-line>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <translate>Specimens collected for this event</translate>
      <span class="pull-right">
        <button class="btn btn-xs btn-primary"
                title="{{'Add a specimen to this collection event'|translate}}"
                ng-click="vm.addSpecimenSpec()"
                ng-if="vm.study.isDisabled()">
          Add specimen
          <i class="glyphicon glyphicon-plus"></i>
        </button>
      </span>
    </h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-if="vm.ceventType.specimenSpecs.length <= 0">
      <div class="panel panel-warning">
        <div class="panel-heading" translate>
          No specimens defined yet.
        </div>
      </div>
    </li>
    <li class="list-group-item"
        ng-repeat="specimenSpec in vm.ceventType.specimenSpecs">
      <div class="row">
        <div class="col-md-10">
          <collection-specimen-spec-summary specimen-spec="specimenSpec">
          </collection-specimen-spec-summary>
        </div>
        <div class="col-md-2">
          <update-remove-buttons
             on-update="vm.editSpecimenSpec(specimenSpec)"
             on-remove="vm.removeSpecimenSpec(specimenSpec)"
             update-button-enabled="vm.study.isDisabled()"
             remove-button-enabled="vm.study.isDisabled()">
          </update-remove-buttons>
        </div>
      </div>
    </li>
  </ul>
</div>
