<div class="modal-header">
  <button type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
          ng-click="ok()">&times;</button>
  <h3 class="modal-title">Participant Annotation Type</h3>
</div>
<div class="modal-body">
  <table ng-table="tableParams" class="table table-hover">
    <tr ng-repeat="rowData in $data">
      <td>
        <strong>{{rowData.name}}</strong>
      </td>
      <td>
        {{rowData.value}}
      </td>
    </tr>
  </table>
</div>
