<div class="page-header">
  <h1>{{vm.user.name}} <small>Profile</small></h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <translate>Profile</translate>
      <span class="btn-group pull-right">
        <button class="btn btn-xs btn-primary"
                ng-click="vm.updatePassword()"
                title="{{'Change your password'|translate}}">
          <translate>Update password</translate>
          <i class="glyphicon glyphicon-edit"></i>
        </button>
      </span>
    </h3>
  </div>

  <!-- NAME -->
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3"><strong translate>Name</strong></div>
        <div class="col-md-7">{{vm.user.name}}</div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Update name'|translate}}"
                  ng-click="vm.updateName()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>

    <!-- EMAIL -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3"><strong translate>Email</strong></div>
        <div class="col-md-7">{{vm.user.email}}</div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Update email'|translate}}"
                  ng-click="vm.updateEmail()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>

    <!-- AVATAR URL -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3"><strong translate>Avatar URL</strong></div>
        <div class="col-md-6" ng-if="vm.user.avatarUrl">
          <a target="_blank" ng-href="{{vm.user.avatarUrl}}">{{vm.user.avatarUrl}}</a>
        </div>
        <div class="col-md-6" ng-if="! vm.user.avatarUrl" translate>
          None
        </div>
        <div class="col-md-3">
          <update-remove-buttons
             on-update="vm.updateAvatarUrl()"
             on-remove="vm.removeAvatarUrl()"
             update-button-enabled="'true'"
             remove-button-enabled="vm.allowRemoveAvatarUrl">
          </update-remove-buttons>
        </div>
      </div>
    </li>

    <!-- ROLES -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3"><strong translate>Roles</strong></div>
        <div class="col-md-9">{{vm.user.roles.sort().join(', ')}}</div>
      </div>
    </li>

    <!-- STUDY MEMBERSHIPS -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3"><strong translate>Study Memberhips</strong></div>
        <div class="col-md-9">{{vm.studyMemberships}}</div>
      </div>
    </li>

    <!-- CENTRE MEMBERSHIPS -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3"><strong translate>Centre Memberships</strong></div>
        <div class="col-md-9">{{vm.centreMemberships}}</div>
      </div>
    </li>
  </ul>
  <status-line item="vm.user" show-status="false"></status-line>
</div>
