<div class="page-header">
  <h1>{{vm.study.name}} <small>{{vm.title}}</small></h1>
</div>
<div class="clearfix">
  <form class="form-horizontal"
        name="ptForm"
        novalidate>

    <!-- NAME -->
    <div class="form-group" data-ng-class="{ 'has-error' : ptForm.name.$invalid && !ptForm.name.$pristine }">
      <label for="name" class="col-md-2 control-label">Name</label>
      <div class="col-md-10">
        <input name="name"
               type="text"
               class="form-control"
               data-ng-model="vm.processingType.name"
               data-ng-minlength="2"
               placeholder="A short name for the processing type"
               required />
      </div>
      <div class="col-md-offset-2 col-md-10">
        <p class="help-block" data-ng-show="ptForm.name.$error.minlength">Name is too short.</p>
      </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
      <label for="description" class="col-md-2 control-label">Description</label>
      <div class="col-md-10">
        <textarea name="description"
                  class="form-control"
                  rows="10"
                  data-ng-model="vm.processingType.description"
                  placeholder="A description of the processing type (optional)" />
      </div>
    </div>

    <!-- ENABLED -->
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input name="enabled" type="checkbox" data-ng-model="vm.processingType.enabled"/> Enabled
      </div>
    </div>

    <!-- BUTTONS  -->
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button class="btn btn-primary"
                data-ng-disabled="ptForm.$invalid"
                data-ng-click="vm.submit(vm.processingType)">Submit</button>
        <button class="btn" data-ng-click="vm.cancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
