<!-- SPECIMEN LINK TYPES -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{panel.spcLinkTypes.title}}
    <add-button on-add="panel.spcLinkTypes.add(study)"></add-button>
    </h3>
  </div>
  <div class="panel-body">
    <p>{{panel.spcLinkTypes.header}}</p>
    <div class="panel panel-warning" ng-if="panel.spcLinkTypes.data.length == 0">
      <div class="panel-heading">
        Specimen link types have not been defined for this study yet.
      </div>
    </div>
    <p ng-if="panel.spcLinkTypes.data.length != 0">
      The following specimen link types have been defined:
    </p>
  </div>
  <table ng-show="panel.spcLinkTypes.data.length != 0"
         class="table table-hover"
         ng-table="panel.spcLinkTypes.tableParams">
    <tr ng-repeat="spcLinkType in $data">
      <td data-title="'Name'" sortable="'name'">
        {{spcLinkType.name}}
      </td>
      <td data-title="'Specimen Groups'">
        {{cetSgNames[spcLinkType.id].join(", ")}}
      </td>
      <td data-title="'Recurring'" sortable="'recurring'">
        {{spcLinkType.recurring ? 'Y' : 'N'}}
      </td>
      <td data-title="'Description'" sortable="'description'">
        {{spcLinkType.description === null ? "" : spcLinkType.description | truncate:40}}
      </td>
      <td>
        <info-update-remove-buttons
            on-info="panel.spcLinkTypes.information(spcLinkType)"
            on-update="panel.spcLinkTypes.update(spcLinkType)"
            on-remove="panel.spcLinkTypes.remove(spcLinkType)">
        </info-update-remove-buttons>
      </td>
    </tr>
  </table>
</div>

