<div class="page-header">
  <h1>{{vm.study.name}} <small>{{vm.title}}</small></h1>
</div>
<form class="form-horizontal"
      name="spcLinkTypeForm"
      novalidate>

  <!-- PROCESSING TYPE -->
  <div class="form-group">
    <label for="procTypeId" class="col-md-3 form-control-label">Processing Type</label>
    <div class="col-md-9">
      <select class="form-control"
              name="procTypeId"
              ng-model="vm.specimenLinkType.processingTypeId"
              ng-options="pt.id as pt.name for pt in vm.processingTypes | orderBy: 'name'"
              focus-me="true"
              required>
        <option value="">-- choose processing type --</option>
      </select>
    </div>
  </div>
  <div class="col-md-offset-3 col-md-9">
    <p class="help-block"
       ng-show="spcLinkTypeForm.procTypeName.$error.required && !spcLinkTypeForm.procTypeName.$pristine">
      Please select a processing type
    </p>
  </div>

  <!-- INPUT SPECIMEN GROUP -->
  <div class="form-group">
    <label for="inputGroupId" class="col-md-3 form-control-label">Input Specimen Group</label>
    <div class="col-md-9">
      <select class="form-control"
              name="inputGroupId"
              ng-model="vm.specimenLinkType.inputGroupId"
              ng-options="sg.id as sg.name for sg in vm.studySpecimenGroups | orderBy: 'name'"
              required>
        <option value="">-- choose specimen group --</option>
      </select>
    </div>
  </div>
  <div class="col-md-offset-3 col-md-9">
    <p class="help-block"
       ng-show="spcLinkTypeForm.inputGroupName.$error.required && !spcLinkTypeForm.inputGroupName.$pristine">
      Please select a specimen group
    </p>
  </div>

  <!-- INPUT COUNT -->
  <div class="form-group">
    <label for="inputCount" class="col-md-3 form-control-label">Input count</label>
    <div class="col-md-2">
      <input type="number"
             min="1"
             name="inputCount"
             class="form-control input-sm"
             ng-model="vm.specimenLinkType.inputCount"
             placeholder="count"
             positive-float
             required />
    </div>
  </div>
  <div class="col-md-offset-3 col-md-9">
    <p class="help-block"
       ng-show="spcLinkTypeForm.inputCount.$error.validCount">
      Input count should be a positive integer number greater than 1
    </p>
  </div>

  <!-- EXPECTED INPUT CHANGE -->
  <div class="form-group">
    <label for="expectedInputChange" class="col-md-3 form-control-label">Expected Input change</label>
    <div class="col-md-2">
      <input type="number"
             min="0"
             name="expectedInputChange"
             class="form-control input-sm"
             ng-model="vm.specimenLinkType.expectedInputChange"
             placeholder="amount"
             natural-number
             required />
    </div>
    <div class="col-md-2">
      {{vm.getSpecimenGroupUnits(vm.specimenLinkType.inputGroupId)}}
    </div>
  </div>
  <div class="col-md-offset-3 col-md-9">
    <p class="help-block"
       ng-show="spcLinkTypeForm.expectedInputChange.$error.validAmount">
      Input change should be a positive floating point number greater than zero
    </p>
  </div>

  <!-- INPUT CONTAINER TYPE -->
  <div class="form-group">
    <label for="inputContainertypeId" class="col-md-3 form-control-label">Input Container Type</label>
    <div class="col-md-9">
      <select class="form-control"
              name="inputContainertypeId"
              ng-model="vm.specimenLinkType.inputContainertypeName"
              ng-options="ct.id as ct.name for ct in vm.containerTypes | orderBy: 'name'">
        <option value="">None</option>
      </select>
    </div>
  </div>

  <!-- OUTPUT SPECIMEN GROUP -->
  <div class="form-group">
    <label for="outputGroupId" class="col-md-3 form-control-label">Output Specimen Group</label>
    <div class="col-md-9">
      <select class="form-control"
              name="outputGroupId"
              ng-model="vm.specimenLinkType.outputGroupId"
              ng-options="sg.id as sg.name for sg in vm.studySpecimenGroups | orderBy: 'name'"
              required>
        <option value="">-- choose specimen group --</option>
      </select>
    </div>
  </div>
  <div class="col-md-offset-3 col-md-9">
    <p class="help-block"
       ng-show="spcLinkTypeForm.outputGroupName.$error.required && !spcLinkTypeForm.outputGroupName.$pristine">
      Please select a specimen group
    </p>
  </div>

  <!-- OUTPUT COUNT -->
  <div class="form-group">
    <label for="outputCount" class="col-md-3 form-control-label">Output count</label>
    <div class="col-md-2">
      <input type="number"
             min="1"
             name="outputCount"
             class="form-control input-sm"
             ng-model="vm.specimenLinkType.outputCount"
             placeholder="count"
             positive-float
             required />
    </div>
  </div>
  <div class="col-md-offset-3 col-md-9">
    <p class="help-block" ng-show="spcLinkTypeForm.outputCount.$error.validCount">
      Output count should be a positive an integer number greater than 1
    </p>
  </div>

  <!-- EXPECTED OUTPUT CHANGE -->
  <div class="form-group">
    <label for="expectedOutputChange" class="col-md-3 form-control-label">Expected Output change</label>
    <div class="col-md-2">
      <input type="number"
             min="0"
             name="expectedOutputChange"
             class="form-control input-sm"
             ng-model="vm.specimenLinkType.expectedOutputChange"
             placeholder="amount"
             natural-number
             required />
    </div>
    <div class="col-md-2">
      {{vm.getSpecimenGroupUnits(vm.specimenLinkType.outputGroupId)}}
    </div>
  </div>
  <div class="col-md-offset-3 col-md-9">
    <p class="help-block"
       ng-show="spcLinkTypeForm.expectedOutputChange.$error.validAmount">
      Input change should be a positive floating point number greater than zero
    </p>
  </div>

  <!-- OUTPUT CONTAINER TYPE -->
  <div class="form-group">
    <label for="outputContainertypeId" class="col-md-3 form-control-label">Output Container Type</label>
    <div class="col-md-9">
      <select class="form-control"
              name="outputContainertypeId"
              ng-model="vm.specimenLinkType.outputContainertypeId"
              ng-options="ct.id as ct.name for ct in vm.containerTypes | orderBy: 'name'">
        <option value="">None</option>
      </select>
    </div>
  </div>

  <!-- ANNOTATION TYPE DATA -->
  <div class="form-group" ng-repeat="atData in vm.specimenLinkType.annotationTypeData track by $index">
    <ng-form name="atSubForm">
      <label class="col-md-3 form-control-label">Annotation Type {{$index + 1}}</label>
      <div class="col-md-4">
        <select class="form-control"
                name="annotationTypeName"
                ng-model="vm.specimenLinkType.annotationTypeData[$index].annotationTypeId"
                ng-options="annotationType.id as annotationType.name for annotationType in vm.studyAnnotationTypes | orderBy: 'name'"
                required>
          <option value="">-- choose annotation type --</option>
        </select>
      </div>
      <div class="col-md-2">
        <input name="required"
               type="checkbox"
               ng-model="vm.specimenLinkType.annotationTypeData[$index].required"/> Required
      </div>
      <div class="col-md-1">
        <button class="btn btn-xs btn-warning"
                ng-click="vm.removeAnnotationType($index)">
          <i class="glyphicon glyphicon-remove"></i> Remove
        </button>
      </div>
      <div class="col-md-offset-3 col-md-9">
        <p class="help-block" ng-show="atSubForm.name.$error.required && !atSubForm.name.$pristine">
          Please select an annotation type
        </p>
      </div>
    </ng-form>
  </div>

  <!-- ANNOTATION TYPE DATA ADD -->
  <div class="form-group">
    <div class="col-md-3">
      <button class="btn btn-sm btn-primary pull-right"
              ng-disabled="annotationTypeNames == 0"
              ng-click="vm.addAnnotationType()">
        Add annotation type <i class="glyphicon glyphicon-plus"></i>
      </button>
    </div>
  </div>

  <!-- BUTTONS  -->
  <div class="form-group">
    <div class="col-md-offset-3 col-md-9">
      <button class="btn btn-primary"
              ng-disabled="spcLinkTypeForm.$invalid"
              ng-click="vm.submit(vm.specimenLinkType)">Submit</button>
      <button type="button" class="btn" ng-click="vm.cancel()">Cancel</button>
    </div>
  </div>
</form>
