<accordion-group is-open="vm.panelOpen" style="margin-top: 10px;">
  <accordion-heading>
    Specimen Link Types
    <panel-buttons on-add="vm.add(study)"
                   add-button-title="add specimen link type"
                   add-button-enabled="vm.modificationsAllowed"
                   panel-open="vm.panelOpen">
    </panel-buttons>
  </accordion-heading>
  <p>
    Specimen Link Types are assigned to a processing type, and used to represent a regularly performed
    processing procedure involving two Specimens: an input, which must be in a specific Specimen Group, and an
    output, which must be in a specific Specimen Group.
  </p>
  <div class="panel panel-warning" ng-if="vm.specimenLinkTypes.length == 0">
    <div class="panel-heading">
      Specimen link types have not been defined for this study yet.
    </div>
  </div>
  <p ng-if="vm.specimenLinkTypes.length > 0">
    The following specimen link types are defined:
  </p>
  <table ng-show="vm.specimenLinkTypes.length > 0"
         class="table table-condensed table-hover"
         ng-table="vm.tableParams">
    <tr ng-repeat="specimenLinkType in $data">
      <td data-title="'Processing Type'"
          sortable="'processingTypeName'"
          ng-click="vm.showProcessingType(specimenLinkType.processingTypeId)">
        <a href>{{specimenLinkType.processingType.name}}</a>
      </td>
      <td data-title="'Input Specimen Group'"
          sortable="'inputGroupName'"
          ng-click="vm.viewSpecimenGroup(specimenLinkType.inputGroupId)">
        <a href>{{specimenLinkType.inputGroup.name}}</a>
      </td>
      <td data-title="'Output Specimen Group'"
          sortable="'outputGroupName'"
          ng-click="vm.viewSpecimenGroup(specimenLinkType.outputGroupId)">
        <a href>{{specimenLinkType.outputGroup.name}}</a>
      </td>
      <td data-title="'Annotation Types'">
        <span ng-repeat="atItemId in specimenLinkType.allAnnotationTypeDataIds()"
             ng-click="vm.viewAnnotationType(atItemId)">
          <a href>
            {{specimenLinkType.getAnnotationTypeData(atItemId).annotationType.name}}
          </a><span ng-if="!$last">, </span>
        </span>

      </td>
      <td ng-if="vm.modificationsAllowed">
        <info-update-remove-buttons
           on-info="vm.information(specimenLinkType)"
           on-update="vm.update(specimenLinkType)"
           on-remove="vm.remove(specimenLinkType)"
           update-button-enabled="vm.modificationsAllowed"
           remove-button-enabled="vm.modificationsAllowed">
        </info-update-remove-buttons>
      </td>
    </tr>
  </table>
</accordion-group>
