<div>
  <form class="form-inline" name="filters" style="margin-bottom: 20px;">
    <div class="form-group">
      <label for="status" class="small">Name filter:</label>
      <input type="text"
             class="form-control input-sm"
             name="nameFilter"
             ng-model="vm.pagerOptions.filter"
             ng-model-options="{ debounce: 500 }"
             ng-change="vm.nameFilterUpdated()">
    </div>
    <div class="form-group">
      <label for="status" class="small">Status filter:</label>
      <select class="form-control input-sm"
              name="status"
              ng-model="vm.pagerOptions.status"
              ng-options="status.id as status.label for status in vm.possibleStatuses"
              ng-change="vm.statusFilterUpdated()">
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-sm"
              ng-click="vm.clearFilters()">
        Clear filters <i class="glyphicon glyphicon-erase"></i>
      </button>
    </div>
  </form>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <span ng-bind-html="vm.panelHeading"></span>

    <div class="dropdown pull-right">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <small class="text-muted">Sort <b class="caret"></b></small>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li role="presentation" class="dropdown-header">Sort by</li>
        <li ng-repeat="sortField in vm.sortFields">
          <a ng-click="vm.sortFieldSelected(sortField)">{{sortField}}</a>
        </li>
      </ul>
    </div>
  </div>

  <ul class="list-group" ng-if="vm.displayState === vm.displayStates.NO_STUDIES">
    <li class="list-group-item">
      <p class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-warning-sign"></span> {{vm.messageNoItems}}
      </p>
    </li>
  </ul>

  <ul class="list-group" ng-if="vm.displayState === vm.displayStates.NO_RESULTS">
    <li class="list-group-item">
      <p class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-warning-sign"></span> {{vm.messageNoResults}}
      </p>
    </li>
  </ul>

  <ul class="list-group" ng-if="vm.displayState === vm.displayStates.HAVE_RESULTS">
    <li class="list-group-item" ng-repeat="entity in vm.pagedResult.items">
      <div class="row">
        <div class="col-md-12">
          <!-- FIXME replace this with a controller call -->
          <i class="glyphicon glyphicon-cog" ng-if="entity.isDisabled()"></i>
          <i class="glyphicon glyphicon-ok-circle" ng-if="entity.isEnabled()"></i>
          <i class="glyphicon glyphicon-remove-sign" ng-if="entity.isRetired()"></i>
          <strong><a ui-sref="{{vm.entityNavigateState}}( { {{vm.entityNavigateStateParamName}}: entity.id} )">
              {{entity.name}}</a>
          </strong>
          <p>{{entity.description === null ? "" : entity.description | truncate:100}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <small class="text-info"><strong>Status:</strong> {{ entity.statusLabel }}</small>
        </div>
        <div class="col-md-3">
          <small class="text-muted"><strong>Added:</strong> {{entity.timeAdded | timeago}}</small>
        </div>
        <div class="col-md-3" data-ng-if="entity.timeModified">
          <small class="text-muted"><strong>Updated:</strong> {{entity.timeModified | timeago}}</small>
        </div>
      </div>
    </li>
  </ul>

</div>

<uib-pagination class="pagination-sm"
                boundary-links="true"
                total-items="vm.pagedResult.total"
                ng-model="vm.pagerOptions.page"
                items-per-page="vm.pagerOptions.pageSize"
                ng-change="vm.pageChanged()"
                num-pages="vm.paginationNumPages"
                max-size="5"
                rotate="false"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"
                ng-if="vm.displayState === vm.displayStates.HAVE_RESULTS"></uib-pagination>
