<div ng-if="vm.shipmentStateValid">
  <div ng-switch="vm.shipment.state">
    <shipment-view-packed    ng-switch-when="packed"    shipment="vm.shipment"></shipment-view-packed>
    <shipment-view-sent      ng-switch-when="sent"      shipment="vm.shipment"></shipment-view-sent>
    <shipment-view-received  ng-switch-when="received"  shipment="vm.shipment"></shipment-view-received>
    <shipment-view-completed ng-switch-when="completed" shipment="vm.shipment"></shipment-view-completed>
    <shipment-view-lost      ng-switch-when="lost"      shipment="vm.shipment"></shipment-view-lost>
  </div>
  <shipping-info-view shipment="vm.shipment" collapsible="true" read-only="true">
  </shipping-info-view>
  <shipment-specimens-view shipment="vm.shipment"
                           read-only="true"
                           show-item-state="vm.showSpecimenState"
                           ng-if="vm.shipment.specimenCount > 0">
  </shipment-specimens-view>
</div>
<div ng-if="!vm.shipmentStateValid">
  <div class="page-header">
    <h1>
      {{vm.shipment.courierName}}<small>: {{vm.shipment.trackingNumber}}
      <br/>{{vm.pageHeader}}</small>
    </h1>
  </div>
  <div class="alert alert-warning">
    <span class="glyphicon glyphicon-warning-sign"></span>
    <translate>
      Cannot display information for shipment <em>{{vm.shipment.courierName}}: {{vm.shipment.trackingNumber}}</em> since
      it is in the wrong state.
    </translate>
  </div>
</div>
