<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false"
              aria-controls="navbar"
              ng-click="vm.navCollapsed = !vm.navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Biobank</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" ng-if="vm.user">
          <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown"
             role="button"
             aria-haspopup="true"
             aria-expanded="false">
            <translate>Language</translate>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href ng-click="vm.changeLanguage('en')">
                <span class="glyphicon glyphicon-cog"></span>
                <translate>English</translate>
              </a>
            </li>
            <li>
              <a href ng-click="vm.changeLanguage('es_419')">
                <span class="glyphicon glyphicon-cog"></span>
                <translate>Spanish</translate>
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown" dropdown="" uib-dropdown ng-if="vm.user">
          <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown"
             role="button"
             aria-haspopup="true"
             aria-expanded="false">
            <span class="glyphicon glyphicon-user"></span> {{vm.user.name}}<b class="caret"></b>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="user-dropdown">
            <li>
              <a href="#/profile">
                <span class="glyphicon glyphicon-cog"></span>
                <translate>Profile</translate>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href ng-click="vm.logout()">
                <span class="glyphicon glyphicon-off"></span>
                <translate>Logout</translate>
              </a>
            </li>
          </ul>
        </li>
        <li><a href="#/login" ng-if="!vm.user" translate>Login</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div ng-if="!!vm.user">
  <ui-breadcrumbs
      displayname-property="data.displayName"
      template-url="/assets/javascripts/common/directives/uiBreadcrumbs.tpl.html"
      abstract-proxy-property="data.breadcrumbProxy">
  </ui-breadcrumbs>
</div>
