<header class="navbar navbar-inverse navbar-fixed-top basics-nav">
  <div class="container">
    <a href="#/" class="navbar-brand">Biobank</a>
    <div  ng-if="!!vm.user" ng-cloak>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <span class="glyphicon glyphicon-user"></span> {{vm.user.name}}
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#/profile">
                <span class="glyphicon glyphicon-cog"></span> Profile
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href ng-click="vm.logout()">
                <span class="glyphicon glyphicon-off"></span> Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav pull-right" ng-if="!vm.user" ng-cloak>
      <li><a href="#/login">Login</a></li>
    </ul>
  </div>
</header>
<div ng-if="!!vm.user">
  <ui-breadcrumbs
     displayname-property="data.displayName"
     template-url="/assets/javascripts/common/directives/uiBreadcrumbs.tpl.html"
     abstract-proxy-property="data.breadcrumbProxy">
  </ui-breadcrumbs>
</div>
