<collapsible-panel heading="{{'Shipment information'|translate}}">
  <ul class="list-group">

    <!-- COURIER NAME -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Courier</strong>
        </div>
        <div class="col-md-7">
          {{vm.shipment.courierName}}
        </div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  title="Update courier"
                  ng-if="!vm.readOnly"
                  ng-click="vm.editCourierName()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>

    <!-- TRACKING NUMBER -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Tracking number</strong>
        </div>
        <div class="col-md-7">
          {{vm.shipment.trackingNumber}}
        </div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  title="Update tracking number"
                  ng-if="!vm.readOnly"
                  ng-click="vm.editTrackingNumber()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>

    <!-- FROM CENTRE -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <strong translate>From</strong>
        </div>
        <div class="col-md-7">
          {{vm.shipment.fromLocationInfo.name}}
        </div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  title="Update from location"
                  ng-if="!vm.readOnly"
                  ng-click="vm.editFromLocation()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>

    <!-- TO CENTRE -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <strong translate>To</strong>
        </div>
        <div class="col-md-7">
          {{vm.shipment.toLocationInfo.name}}
        </div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  title="Update to location"
                  ng-if="!vm.readOnly"
                  ng-click="vm.editToLocation()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>

    <!-- TIME PACKED -->
    <li class="list-group-item" ng-if="vm.shipment.timePacked">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Time packed</strong>
        </div>
        <div class="col-md-9">
          {{vm.shipment.timePacked | localTime}}
        </div>
      </div>
    </li>

    <!-- TIME SENT -->
    <li class="list-group-item" ng-if="vm.shipment.timeSent">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Time sent</strong>
        </div>
        <div class="col-md-9">
          {{vm.shipment.timeSent | localTime}}
        </div>
      </div>
    </li>

    <!-- TIME RECEIVED -->
    <li class="list-group-item" ng-if="vm.shipment.timeReceived">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Time received</strong>
        </div>
        <div class="col-md-9">
          {{vm.shipment.timeReceived | localTime}}
        </div>
      </div>
    </li>

    <!-- TIME UNPACKED -->
    <li class="list-group-item" ng-if="vm.shipment.timeUnpacked">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Time unpacked</strong>
        </div>
        <div class="col-md-9">
          {{vm.shipment.timeUnpacked | localTime}}
        </div>
      </div>
    </li>

    <!-- TIME COMPLETED -->
    <li class="list-group-item" ng-if="vm.shipment.timeCompleted">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Time completed</strong>
        </div>
        <div class="col-md-9">
          {{vm.shipment.timeCompleted | localTime}}
        </div>
      </div>
    </li>

    <!-- NUM CONTAINERS -->
    <li class="list-group-item" ng-if="vm.shipment.isPacked() && vm.shipment.containerCount > 0">
      <div class="row">
        <div class="col-md-3">
          <strong>Number of containers</strong>
        </div>
        <div class="col-md-9">
          {{vm.shipment.containerCount}}
        </div>
      </div>
    </li>

  </ul>
  <status-line item="vm.shipment"></status-line>
</collapsible-panel>
