<div class="row">
  <div class="col-lg-12">
    <collapsable-panel heading="{{'Unpacked specimens'|translate}}">
      <ss-specimens-paged-table default-sort-field="inventoryId"
                                refresh="vm.refreshNonReceivedSpecimensTable"
                                show-item-state="true"
                                on-get-specimens="vm.getPresentSpecimens"
                                no-specimens-message="{{'No specimens present in shipment'|translate}}"
                                actions="vm.actions"
                                on-action-selected="vm.nonReceivedSpecimensTableActionSelected">
      </ss-specimens-paged-table>
    </collapsable-panel>
  </div>
</div>
