<div class="page-header">
  <h1>Specimen collection</h1>
</div>
<div class="row" ng-if="!vm.haveEnabledStudies">
  <div class="col-md-12">
    <div class="alert alert-warning" role="alert">
      <p><span class="glyphicon glyphicon-warning-sign"></span>
        No studies are enabled. Cannot process any specimens yet.</p>
    </div>
  </div>
</div>
<div class="row" ng-if="!vm.haveEnabledCentres">
  <div class="col-md-12">
    <div class="alert alert-warning" role="alert">
      <p><span class="glyphicon glyphicon-warning-sign"></span>
        No centres are enabled. Cannot process any specimens yet.</p>
    </div>
  </div>
</div>
<div class="row" ng-if="vm.isCollectionAllowed">
  <div class="col-md-12">
    <h4>Select the study you wish to work with:</h4>
  </div>
</div>
<div class="row" ng-if="vm.isCollectionAllowed" ng-cloak>
  <div class="col-md-6">
    <select-study get-header="vm.getEnabledStudiesPanelHeader"
                  get-studies="vm.updateEnabledStudies"
                  icon="glyphicon-ok-circle"
                  page-size="4"
                  message-no-results="No results match the criteria."
                  navigate-state-name="home.collection.study"
                  navigate-state-param-name="studyId">
    </select-study>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Studies you contribute to</h3>
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <p class="alert alert-warning" role="alert">
            <span class="glyphicon glyphicon-warning-sign"></span> You have not contributed to any studies.
          </p>
        </li>
      </ul>

      <div class="panel-footer">
        <form class="form-inline" name="filters">
          <div class="form-group">
            <label for="nameFilter" class="small">Name filter:</label>
            <input type="text"
                   class="form-control input-sm"
                   name="nameFilter"
                   ng-model="vm.pagerOptions.filter"
                   ng-model-options="{ debounce: 500 }"
                   ng-change="vm.nameFilterUpdated()">
          </div>
          <div class="form-group">
            <button class="btn btn-sm"
                    ng-click="vm.clearFilter()">
              Clear filter <i class="glyphicon glyphicon-erase"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
