<div class="page-header">
  <h1>{{vm.study.name}} <small>{{vm.title}}</small></h1>
</div>

<form class="form-horizontal"
      name="collectionEventForm"
      novalidate>

  <!-- COLLECTION EVENT TYPE: read only -->
  <div class="form-group row">
    <label for="ceventTypeId" class="col-md-2 form-control-label" translate>Event Type</label>
    <div class="col-md-10">
      <input ng-readonly="true"
             class="form-control"
             ng-model="vm.collectionEvent.collectionEventType.name">
    </div>
  </div>

  <!-- VISIT NUMBER -->
  <div class="form-group row"
       ng-class="{ 'has-error' : collectionEventForm.visitNumber.$invalid &&
                 !collectionEventForm.visitNumber.$pristine }">

    <label for="visitNumber" class="col-md-2 form-control-label" translate>Visit number</label>
    <div class="col-md-10">
      <input name="visitNumber"
             type="number"
             class="form-control"
             ng-model="vm.collectionEvent.visitNumber"
             min="1"
             placeholder="{{'A unique number for this participant'|translate}}"
             focus-me="true"
             required />
    </div>
    <div class="col-md-offset-2 col-md-10"
         ng-messages="collectionEventForm.visitNumber.$error"
         ng-if="collectionEventForm.visitNumber.$dirty">
      <div ng-message="required" class="help-block" translate>Visit number is required</div>
      <div ng-message="min" class="help-block" translate>Visit number has to be a positive number</div>
      <div ng-message="number" class="help-block" translate>Invalid number</div>
    </div>
  </div>

  <!-- TIME COMPLETED -->
  <date-time-picker label="{{'Time completed'|translate}}"
                    default-value="vm.timeCompleted"
                    required="true"
                    on-edit="vm.dateTimeOnEdit">
  </date-time-picker>

  <!-- ANNOTATION TYPES  -->
  <annotations-input annotations="vm.collectionEvent.annotations"></annotations-input>

  <!-- BUTTONS  -->
  <div class="form-group row">
    <div class="col-md-offset-2 col-md-10">
      <button class="btn btn-primary"
              ng-disabled="collectionEventForm.$invalid"
              ng-click="vm.submit()"
              translate>Submit</button>
      <button type="button" class="btn" ng-click="vm.cancel()" translate>Cancel</button>
    </div>
  </div>
</form>
