<div class="page-header">
  <h1>{{vm.study.name}} <small>{{vm.title}}</small></h1>
</div>

<form class="form-horizontal"
      name="collectionEventForm"
      novalidate>

  <!-- COLLECTION EVENT TYPE: read only -->
  <div class="form-group">
    <label for="ceventTypeId" class="col-md-2 control-label">Event Type</label>
    <div class="col-md-10">
      <input ng-readonly="true"
             class="form-control"
             ng-model="vm.collectionEvent.collectionEventType.name">
    </div>
  </div>

  <!-- VISIT NUMBER -->
  <div class="form-group"
       ng-class="{ 'has-error' : collectionEventForm.visitNumber.$invalid &&
                 !collectionEventForm.visitNumber.$pristine }">

    <label for="visitNumber" class="col-md-2 control-label">Visit number</label>
    <div class="col-md-10">
      <input name="visitNumber"
             type="number"
             class="form-control"
             ng-model="vm.collectionEvent.visitNumber"
             min="1"
             placeholder="A unique number for this participant"
             focus-me="true"
             required />
    </div>
    <div class="col-md-offset-2 col-md-10">
      <p class="help-block"
         ng-show="collectionEventForm.visitNumber.$error.required &&
                  !collectionEventForm.visitNumber.$pristine">
        Visit number is required
      </p>
      <p class="help-block"
         ng-show="collectionEventForm.visitNumber.$error.min &&
                  !collectionEventForm.visitNumber.$pristine">
        Visit number has to be a positive number
      </p>
    </div>
  </div>

  <!-- TIME COMPLETED -->
  <date-time
     label="Time Completed"
     date-value="vm.timeCompleted.date"
     time-value="vm.timeCompleted.time"
     required="true">
  </date-time>

  <!-- ANNOTATION TYPES  -->
  <annotations-input annotations="vm.collectionEvent.annotations"></annotations-input>

  <!-- BUTTONS  -->
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button class="btn btn-primary"
              ng-disabled="collectionEventForm.$invalid"
              ng-click="vm.submit()">Submit</button>
      <button type="button" class="btn" ng-click="vm.cancel()">Cancel</button>
    </div>
  </div>
</form>
