<div class="page-header"><h1>Biobank Log In</h1></div>
<form
    name="login-form"
    autocomplete="on"
    ng-login-submit="login" >
  <fieldset>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
          id="email"
          name="email"
          type="email"
          class="form-control"
          placeholder="E-Mail"
          required/>
      <br />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
          id="password"
          name="password"
          type="password"
          class="form-control"
          placeholder="Password" required />
      <br />
      <button
          class="btn btn-primary"
          data-ng-disabled="form.$invalid">
        Log In
      </button>
    </div>
  </fieldset>
</form>
