<accordion-group is-open="panel.ceventTypes.panelOpen" style="margin-top: 10px;">
  <accordion-heading>
    {{panel.ceventTypes.title}}
    <panel-buttons on-add="panel.ceventTypes.add(study)"
                   add-button-title="add collection event type"
                     panel-open="panel.ceventTypes.panelOpen"
                     panel-toggle="panel.ceventTypes.panelToggle()">
    </panel-buttons>
  </accordion-heading>
  <p>{{panel.ceventTypes.header}}</p>
  <div class="panel panel-warning" data-ng-if="panel.ceventTypes.data.length == 0">
    <div class="panel-heading">
      Collection event types have not been defined for this study yet.
    </div>
  </div>
  <p data-ng-if="panel.ceventTypes.data.length != 0">
    The following collection event types are defined:
  </p>
  <table data-ng-show="panel.ceventTypes.data.length != 0"
         class="table table-condensed table-hover"
         data-ng-table="panel.ceventTypes.tableParams">
    <tr data-ng-repeat="ceventType in $data">
      <td data-title="'Name'" sortable="'name'">
        {{ceventType.name}}
      </td>
      <td data-title="'Specimen Groups'">
        {{ceventType.sgNames.join(", ")}}
      </td>
      <td data-title="'Recurring'" sortable="'recurring'">
        {{ceventType.recurring ? 'Y' : 'N'}}
      </td>
      <td data-title="'Description'" sortable="'description'">
        {{ceventType.description === null ? "" : ceventType.description | truncate:40}}
      </td>
      <td>
        <info-update-remove-buttons
            on-info="panel.ceventTypes.information(ceventType)"
            on-update="panel.ceventTypes.update(ceventType)"
            on-remove="panel.ceventTypes.remove(ceventType)">
        </info-update-remove-buttons>
      </td>
    </tr>
  </table>
</accordion-group>
