<div class="page-header"><h1>{{study.name}} <small>{{title}}</small></h1></div>
<div class="clearfix">
  <form class="form-horizontal"
        name="cetForm"
        novalidate>

    <!-- NAME -->
    <div class="form-group" data-ng-class="{ 'has-error' : cetForm.name.$invalid && !cetForm.name.$pristine }">
      <label for="name" class="col-md-2 control-label">Name</label>
      <div class="col-md-10">
        <input name="name"
               type="text"
               class="form-control"
               data-ng-model="vm.ceventType.name"
               data-ng-minlength="2"
               placeholder="A short name for the collection event type"
               required />
      </div>
      <div class="col-md-offset-2 col-md-10">
        <p class="help-block" data-ng-show="cetForm.name.$error.minlength">Name is too short.</p>
      </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
      <label for="description" class="col-md-2 control-label">Description</label>
      <div class="col-md-10">
        <textarea name="description"
                  class="form-control"
                  rows="10"
                  data-ng-model="vm.ceventType.description"
                  placeholder="A description of the collection event type (optional)" />
      </div>
    </div>

    <!-- RECURRING -->
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input name="recurring" type="checkbox" data-ng-model="vm.ceventType.recurring"/> Recurring
      </div>
    </div>

    <!-- SPECIMEN GROUP DATA -->
    <div class="form-group" data-ng-repeat="sgData in vm.ceventType.specimenGroupData track by $index">
      <data-ng-form name="sgSubForm">
        <div class="col-md-2 control-label">
          <label>Specimen Group {{$index + 1}}</label>
        </div>
        <div class="col-md-3">
          <select class="form-control"
                  name="sgId"
                  data-ng-model="vm.ceventType.specimenGroupData[$index].specimenGroupId"
                  data-ng-options="sg.id as sg.name for sg in vm.specimenGroups | orderBy: 'name'"
                  required>
            <option value="">-- make a selection --</option>
          </select>
        </div>
        <div class="col-md-1 control-label">
          <label class="small">#:</label>
        </div>
        <div class="col-md-2">
          <input type="number"
                 min="1"
                 name="maxCount"
                 class="form-control input-sm"
                 data-ng-model="vm.ceventType.specimenGroupData[$index].maxCount"
                 placeholder="max count"
                 valid-count
                 required/>
        </div>
        <div class="col-md-1 control-label">
          <label class="small">
          {{(vm.specimenGroupsById[sgData.specimenGroupId]
                ? vm.specimenGroupsById[sgData.specimenGroupId].units : 'Amount') + ':'}}
          </label>
        </div>
        <div class="col-md-2">
          <input type="number"
                 min="0"
                 name="amount"
                 class="form-control input-sm"
                 data-ng-model="vm.ceventType.specimenGroupData[$index].amount"
                 placeholder="amount"
                 valid-amount
                 required />
        </div>
        <div class="col-md-1">
          <button class="btn btn-xs btn-warning"
                  data-ng-click="vm.removeSpecimenGroup(sgData)">
            <i class="glyphicon glyphicon-minus"></i> Remove
          </button>
        </div>
        <div class="col-md-offset-2 col-md-10">
          <p class="help-block"
             data-ng-show="sgSubForm.sgName.$error.required && !sgSubForm.sgName.$pristine">
            Please select a specimen group
          </p>
          <p class="help-block"
             data-ng-show="sgSubForm.maxCount.$error.validCount">
            Max count should be a positive number greater than 1
          </p>
          <p class="help-block" data-ng-show="sgSubForm.amount.$error.validAmount">
            Amount should be a positive floating point number
          </p>
        </div>
      </data-ng-form>
    </div>

    <!-- SPECIMEN GROUP DATA ADD -->
    <div class="form-group">
      <div class="col-md-2">
        <button class="btn btn-sm btn-primary pull-right" data-ng-click="vm.addSpecimenGroup()">
           Add specimen group <i class="glyphicon glyphicon-plus"></i>
        </button>
      </div>
    </div>

    <!-- ANNOTATION TYPE DATA -->
    <div class="form-group" data-ng-repeat="atData in vm.ceventType.annotationTypeData track by $index">
      <data-ng-form name="atSubForm">
        <div class="col-md-2 control-label">
          <label>Annotation Type {{$index + 1}}</label>
        </div>
        <div class="col-md-3">
          <select class="form-control"
                  name="name"
                  data-ng-model="vm.ceventType.annotationTypeData[$index].annotationTypeId"
                  data-ng-options="annotType.id as annotType.name for annotType in vm.annotTypes | orderBy: 'name'"
                  required>
            <option value="">-- make a selection --</option>
          </select>
        </div>
        <div class="col-md-2">
          <input name="required" type="checkbox" data-ng-model="vm.ceventType.annotationTypeData[$index].required"/> Required
        </div>
        <div class="col-md-1">
          <button class="btn btn-xs btn-warning"
                  data-ng-click="vm.removeAnnotType(atData)">
            <i class="glyphicon glyphicon-minus"></i> Remove
          </button>
        </div>
        <div class="col-md-offset-2 col-md-10">
          <p class="help-block" data-ng-show="atSubForm.name.$error.required && !atSubForm.name.$pristine">
            Please select an annotation type
          </p>
        </div>
      </data-ng-form>
    </div>

    <!-- ANNOTATION TYPE DATA ADD -->
    <div class="form-group">
      <div class="col-md-2">
        <button class="btn btn-sm btn-primary pull-right"
                data-ng-disabled="annotTypeNames == 0"
                data-ng-click="vm.addAnnotType()">
           Add annotation type <i class="glyphicon glyphicon-plus"></i>
        </button>
      </div>
    </div>

    <!-- BUTTONS  -->
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button class="btn btn-primary"
                data-ng-disabled="cetForm.$invalid"
                data-ng-click="vm.submit(vm.ceventType)">Submit</button>
        <button class="btn" data-ng-click="vm.cancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
