<div class="page-header">
  <h1>Welcome to Biobank</h1>
</div>
<div class="container" ng-if="! vm.userIsAuthenticated">
  <div class="row">
    <div class="col-md-12">
      Please log in.
    </div>
  </div>
</div>
<div class="container" ng-if="vm.userIsAuthenticated">
  <div class="row">
    <div class="col-md-12" ng-if="vm.userIsAuthenticated">
      <h2>Select a task</h2>
    </div>

    <!-- COLLECTION -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Collection
            <span class="btn-group pull-right">
              <a ui-sref="home.collection" class="btn btn-xs btn-primary" type="button">Select</a>
            </span>
          </h3>
        </div>
        <div class="panel-body">
          <p>Record specimen collection.</p>
        </div>
      </div>
    </div>

    <!-- ADMINISTRATION -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Administration
            <span class="btn-group pull-right">
              <a ui-sref="home.admin" class="btn btn-xs btn-primary" type="button">Select</a>
            </span>
          </h3>
        </div>
        <div class="panel-body">
          <p>Perform administrative tasks.</p>
        </div>
      </div>
    </div>

  </div>
</div>
