<div class="modal-header">
  <h3 class="modal-title">Add specimen</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="form" novalidate>

    <!-- SPECIMEN SPEC -->
    <div class="form-group row"
         ng-class="{ 'has-error' : form.specimenSpec.$invalid && !form.specimenSpec.$pristine }">
      <label class="col-md-3 form-control-label">Specimen type</label>
      <div class="col-md-9">
        <select class="form-control"
                id="specimenSpec"
                name="specimenSpec"
                ng-model="vm.selectedSpecimenSpec"
                ng-options="specimenSpec as specimenSpec.name for specimenSpec in vm.specimenSpecs"
                ng-change="vm.specimenSpecChanged()"
                focus-me="true"
                required>
          <option value="">-- make a selection --</option>
        </select>
      </div>
      <div class="col-sm-offset-3 col-sm-9"
           ng-messages="form.specimenSpec.$error"
           ng-if="form.specimenSpec.$dirty">
        <div ng-message="required" class="help-block">A specimen type must be selected</div>
      </div>
    </div>

    <!-- INVENTORY ID -->
    <div class="form-group row"
         ng-class="{ 'has-error' : form.inventoryId.$invalid && !form.inventoryId.$pristine }">
      <label for="inventoryId" class="col-md-3 form-control-label">Inventory ID</label>
      <div class="col-md-9">
        <input name="inventoryId"
               type="text"
               class="form-control"
               ng-minlength="6"
               ng-model="vm.inventoryId"
               ng-model-options="{ debounce: 500 }"
               ng-change="vm.inventoryIdUpdated()"
               required/>
      </div>
      <div class="col-sm-offset-3 col-sm-9"
           ng-messages="form.inventoryId.$error"
           ng-if="form.inventoryId.$dirty">
        <div ng-message="required" class="help-block">Inventory ID is required</div>
        <div ng-message="minlength" class="help-block">Inventory ID is too short</div>
        <div ng-message="inventoryIdTaken" class="help-block">
          A specimen already exists with this inventory ID
        </div>
        <div ng-message="inventoryIdEntered" class="help-block">
          You have already entered this inventory ID
        </div>
      </div>
    </div>

    <!-- AMOUNT -->
    <div class="form-group row"
         ng-class="{ 'has-error' : form.amount.$invalid && !form.amount.$pristine,
                   'has-warning' : !vm.usingDefaultAmount }">
      <label for="amount" class="col-md-3 form-control-label">Amount</label>
      <div class="col-md-9">
        <div class="input-group">
          <input name="amount"
                 type="number"
                 class="form-control"
                 ng-model="vm.amount"
                 positive-float />
          <span class="input-group-addon" ng-if="vm.selectedSpecimenSpec">
            {{vm.selectedSpecimenSpec.units}}
          </span>
        </div>
      </div>
      <div class="col-md-offset-3 col-md-9"
           ng-messages="form.amount.$error"
           ng-if="form.amount.$dirty">
        <div ng-message="required" class="help-block">
          Value should be a positive floating point number
        </div>
      </div>
      <div class="col-md-offset-3 col-md-9">
        <div class="help-block" ng-if="!vm.usingDefaultAmount">
          Amount is different than the default ({{vm.defaultAmount}} {{vm.units}})
        </div>
      </div>
    </div>

    <!-- TIME COLECTED -->
    <div class="form-group row"
         ng-class="{ 'has-error' : form.date.$invalid && !form.date.$pristine }">
      <label class="col-md-3 form-control-label">Time collected</label>
      <div class="col-md-9">
        <div class="input-group">
          <input name="date"
                 type="text"
                 class="form-control"
                 datetime-picker="{{vm.datetimePickerFormat}}"
                 timepicker-options="vm.timepickerOptions"
                 ng-model="vm.timeCollected"
                 is-open="vm.calendarOpen"
                 ng-disabled="vm.useDefault"
                 ng-required="true" />
          <span class="input-group-btn">
            <button type="button"
                    class="btn btn-default"
                    ng-click="vm.openCalendar($event)"
                    ng-disabled="vm.useDefault">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-offset-3 col-md-9"
           ng-messages="form.date.$error"
           ng-if="form.date.$dirty">
        <div ng-message="datetime" class="help-block">date and / or time are invalid</div>
        <div ng-message="required" class="help-block">date and time are required</div>
      </div>
    </div>

    <!-- CENTRE LOCATION -->
    <div class="form-group row"
         ng-class="{ 'has-error' : form.centre.$invalid && !form.centre.$pristine }">
      <label class="col-md-3 form-control-label">Collection centre</label>
      <div class="col-md-9">
        <select class="form-control"
                name="centre"
                ng-model="vm.selectedLocationId"
                ng-options="locInfo.locationId as locInfo.name for locInfo in vm.centreLocations"
                required>
          <option value="">-- make a selection --</option>
        </select>
      </div>
      <div class="col-sm-offset-3 col-sm-9"
           ng-messages="form.centre.$error"
           ng-if="form.centre.$dirty">
        <div ng-message="required" class="help-block">A centre must be selected</div>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button class="btn" ng-click="vm.closePressed()">Cancel</button>
  <button class="btn btn-primary"
          ng-click="vm.okPressed()"
          ng-disabled="form.$invalid">OK</button>
  <button class="btn btn-primary"
          ng-click="vm.nextPressed()"
          ng-disabled="form.$invalid">Next</button>
</div>
