<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{panel.annotTypes.title}}
    <add-button on-add="panel.annotTypes.add(study)"></add-button>
    </h3>
  </div>
  <div class="panel-body">
    <p>{{panel.annotTypes.header}}</p>
    <div class="panel panel-warning" ng-if="panel.annotTypes.data.length == 0">
      <div class="panel-heading">
        Annotation types have not been defined for this study yet.
      </div>
    </div>
    <p ng-if="panel.annotTypes.data.length != 0">
      The following annotation types have been defined:
    </p>
  </div>
  <table ng-show="panel.annotTypes.data.length != 0"
         class="table table-hover"
         ng-table="panel.annotTypes.tableParams">
    <tr ng-repeat="annotType in $data">
      <td data-title="'Name'" sortable="'name'">{{annotType.name}}</td>
      <td data-title="'Type'" sortable="'valueType'">{{annotType.valueType}}</td>
      <td data-title="'Required'"
          sortable="'required'"
          ng-show="panel.annotTypes.hasRequired">
        {{annotType.required ? "Yes" : "No"}}
      </td>
      <td data-title="'Description'" sortable="'description'">
        {{annotType.description === null ? "" : annotType.description | truncate:40}}
      </td>
      <td>
        <info-update-remove-buttons
            on-info="panel.annotTypes.information(annotType)"
            on-update="panel.annotTypes.update(annotType)"
            on-remove="panel.annotTypes.remove(annotType)">
        </info-update-remove-buttons>
      </td>
    </tr>
  </table>
</div>
