<div class="page-header">
  <h1>
    Study administration
    <div class="btn-group pull-right">

      <a ui-sref="admin.studies" class="btn btn-xs btn-primary" type="button">Default view</a>
      <a ui-sref="admin.studies.add" class="btn btn-xs btn-primary" type="button">
        Add study <i class="glyphicon glyphicon-plus"></i>
      </a>

    </div>
  </h1>
</div>
<div class="clearfix">
  <div data-ng-if="vm.studies.length <= 0">
    <p>No studies have been added.</p>
  </div>
  <div data-ng-if="vm.studies.length > 0">
    <p>The following studies have been configured:</p>
    <table data-ng-table="vm.tableParams" class="table table-hover">
      <tr data-ng-repeat="study in $data">
        <td data-title="'Name'" sortable="'name'">
          <a ui-sref="admin.studies.study.summary({studyId: study.id})">{{study.name}}</a>
        </td>
        <td data-title="'Status'" sortable="'valueType'">
          {{study.status}}
        </td>
        <td data-title="'Description'" sortable="'description'">
          {{study.description === null ? "" : study.description | truncate:20}}
        </td>
      </tr>
    </table>
  </div>
</div>
