<div class="page-header">
  <h1>
    Study administration
    <div class="btn-group pull-right">

      <a ui-sref="admin.studies" class="btn btn-xs btn-primary" type="button">Default view</a>
      <a ui-sref="admin.studies.add" class="btn btn-xs btn-primary" type="button">
        Add study <i class="glyphicon glyphicon-plus"></i>
      </a>

    </div>
  </h1>
</div>
<div class="clearfix">
  <div ng-if="(vm.paginatedStudies.total <= 0) && (vm.nameFilter == '') && (vm.status.id == 'all')">
    <p>No studies have been added yet.</p>
  </div>
  <div ng-if="(vm.paginatedStudies.total > 0) || (vm.nameFilter != '') || (vm.status.id != 'all')">
    <div class="panel panel-default">
      <div class="panel-body">
        {{vm.message}}
      </div>
      <div class="panel-footer">
        <span class="label label-info">
          Narrow your search by using the filters.
        </span>
      </div>
    </div>

    <form class="form-inline" style="margin-bottom: 20px;">
      <div class="form-group">
        <label for="status" class="small">Name filter</label>
        <input type="text" class="form-control input-sm"
               ng-model="vm.nameFilter"
               ng-change="vm.nameFilterUpdated()">
      </div>
      <div class="form-group">
        <label for="status" class="small">Status filter</label>
        <select class="form-control input-sm"
                name="status"
                ng-model="vm.status"
                ng-options="status.title for status in vm.possibleStatuses"
                ng-change="vm.statusFilterUpdated()">
        </select>
      </div>
    </form>

    <div class="alert alert-warning" role="alert"
         ng-if="(vm.paginatedStudies.total <= 0) && (vm.status.id != 'all')">
      <p><span class="glyphicon glyphicon-warning-sign"></span>
        No studies match the criteria.
    </div>

    <table ng-table="vm.tableParams"
           class="table table-hover"
           template-pagination="custom/pager">
      <tr data-ng-repeat="study in $data">
        <td data-title="'Name'" sortable="'name'">
          <a ui-sref="admin.studies.study.summary({studyId: study.id})">{{study.name}}</a>
        </td>
        <td data-title="'Status'" sortable="'status'">
          {{study.status}}
        </td>
        <td data-title="'Description'">
          {{study.description === null ? "" : study.description | truncate:40}}
        </td>
      </tr>
    </table>

    <script type="text/ng-template" id="custom/pager">

      <div class="pull-right">
        <span class="small">Records per page:</span>
        <div ng-if="params.settings().counts.length" class="btn-group btn-group-xs">
          <button type="button" ng-class="{'active':params.count() == 5}"
                  ng-click="params.count(5)"
                  class="btn btn-default">5</button>
          <button type="button" ng-class="{'active':params.count() == 10}"
                  ng-click="params.count(10)"
                  class="btn btn-default">10</button>
        </div>
      </div>

      <ul class="pagination ng-table-pagination">
        <li ng-class="{'disabled': !page.active}" ng-repeat="page in pages" ng-switch="page.type">

          <a ng-switch-when="prev" ng-click="params.page(page.number)"  href="">
            <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Previous</a>
          <a ng-switch-when="first" ng-click="params.page(page.number)" href="">
            <span ng-bind="page.number"></span></a>
          <a ng-switch-when="page" ng-click="params.page(page.number)"  href="">
            <span ng-bind="page.number"></span></a>
          <a ng-switch-when="more" ng-click="params.page(page.number)"  href="">
            &#8230;</a>
          <a ng-switch-when="last" ng-click="params.page(page.number)"  href="">
            <span ng-bind="page.number"></span></a>
          <a ng-switch-when="next" ng-click="params.page(page.number)"  href="">
            Next&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>

        </li>
      </ul>

    </script>

  </div>
</div>

