<div class="page-header">
  <h1>
    Study administration
    <div class="btn-group pull-right">
      <button class="btn btn-xs btn-primary"
              data-ng-click="defaultView()"
              title="More information"
              data-ng-if="studies.length > 0">
      Default view</button>
      <button class="btn btn-xs btn-primary"
              data-ng-click="addStudy()"
              title="Add study">
      Add study <i class="glyphicon glyphicon-plus"></i></button>
    </div>
  </h1>
</div>
<div class="clearfix">
  <div data-ng-if="studies.length == 0">
    <p>No studies have been added.</p>
  </div>
  <div data-ng-if="studies.length != 0">
    <p>The following studies have been configured:</p>
    <table data-ng-table="tableParams" class="table table-hover">
      <tr data-ng-repeat="study in $data">
        <td data-title="'Name'" sortable="'name'">
          {{study.name}}
        </td>
        <td data-title="'Status'" sortable="'valueType'">
          {{study.status}}
        </td>
        <td data-title="'Description'" sortable="'description'">
          {{study.description === null ? "" : study.description | truncate:20}}
        </td>
        <td>
          <button class="btn btn-xs btn-primary"
                  data-ng-click="studyInformation(study)"
                  title="More information">
          <i class="glyphicon glyphicon-info-sign"></i></button>
        </td>
      </tr>
    </table>
  </div>
</div>
