<!-- COLLECTION EVENT ANNOTATION TYPES -->
<ng-include src="'/assets/javascripts/admin/studies/annotationTypePanel.html'"></ng-include>

<!-- COLLECTION EVENT TYPES -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{panel.ceventTypes.title}}
    <add-button on-add="panel.ceventTypes.add(study)"></add-button>
    </h3>
  </div>
  <div class="panel-body">
    <p>{{panel.ceventTypes.header}}</p>
    <div class="panel panel-danger" ng-if="panel.ceventTypes.data.length == 0">
      <div class="panel-heading">
        No collection event types have been defined for this study yet.
      </div>
    </div>
    <p ng-if="panel.ceventTypes.data.length != 0">
      The following collection event types have been defined:
    </p>
  </div>
  <table ng-show="panel.ceventTypes.data.length != 0"
         class="table table-hover"
         ng-table="panel.ceventTypes.tableParams">
    <tr ng-repeat="ceventType in $data"
        ng-class="{'active': user.$selected}" >
      <td data-title="'Name'" sortable="'name'">
        {{ceventType.name}}
      </td>
      <td data-title="'Specimen Groups'">
        {{cetSgNames[ceventType.id].join(", ")}}
      </td>
      <td data-title="'Recurring'" sortable="'recurring'">
        {{ceventType.recurring ? 'Y' : 'N'}}
      </td>
      <td data-title="'Description'" sortable="'description'">
        {{ceventType.description === null ? "" : ceventType.description | truncate:40}}
      </td>
      <td>
        <info-update-remove-buttons
            on-info="panel.ceventTypes.information(ceventType)"
            on-update="panel.ceventTypes.update(ceventType)"
            on-remove="panel.ceventTypes.remove(ceventType)">
        </info-update-remove-buttons>
      </td>
    </tr>
  </table>
</div>

