<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{vm.study.name}}
      <span class="btn-group pull-right">

        <a ui-sref="home.admin.studies.study.summary.update({studyId: vm.study.id})" class="btn btn-xs btn-primary"
           type="button" title="update">
          <i class="glyphicon glyphicon-edit"></i>
        </a>

        <button class="btn btn-xs btn-success"
                ng-click="vm.changeStatus('enable')"
                title="Enable"
                ng-if="vm.study.status === 'Disabled'">
          <i class="glyphicon glyphicon-ok-circle"></i>
        </button>

        <button class="btn btn-xs btn-danger"
                ng-click="vm.changeStatus('disable')"
                title="Disable"
                ng-if="vm.study.status === 'Enabled'">
          <i class="glyphicon glyphicon-remove-sign"></i>
        </button>

        <button class="btn btn-xs btn-danger"
                ng-click="vm.changeStatus('retire')"
                title="Retire"
                ng-if="vm.study.status === 'Disabled'">
          <i class="glyphicon glyphicon-arrow-down"></i>
        </button>

        <button class="btn btn-xs btn-danger"
                ng-click="vm.changeStatus('unretire')"
                title="Unretire"
                ng-if="vm.study.status === 'Retired'">
          <i class="glyphicon glyphicon-arrow-up"></i>
        </button>

      </span>
    </h3>
  </div>
  <div class="panel-body">
    <truncate-toggle
       text="vm.study.description"
       toggle-length="vm.descriptionToggleLength"
       text-empty-warning="'Description not entered yet.'"></truncate-toggle>
  </div>
  <status-line item="vm.study">
</div>
