<div class="page-header">
  <h1>{{title}}</h1>
</div>
<div class="clearfix">
  <form class="form-horizontal"
        name="studyForm"
        data-ng-submit="studyForm.$valid && submit(study)"
        novalidate>

    <!-- NAME -->
    <div class="form-group">
      <label for="name" class="col-md-2 control-label">Name</label>
      <div class="col-md-10">
        <input
            name="name"
            type="text"
            class="form-control"
            data-ng-model="study.name"
            data-ng-minlength="2"
            placeholder="A short name for the study"
            required />
      </div>
      <div class="col-md-offset-2 col-md-10">
        <p class="help-block" data-ng-show="studyForm.name.$error.minlength">Name is too short.</p>
      </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
      <label for="description" class="col-md-2 control-label">Description</label>
      <div class="col-md-10">
        <textarea name="description"
                  class="form-control"
                  rows="10"
                  data-ng-model="study.description"
                  placeholder="A description of the study (optional)" />
      </div>
    </div>

    <!-- BUTTONS  -->
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button class="btn btn-primary" data-data-ng-disabled="studyForm.$invalid">Submit</button>
        <button class="btn" data-ng-click="cancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
