<div class="page-header">
  <h1>
    Study administration
    <div class="btn-group pull-right">

      <a ui-sref="admin.studies.table" class="btn btn-xs btn-primary" type="button">Table view</a>
      <a ui-sref="admin.studies.add" class="btn btn-xs btn-primary" type="button">
        Add study <i class="glyphicon glyphicon-plus"></i>
      </a>

    </div>
  </h1>
</div>
<div class="clearfix">
  <div data-ng-if="studies.length == 0">
    <p>No studies have been added.</p>
  </div>
  <div data-ng-if="studies.length != 0">
    <p>The following studies have been configured:</p>
    <div class="row" data-ng-repeat="rows in studies | partition:3">
      <div class="col-md-4" data-ng-repeat="study in rows">
        <div class="panel panel-default" style="margin-top: 10px;">
          <div class="panel-heading">
            <h3 class="panel-title">
            {{study.name}}
            <div class="btn-group pull-right">
              <a ui-sref="admin.studies.study.summary({studyId: study.id})"
                 class="btn btn-xs btn-primary" type="button">
                More information <i class="glyphicon glyphicon-info-sign"></i>
              </a>
            </div>
            </h3>
          </div>
          <div class="panel-body">
            <p>{{study.description === null ? "" : study.description | truncate:100}}</p>
            <p>
              <small class="text-info"><strong>Status:</strong> {{study.status}}</small><br>
              <small class="text-muted"><strong>Added:</strong> {{study.timeAdded}}</small><br>
              <span data-ng-if="study.timeModified != null">
                <small class="text-muted"><strong>Last updated:</strong> {{study.timeModified}}</small>
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
