<div class="page-header">
  <h1 translate>Specimen collection</h1>
</div>
<div class="row" ng-if="!vm.isCollectionAllowed">
  <div class="col-md-12">
    <div class="alert alert-warning" role="alert">
      <p><span class="glyphicon glyphicon-warning-sign"></span>
        <translate>
          You are not allowed to collect specimens yet.
          Please contact the Web site administrator to provide you with access.
        </translate>
      </p>
    </div>
  </div>
</div>
<div class="row" ng-if="vm.isCollectionAllowed">
  <div class="col-md-12">
    <h4 translate>Select the study you wish to work with:</h4>
  </div>
</div>
<div class="row" ng-if="vm.isCollectionAllowed" ng-cloak>
  <div class="col-md-6">
    <select-study
       get-header="vm.getStudiesPanelHeader"
       get-studies="vm.updateEnabledStudies"
       icon="glyphicon-ok-circle"
       page-size="4"
       message-no-results="{{'No results match the criteria.'|translate}}"
       navigate-state-name="home.collection.study"
       navigate-state-param-name="studyId">
    </select-study>
  </div>
</div>
