<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <translate>Locations</translate>
      <span class="pull-right"
            uib-dropdown
            is-open="vm.locationAddMenu.isOpen"
            ng-if="vm.centre.isDisabled()">
        <button class="btn btn-xs btn-default dropdown-toggle"
                type="button"
                id="locationAddMenu"
                uib-dropdown-toggle>
          <span class="glyphicon glyphicon-option-vertical"></span>
        </button>

        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="locationAddMenu">
          <li role="menuitem">
            <a href
               ng-click="vm.add()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Add a location</translate>
            </a>
          </li>
        </ul>
      </span>
    </h3>
  </div>

  <ul class="list-group">

    <li class="list-group-item" ng-if="!vm.centre.hasLocations()">
      <div class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <translate>
          Locations have not been added.
        </translate>
      </div>
    </li>
    <li class="list-group-item" ng-repeat="location in vm.centre.locations">
      <div class="row">
        <div class="col-md-10">
          <strong>
            <a ui-sref="home.admin.centres.centre.locations.locationView({ locationSlug: location.slug })">
              {{location.name}}
            </a>
          </strong>
        </div>
        <div class="col-md-2">
          <span class="pull-right"
                uib-dropdown
                is-open="vm.locationMenu.isOpen"
                ng-if="vm.centre.isDisabled()">
            <button class="btn btn-xs btn-default dropdown-toggle"
                    type="button"
                    id="locationMenu"
                    uib-dropdown-toggle>
              <span class="glyphicon glyphicon-option-vertical"></span>
            </button>

            <ul class="dropdown-menu">
              <li role="menuitem" ng-class="{ 'disabled': !vm.centre.isDisabled() }">
                <a href
                   ng-click="vm.view(location)">
                  <i class="glyphicon glyphicon-edit text-primary"></i>
                  <translate>Make changes to this location</translate>
                </a>
              </li>
              <li role="menuitem">
                <a href
                   ng-click="vm.remove(location)">
                  <i class="glyphicon glyphicon-remove text-danger"></i>
                  <translate>Remove this location</translate>
                </a>
              </li>
            </ul>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" ng-if="vm.location.poBoxNumber">
          <small>
            <strong>
              {{location.street}}<br>
              {{location.city}}, {{location.province}}, {{location.postalCode}}<br>
              {{location.poBoxNumber}}, {{location.countryIsoCode}}
            </strong>
          </small>
        </div>
        <div class="col-md-12" ng-if="!vm.location.poBoxNumber">
          <small>
            <strong>
              {{location.street}}<br>
              {{location.city}}, {{location.province}}, {{location.postalCode}}<br>
              {{location.countryIsoCode}}
            </strong>
          </small>
        </div>
      </div>
    </li>
  </ul>
</div>
