<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{vm.centre.name}}
      <span class="btn-group pull-right">
        <a ui-sref="admin.centres.centre.update({centreId: vm.centre.id})" class="btn btn-xs btn-primary"
           type="button">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <button class="btn btn-xs btn-success"
                data-ng-click="vm.changeStatus()"
                title="Change status">
          <i class="glyphicon glyphicon-cog"></i></button>
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <truncate-toggle
       text="vm.centre.description"
       toggle-length="vm.descriptionToggleLength"></truncate-toggle>
  </div>
  <table class="table table-bordered">
    <tr>
      <td>
        <span class="center-block text-center text-muted"><small>Status</small></span>
        <span class="center-block text-center"><strong>{{vm.centre.status}}</strong></span>
      </td>
      <td>
        <span class="center-block text-center text-muted"><small>Added</small></span>
        <span class="center-block text-center"><strong>{{vm.centre.timeAdded | timeago}}</strong></span>
      </td>
      <td>
        <span class="center-block text-center text-muted"><small>Modified</small></span>
        <span class="center-block text-center"
              data-ng-if="centre.timeModified !== null">
          <strong>{{vm.centre.timeModified | timeago}}</strong>
        </span>
        <span class="center-block text-center"
              data-ng-if="centre.timeModified === null">
          <strong>Never</strong>
        </span>
      </td>
    </tr>
  </table>
</div>
