<div class="page-header">
  <h1>
    Centre administration
    <div class="btn-group pull-right">

      <a ui-sref="admin.centres.table" class="btn btn-xs btn-primary" type="button">Table view</a>
      <a ui-sref="admin.centres.add" class="btn btn-xs btn-primary" type="button">
        Add centre <i class="glyphicon glyphicon-plus"></i>
      </a>

    </div>
  </h1>
</div>
<div class="clearfix">
  <div data-ng-if="centres.length == 0">
    <p>No centres have been added.</p>
  </div>
  <div data-ng-if="centres.length != 0">
    <p>The following centres have been configured:</p>
    <div class="row" data-ng-repeat="rows in centres | partition:3">
      <div class="col-md-4" data-ng-repeat="centre in rows">
        <div class="panel panel-default" style="margin-top: 10px;">
          <div class="panel-heading">
            <h3 class="panel-title">
              {{centre.name}}
              <span class="btn-group pull-right">
                <a ui-sref="admin.centres.centre.summary({centreId: centre.id})"
                   class="btn btn-xs btn-primary" type="button">
                  More information <i class="glyphicon glyphicon-info-sign"></i>
                </a>
              </span>
            </h3>
          </div>
          <div class="panel-body">
            <p>{{centre.description === null ? "" : centre.description | truncate:100}}</p>
            <p>
              <small class="text-info"><strong>Status:</strong> {{centre.status}}</small><br>
              <small class="text-muted"><strong>Added:</strong> {{centre.timeAdded}}</small><br>
              <span data-ng-if="centre.timeModified != null">
                <small class="text-muted"><strong>Last updated:</strong> {{centre.timeModified}}</small>
              </span>
            </br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
