<ng-include src="'/assets/javascripts/admin/centres/centreNotDisabledWarning.html'"></ng-include>
<accordion-group is-open="vm.panelOpen" style="margin-top: 10px;">
  <accordion-heading>
    Locations
    <panel-buttons on-add="vm.add()"
                   add-button-title="add location"
                   add-button-enabled="vm.modificationsAllowed"
                   panel-open="vm.panelOpen"
                   panel-toggle="vm.panelToggle()">
    </panel-buttons>
  </accordion-heading>
  <p>
    The addresses for this centre.
  </p>
  <div class="panel panel-warning" ng-if="vm.centre.locations.length <= 0">
    <div class="panel-heading">
      No locations have been entered yet.
    </div>
  </div>
  <table ng-show="vm.centre.locations.length > 0"
         class="table table-hover table-condensed"
         ng-table="vm.tableParams">
    <tr ng-repeat="location in $data">
      <td data-title="'Name'" sortable="'name'">
        <span ng-click="vm.information(location)">
          <a href>{{location.name}}</a>
        </span>
      </td>
      <td data-title="'Street'" sortable="'street'">
        {{location.street | truncate:40}}
      </td>
      <td data-title="'City'" sortable="'city'">
        {{location.city}}
      </td>
      <td ng-if="vm.modificationsAllowed">
        <update-remove-buttons
           on-update="vm.update(location)"
           on-remove="vm.remove(location)"
           update-button-enabled="vm.modificationsAllowed"
           remove-button-enabled="vm.modificationsAllowed">
        </update-remove-buttons>
      </td>
    </tr>
  </table>
</accordion-group>
