<accordion-group is-open="vm.panelOpen" style="margin-top: 10px;">
  <accordion-heading>
    This centre is linked to these studies
    <div class="btn-group pull-right">
      <button class="btn btn-xs btn-default"
              ng-click="vm.panelToggle()"
              title="expand / collapse">
        <i class="glyphicon"
           ng-class="vm.panelOpen ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></i>
      </button>
    </div>
  </accordion-heading>
  <div class="panel panel-warning" ng-if="vm.centre.studyIds.length <= 0">
    <div class="panel-heading">
      No studies have been added yet.
    </div>
  </div>
  <table ng-show="vm.centre.studyIds.length > 0"
         class="table table-hover table-condensed"
         ng-table="vm.tableParams">
    <tr ng-repeat="study in $data">
      <td data-title="'Name'" sortable="'name'">
        <span ng-click="vm.information(study.id)">
          <a href>{{study.name}}</a>
        </span>
      </td>
      <td data-title="'Status'" sortable="'status'">
        {{study.status}}
      </td>
      <td>
        <!-- FIXME studies should only be removed if no centre is not storing specimens  -->
        <div class="btn-group pull-right">
          <button class="btn btn-xs btn-warning"
                  ng-click="vm.remove(study.id)"
                  data-toggle="tooltip"
                  title="Remove">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </div>
      </td>
    </tr>
  </table>
  <div class="input-group">
    <span class="input-group-addon">Add Study</span>
    <input type="text"
           ng-model="vm.selected"
           typeahead="study.name for study in vm.studyNames | filter:$viewValue | limitTo:8"
           typeahead-on-select="vm.onSelect($item)"
           placeholder="enter a study's name or partial name"
           class="form-control">
  </div>
</accordion-group>
