<form class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2 control-label">{{'State filter:'|translate}}</label>
    <div class="col-md-1 checkbox" ng-repeat="state in vm.states track by state.id">
      <label>
        <input name="state"
               type="checkbox"
               ng-true-value="true"
               ng-false-value="false"
               ng-model="state.checked"
               ng-change="vm.selectionChanged()"/> <small>{{state.label}}</small>
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button class="btn"
              ng-click="vm.checkFromStates()"
              translate>
        <strong>"From"</strong> states
      </button>
      <button class="btn"
              ng-click="vm.checkToStates(false)"
              translate>
        <strong>"To"</strong> states
      </button>
      <button type="button"
              class="btn"
              ng-click="vm.checkAll(true)"
              translate>
        Select All
      </button>
      <button class="btn"
              ng-click="vm.checkAll(false)"
              translate>
        Unselect all
      </button>
    </div>
  </div>
</form>
