<div class="page-header">
  <h1>{{vm.study.name}} <small>Annotation Type {{vm.annotationType.name}}</small></h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{vm.annotationType.name}}</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong>Name:</strong>
        </div>
        <div class="col-md-8">
          {{vm.annotationType.name}}
        </div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-default pull-right"
                  title="Edit name"
                  ng-click="vm.editName()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong>Required:</strong>
        </div>
        <div class="col-md-8">
          {{vm.annotationType.required ? 'Yes' : 'No'}}
        </div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-default pull-right"
                  title="Edit required"
                  ng-click="vm.editRequired()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong>Description:</strong>
        </div>
        <div class="col-md-10">
          <truncate-toggle
             text="vm.annotationType.description"
             toggle-length="60"
             text-empty-warning="Description not entered yet."
             allow-edit="true"
             on-edit="vm.editDescription()">
          </truncate-toggle>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong>Type:</strong>
        </div>
        <div class="col-md-8">
          {{vm.annotationType.getType()}}
        </div>
      </div>
    </li>
    <li class="list-group-item" ng-if="vm.annotationType.isValueTypeSelect()">
      <div class="row">
        <div class="col-md-2">
          <strong>Selections:</strong>
        </div>
        <div class="col-md-8">
          {{vm.annotationType.options.join(', ')}}
        </div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-default pull-right"
                  title="Add selection option"
                  ng-click="vm.addSelectionOptions()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-md-1">
    <button class="btn btn btn-primary"
            title="Back"
            ng-click="vm.back()">Back
    </button>
  </div>
</div>
