<progress-tracker task-data="vm.progressInfo">
</progress-tracker>
<div class="page-header">
  <h1>
    {{vm.shipment.courierName}}<small>: {{vm.shipment.trackingNumber}}
    <br/> {{'Completed shipment'|translate}}</small>
    <div class="pull-right">
      <button class="btn btn-xs btn-warning"
              uib-tooltip="{{'Return shipment to unpacked state'|translate}}"
              ng-click="vm.returnToUnpackedState()">
        <i class="glyphicon glyphicon-chevron-left"></i>
        <translate>Back to unpacked</translate>
      </button>
    </div>
  </h1>
</div>
