<form class="form-horizontal"
      name="annotationTypeForm"
      novalidate>

  <!-- NAME -->
  <div class="form-group"
       ng-class="{ 'has-error' : annotationTypeForm.name.$invalid && !annotationTypeForm.name.$pristine }">
    <label for="name" class="col-md-2 form-control-label" translate>Name</label>
    <div class="col-md-10">
      <input name="name"
             type="text"
             class="form-control"
             ng-model="vm.annotationType.name"
             ng-minlength="2"
             placeholder="{{'A short name for the annotation type'|translate}}"
             focus-me="true"
             required/>
    </div>
    <div class="col-md-offset-2 col-md-10"
         ng-messages="annotationTypeForm.name.$error"
         ng-if="annotationTypeForm.name.$dirty">
      <div ng-message="required" class="help-block" translate>Name is required</div>
      <div ng-message="minlength" class="help-block" translate>Name is too short</div>
    </div>
  </div>

  <!-- DESCRIPTION -->
  <div class="form-group">
    <label for="description" class="col-md-2 form-control-label" translate>Description</label>
    <div class="col-md-10">
      <textarea name="description"
                class="form-control"
                rows="10"
                ng-model="vm.annotationType.description"
                placeholder="{{'A description of the annotation type (optional)'|translate}}"></textarea>
    </div>
  </div>

  <!-- REQUIRED -->
  <div class="form-group">
    <label for="required" class="col-md-2 form-control-label" translate>Required</label>
    <div class="col-md-10">
      <input name="required"
             type="checkbox"
             ng-model="vm.annotationType.required"/>
    </div>
  </div>

  <!--VALUE TYPE  -->
  <div class="form-group"
       ng-class="{ 'has-error' : annotationTypeForm.valueType.$invalid && !annotationTypeForm.valueType.$pristine }">
    <label for="valueType" class="col-md-2 form-control-label" translate>Value Type</label>
    <div class="col-md-10">
      <select class="form-control"
              name="valueType"
              ng-model="vm.annotationType.valueType"
              ng-change="vm.valueTypeChange()"
              required>
        <option value="" translate>-- make a selection --</option>
        <option ng-repeat="valueType in vm.valueTypes" value="{{valueType.id}}">
          {{valueType.labelFunc()}}
        </option>
      </select>
    </div>
    <div class="col-md-offset-2 col-md-10"
         ng-messages="annotationTypeForm.valueType.$error"
         role="alert">
      <div ng-message="required" class="help-block" translate>Value type is required</div>
    </div>
  </div>

  <!-- SELECTIONS -->
  <div class="form-group"
       ng-if="vm.annotationType.isValueTypeSelect()"
       ng-class="{ 'has-error' : annotationTypeForm.valueType.$error }">
    <label for="maxValueCount" class="col-md-2 form-control-label" translate>Selections</label>
    <div class="col-md-5">
      <input name="maxValueCount"
             type="radio"
             ng-model="vm.annotationType.maxValueCount"
             value="1"
             ng-required="vm.maxValueCountRequired()"
             str2integer
             translate/>
      Single selection only
    </div>
    <div class="col-md-5">
      <input type="radio"
             ng-model="vm.annotationType.maxValueCount"
             value="2"
             ng-required="vm.maxValueCountRequired()"
             str2integer
             translate/>
      Multiple selections allowed
    </div>
    <div class="col-md-offset-2 col-md-10"
         ng-messages="annotationTypeForm.maxValueCount.$error"
         role="alert">
      <div ng-message="required" class="help-block" translate>Please select one from above</div>
    </div>
  </div>

  <!-- SELECTION OPTIONS -->
  <div class="form-group"
       ng-if="vm.annotationType.isValueTypeSelect()"
       ng-repeat="opt in vm.annotationType.options track by $index"
       ng-class="{ 'has-error' : subForm.option.$invalid && !subForm.option.$pristine }">
    <ng-form name="subForm">
      <label class="col-md-2 form-control-label" translate>Selection Option {{$index + 1}}</label>
      <div class="col-md-8">
        <input type="text"
               name="option"
               class="form-control"
               ng-model="vm.annotationType.options[$index]"
               placeholder="{{'Enter an option'|translate}}"
               required />
      </div>
      <div class="col-md-2">
        <button class="btn btn-sm btn-warning"
                ng-click="vm.optionRemove($index)"
                ng-disabled="vm.removeButtonDisabled()">
          <i class="glyphicon glyphicon-remove"></i>
          <translate>Remove</translate>
        </button>
      </div>
      <div class="col-md-offset-2 col-md-10"
           ng-messages="subForm.option.$error"
           ng-if="subForm.option.$dirty"
           role="alert">
        <div ng-message="required" class="help-block" translate>A value is required</div>
      </div>
    </ng-form>
  </div>

  <!-- ADD SELECTION OPTION -->
  <div class="form-group"
       ng-if="vm.annotationType.isValueTypeSelect()">
    <div class="col-md-2">
      <button class="btn btn-sm btn-primary pull-right"
              ng-click="vm.optionAdd()">
        <translate>Add option</translate>
        <i class="glyphicon glyphicon-plus"></i>
      </button>
    </div>
  </div>

  <!-- BUTTONS -->
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button class="btn btn-primary"
              ng-disabled="annotationTypeForm.$invalid"
              ng-click="vm.submit(vm.annotationType)"
              translate>Submit</button>
      <button type="button" class="btn" ng-click="vm.cancel()" translate>Cancel</button>
    </div>
  </div>
</form>
