<breadcrumbs crumbs="vm.breadcrumbs"></breadcrumbs>
<div class="page-header">
  <h1>{{vm.centre.name}} <small>Location</small></h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <translate>Location:</translate>
      {{vm.location.name}}
    </h3>
  </div>
  <ul class="list-group" ng-if="vm.centre.hasLocations()">

    <!-- NAME -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Name</strong>
        </div>
        <div class="col-md-8">
          {{vm.location.name}}
        </div>
        <div class="col-md-2" ng-if="vm.centre.isDisabled()">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Edit name'|translate}}"
                  ng-click="vm.editName()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>

    <!-- STREET -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Street</strong>
        </div>
        <div class="col-md-8">
          {{vm.location.street}}
        </div>
        <div class="col-md-2" ng-if="vm.centre.isDisabled()">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Edit street'|translate}}"
                  ng-click="vm.editStreet()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>

    <!-- CITY -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>City</strong>
        </div>
        <div class="col-md-8">
          {{vm.location.city}}
        </div>
        <div class="col-md-2" ng-if="vm.centre.isDisabled()">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Edit city'|translate}}"
                  ng-click="vm.editCity()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>

    <!-- PROVINCE -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Province</strong>
        </div>
        <div class="col-md-8">
          {{vm.location.province}}
        </div>
        <div class="col-md-2" ng-if="vm.centre.isDisabled()">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Edit province'|translate}}"
                  ng-click="vm.editProvince()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>

    <!-- POSTAL CODE -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Postal code</strong>
        </div>
        <div class="col-md-8">
          {{vm.location.postalCode}}
        </div>
        <div class="col-md-2" ng-if="vm.centre.isDisabled()">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Edit postal code'|translate}}"
                  ng-click="vm.editPostalCode()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>

    <!-- PO BOX NUMBER -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Postal Box Number</strong>
        </div>
        <div class="col-md-8">
          {{vm.location.poBoxNumber}}
        </div>
        <div class="col-md-2" ng-if="vm.centre.isDisabled()">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Edit postal box number'|translate}}"
                  ng-click="vm.editPoBoxNumber()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>

    <!-- COUNTRY ISO CODE -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Country ISO code</strong>
        </div>
        <div class="col-md-8">
          {{vm.location.countryIsoCode}}
        </div>
        <div class="col-md-2" ng-if="vm.centre.isDisabled()">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Edit country ISO code'|translate}}"
                  ng-click="vm.editCountryIsoCode()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>

  </ul>
</div>

<button class="btn btn-primary"
        title="{{'Back to locations'|translate}}"
        ng-click="vm.back()">
  Back
</button>
