<breadcrumbs crumbs="vm.breadcrumbs"></breadcrumbs>
<div class="page-header">
  <h1><translate>User</translate>: {{vm.user.name}}</h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <translate>Profile</translate>

      <span class="pull-right"
            uib-dropdown
            is-open="vm.userProfileMenu.isOpen">
        <button class="btn btn-xs btn-default dropdown-toggle"
                type="button"
                id="userProfileMenu"
                uib-dropdown-toggle>
          <span class="glyphicon glyphicon-option-vertical"></span>
        </button>

        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="userProfileMenu">
          <li role="menuitem" ng-class="{ 'disabled': !vm.user.isActive() }">
            <a href
               ng-click="vm.updateName()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update name</translate>
            </a>
          </li>
          <li role="menuitem" ng-class="{ 'disabled': !vm.user.isActive() }">
            <a href
               ng-click="vm.updateEmail()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update email</translate>
            </a>
          </li>
          <li role="menuitem" ng-class="{ 'disabled': !vm.user.isActive() }">
            <a href
               ng-click="vm.updatePassword()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Change password</translate>
            </a>
          </li>
          <li role="menuitem" ng-class="{ 'disabled': !vm.user.isActive() }">
            <a href
               ng-click="vm.updateAvatarUrl()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update avatar URL</translate>
            </a>
          </li>
          <li role="menuitem" ng-class="{ 'disabled': !vm.user.isActive() }">
            <a href
               ng-click="vm.addRole()">
              <i class="glyphicon glyphicon-plus text-primary"></i>
              <translate>Add role</translate>
            </a>
          </li>
          <li role="menuitem" ng-class="{ 'disabled': !vm.user.isActive() }">
            <a href
               ng-click="vm.addMembership()">
              <i class="glyphicon glyphicon-plus text-primary"></i>
              <translate>Add membership</translate>
            </a>
          </li>
          <li class="divider" ng-if="vm.allowStateChange"></li>
          <li role="menuitem" ng-if="vm.allowStateChange && vm.user.isRegistered()">
            <a href
               ng-click="vm.changeState('activate')">
              <i class="glyphicon glyphicon-ok-circle text-success"></i>
              <translate>Activate this user</translate>
            </a>
          </li>
          <li role="menuitem" ng-if="vm.allowStateChange && vm.user.isActive()">
            <a href
               ng-click="vm.changeState('lock')">
              <i class="glyphicon glyphicon-ok-circle text-danger"></i>
              <translate>Lock this user</translate>
            </a>
          </li>
          <li role="menuitem" ng-if="vm.allowStateChange && vm.user.isLocked()">
            <a href
               ng-click="vm.changeState('unlock')">
              <i class="glyphicon glyphicon-ok-circle text-danger"></i>
              <translate>Unlock this user</translate>
            </a>
          </li>
        </ul>
      </span>

    </h3>
  </div>

  <!-- NAME -->
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3"><strong translate>Name</strong></div>
        <div class="col-md-9">{{vm.user.name}}</div>
      </div>
    </li>

    <!-- EMAIL -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3"><strong translate>Email</strong></div>
        <div class="col-md-9">{{vm.user.email}}</div>
      </div>
    </li>

    <!-- AVATAR URL -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3"><strong translate>Avatar URL</strong></div>
        <div class="col-md-7" ng-if="vm.user.avatarUrl">
          <a target="_blank" ng-href="{{vm.user.avatarUrl}}">{{vm.user.avatarUrl}}</a>
        </div>
        <div class="col-md-7" ng-if="! vm.user.avatarUrl" translate>
          None
        </div>
      </div>
    </li>

    <!-- ROLES -->
    <li class="list-group-item">
      <user-roles user="vm.user"
                  on-role-remove-request="vm.removeRole.bind(vm)">
      </user-roles>
    </li>

    <!-- MEMBERSHIPS -->
    <li class="list-group-item">
      <user-membership user="vm.user"
                       on-remove-request="vm.removeMembership.bind(vm)">
      </user-membership>
    </li>
  </ul>

  <status-line state-label-func="vm.stateLabelFunc(vm.user.state)"
               time-added="vm.user.timeAdded"
               time-modified="vm.user.timeModified"></status-line>
</div>
