<div id="panel-parent" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <translate>Visit #</translate>
      {{vm.collectionEvent.visitNumber}}
      <span class="pull-right"
            uib-dropdown is-open="vm.ceventMenu.isopen">
        <button class="btn btn-xs btn-default dropdown-toggle"
                type="button"
                id="ceventMenu"
                uib-dropdown-toggle>
          <span class="glyphicon glyphicon-option-vertical"></span>
        </button>

        <button type="button"
                class="btn btn-xs btn-default"
                ng-click="vm.isPanelCollapsed = !vm.isPanelCollapsed">
          <i class="glyphicon"
             ng-class="vm.isPanelCollapsed ? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'"></i>
        </button>

        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="ceventMenu">
          <li role="menuitem">
            <a href
               ng-click="vm.editTimeCompleted()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update time completed</translate>
            </a>
          </li>
          <li role="menuitem" ng-repeat="annotation in vm.collectionEvent.annotations">
            <a href
               ng-click="vm.editAnnotation(annotation)">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update {{annotation.getLabel()}}</translate>
            </a>
          </li>
        </ul>
      </span>
    </h3>
  </div>
  <div uib-collapse="vm.isPanelCollapsed" class="panel-collapse">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <strong translate>Visit type</strong>
          </div>
          <div class="col-md-7">
            {{vm.collectionEvent.collectionEventType.name}}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <strong translate>Time completed</strong>
          </div>
          <div class="col-md-9">
            {{vm.collectionEvent.timeCompleted | localTime}}
          </div>
        </div>
      </li>
      <li class="list-group-item" ng-repeat="annotation in vm.collectionEvent.annotations">
        <div class="row">
          <div class="col-md-3">
            <strong>{{vm.annotationLabels[annotation.annotationTypeId]}}</strong>
          </div>
        <div class="col-md-9" ng-if="annotation.getDisplayValue()">
          {{annotation.getDisplayValue()}}
        </div>
        <div class="col-md-9" ng-if="!annotation.getDisplayValue()">
          <span class="label label-warning" translate>Value not entered yet</span>
        </div>
      </li>
    </ul>
    <status-line time-added="vm.collectionEvent.timeAdded"
                 time-modified="vm.collectionEvent.timeModified">
    </status-line>
  </div>
</div>

<cevent-specimens-view study="vm.study"
                       participant="vm.participant"
                       collection-event-type="vm.collectionEventType"
                       collection-event="vm.collectionEvent"
                       on-specimens-updated="vm.specimensUpdated">
</cevent-specimens-view>
