<div class="modal-header">
  <button type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
          ng-click="vm.closePressed()">
    &times;
  </button>
  <h3 class="modal-title">
    Add Centres To Membership
  </h3>
</div>

<div class="modal-body">

  <form class="form-horizontal voffset4" name="form" novalidate>
    <div class="form-group">
      <label for="centres" class="col-md-2 form-control-label" translate>Centres</label>
      <div class="col-md-10">
        <input type="checkbox"
               name="centres"
               ng-model="vm.allCentresMembership"
               ng-change="vm.allCentresChanged()" />
        <span translate>All centres</span>: {{vm.allCentresMembership | yesNo}}
      </div>
    </div>
    <tags-input label="{{'Add centres'|translate}}"
                tags="vm.tags"
                placeholder="{{'enter a centre\'s name or partial name'|translate}}"
                labels-placeholder="{{'No centres added yet'|translate}}"
                no-results-found="{{'No matching centres found'|translate}}"
                on-get-values="vm.getCentreNames.bind(vm)"
                on-tag-selected="vm.centreSelected.bind(vm)"
                on-tag-removed="vm.removeCentre.bind(vm)"
                ng-if="!vm.allCentresMembership">
    </tags-input>
  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn" ng-click="vm.closePressed()" translate>Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="vm.okPressed()"
          ng-disabled="form.$invalid" translate>
    OK
  </button>
</div>
