<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter -->

    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <immediateFlush>true</immediateFlush>
    <encoder>
      <pattern>%date{ISO8601} %coloredLevel %C{36}.%M - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <logger name="application" level="ERROR" />
  <logger name="org.biobank" level="INFO" />
  <logger name="org.biobank.domain" level="INFO" />
  <logger name="org.biobank.service" level="INFO" />
  <logger name="org.biobank.fixture" level="INFO" />
  <logger name="org.biobank.controllers" level="INFO" />

  <!--
  <logger name="org.biobank.controllers.centres" level="DEBUG" />
  <logger name="com.google" level="INFO" />
  <logger name="play" level="INFO" />
  <logger name="net.sf.ehcache" level="INFO" />
  <logger name="io.netty" level="INFO" />
  -->

  <logger name="akka.event.slf4j" level="WARN" />
  <logger name="com.gargoylesoftware.htmlunit" level="WARN" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
