<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} %-5level %C{36}.%M\(%line\) | %X{akkaSource} | %msg%n</pattern>
      <immediateFlush>true</immediateFlush>
    </encoder>
  </appender>

  <logger name="com" level="INFO" />
  <logger name="net" level="INFO" />
  <logger name="io.netty" level="INFO" />
  <logger name="play" level="INFO" />
  <logger name="akka.event.slf4j" level="WARN" />

  <logger name="org.biobank" level="INFO" />
  <logger name="org.biobank.domain" level="INFO" />
  <logger name="org.biobank.service" level="INFO" />

  <logger name="org.biobank.fixture" level="INFO" />
  <logger name="application" level="INFO" />
  <logger name="play.api.libs.mailer.MockMailer" level="WARN" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
