<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <translate>Specimens in this shipment</translate>
      <span class="pull-right">
        <button class="btn btn-xs btn-primary"
                title="{{'Add a specimen to this shipment'|translate}}"
                ng-click="vm.addSpecimen()">
          <translate>Add specimen</translate>
          <i class="glyphicon glyphicon-plus"></i>
        </button>
        <a data-toggle="collapse"
           href="#collapseSpecimens"
           class="btn btn-xs btn-default"
           ng-click="vm.panelButtonClicked()">
          <i class="glyphicon"
             ng-class="vm.panelOpen ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></i>
        </a>
      </span>
    </h3>
  </div>

  <div id="collapseSpecimens" class="panel-collapse collapse in" aria-expanded="true">
    <table st-table="vm.shipmentSpecimens"
           st-pipe="vm.getTableData"
           class="table table-striped table-condensed">
      <thead>
        <tr>
          <th st-sort="inventoryId" st-sort-default="true" translate>Inventory ID</th>
          <th translate>Amount</th>
          <th st-sort="specName" translate>Type</th>
          <th st-sort="timeCreated" translate>Time created</th>
          <th translate>Action</th>
        </tr>
      </thead>
      <tbody ng-if="!vm.tableDataLoading && (vm.shipmentSpecimens.length > 0)">
        <tr ng-repeat="ss in vm.shipmentSpecimens">
          <td>{{ss.specimen.inventoryId}}</td>
          <td>{{ss.specimen.amount}} {{ss.specimen.units}}</td>
          <td>{{ss.specimen.specimenSpecName}}</td>
          <td>{{ss.specimen.timeCreated| localTime}}</td>
          <td>
            <button class="btn btn-xs btn-warning"
                    ng-click="vm.removeShipmentSpecimen(ss)"
                    title="{{'Remove specimen'|translate}}">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tbody ng-if="vm.tableDataLoading">
        <tr>
          <td colspan="5" class="text-center" translate>Loading ...</td>
        </tr>
      </tbody>
      <tbody ng-if="!vm.tableDataLoading && (vm.shipmentSpecimens.length <= 0)">
        <tr>
          <td colspan="6">
            <div class="panel panel-warning">
              <div class="panel-heading" translate>
                No specimens added yet.
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" class="text-center">
            <div st-items-by-page="vm.pageSize"
                 st-pagination=""
                 st-template="/assets/javascripts/common/directives/pagination.html">
            </div>
          </td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>
