<collapsible-panel heading="{{'Specimens in this shipment'|translate}}">
  <div id="collapseSpecimens" class="panel-collapse collapse in" aria-expanded="true">
    <ss-specimens-paged-table default-sort-field="inventoryId"
                              on-get-specimens="vm.getSpecimens.bind(vm)"
                              show-item-state="vm.showItemState"
                              no-specimens-message="{{'No specimens added yet.'|translate}}">
    </ss-specimens-paged-table>
  </div>
</collapsible-panel>
