<div class="row">
  <div class="col-md-12">
    <strong>
      {{vm.specimenDefinition.name}}
    </strong>
  </div>
</div>

<div class="row" ng-if="vm.input.definitionType === 'collected'">
  <div class="col-md-6">
    <small class="text-muted">
      <translate>Event:</translate>
      <strong>{{ vm.inputEntity.name }}</strong>
    </small>
  </div>
</div>

<div class="row" ng-if="vm.input.definitionType === 'processed'">
  <div class="col-md-6">
    <small class="text-muted">
      <translate>Processing step:</translate>
      <strong>{{ vm.inputEntity.name }}</strong>
    </small>
  </div>
</div>



<div class="row">
  <div class="col-md-4">
    <small class="text-muted">
      <translate>Anatomical source:</translate>
      <strong>{{ vm.specimenDefinition.anatomicalSourceType }}</strong>
    </small>
  </div>
  <div class="col-md-4">
    <small class="text-muted">
      <translate>Type:</translate>
      <strong>{{ vm.specimenDefinition.specimenType }}</strong>
    </small>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <small class="text-muted">
      <translate>Preservation Type:</translate>
      <strong>{{ vm.specimenDefinition.preservationType }} ({{vm.specimenDefinition.preservationTemperature}})</strong>
    </small>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <small class="text-info">
      <translate>Excpected change:</translate>
      <strong>{{ vm.input.expectedChange }} {{ vm.specimenDefinition.units }}</strong>
    </small>
  </div>
  <div class="col-md-4">
    <small class="text-info">
      <translate>Count:</translate>
      <strong>{{ vm.input.count }}</strong>
    </small>
  </div>
</div>
<div class="row" ng-if="vm.specimenDefinition.description">
  <div class="col-md-12">
    <p>{{vm.specimenDefinition.description | truncate:100}}</p>
  </div>
</div>
