<div class="modal-header">
  <button type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
          ng-click="model.close()">&times;</button>
  <h3 class="modal-title">Update password</h3>
</div>
<div class="modal-body">

  <form class="form-horizontal" name="form" novalidate>

    <!-- CURRENT PASSWORD -->
    <div class="form-group">
      <label for="currentPassword" class="col-md-4 control-label">Current password</label>
      <div class="col-md-8">
        <input
           name="currentPassword"
           type="password"
           class="form-control"
           ng-model="model.currentPassword"
           ng-minlength="8"
           focus-me="true"
           required />
      </div>
    </div>

    <!-- NEW PASSWORD -->
    <div class="form-group">
      <label for="newPassword" class="col-md-4 control-label">New password</label>
      <div class="col-md-8">
        <input
           name="newPassword"
           type="password"
           class="form-control"
           ng-model="model.newPassword"
           ng-minlength="8"
           required />
      </div>
        <div class="col-md-offset-4 col-md-8">
          <p class="help-block" ng-show="form.newPassword.$error.minlength">
            Password too short. It should be minimum 8 characters.
          </p>
        </div>
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="form-group">
      <label for="confirmPassword" class="col-md-4 control-label">Confirm new password</label>
      <div class="col-md-8">
        <input
           name="confirmPassword"
           type="password"
           class="form-control"
           ng-model="model.confirmPassword"
           password-check="model.newPassword"
           ng-required />
      </div>
      <div class="col-md-offset-4 col-md-8">
        <p class="help-block" ng-show="form.confirmPassword.$error.passwordmatch">
          Passwords do not match</p>
      </div>
    </div>

  </form>

</div>
<div class="modal-footer">
  <button class="btn" ng-click="model.close()">Cancel</button>
  <button class="btn btn-primary"
          ng-click="model.ok()"
          ng-disabled="form.$invalid">OK</button>
</div>
