<div class="page-header">
  <h1>{{vm.title}}</h1>
</div>
<form class="form-horizontal"
      name="studyForm"
      ng-submit="studyForm.$valid && vm.submit(vm.study)"
      novalidate>

  <!-- NAME -->
  <div class="form-group"
       ng-class="{ 'has-error' : studyForm.name.$invalid && !studyForm.name.$pristine }">
    <label for="name" class="col-md-2 form-control-label">Name</label>
    <div class="col-md-10">
      <input
         name="name"
         type="text"
         class="form-control"
         ng-model="vm.study.name"
         ng-minlength="2"
         placeholder="A short name for the study"
         focus-me="true"
         required />
    </div>
    <div class="col-md-offset-2 col-md-10"
         ng-messages="studyForm.name.$error"
         ng-if="studyForm.name.$dirty">
      <div ng-message="minlength" class="help-block">Name is too short</div>
      <div ng-message="required" class="help-block">A Name is required</div>
    </div>
  </div>

  <!-- DESCRIPTION -->
  <div class="form-group">
    <label for="description" class="col-md-2 form-control-label">Description</label>
    <div class="col-md-10">
      <textarea name="description"
                class="form-control"
                rows="10"
                ng-model="vm.study.description"
                placeholder="A description of the study (optional)" />
    </div>
  </div>

  <!-- BUTTONS  -->
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button class="btn btn-primary" ng-disabled="studyForm.$invalid">Submit</button>
      <button type="button" class="btn" ng-click="vm.cancel()">Cancel</button>
    </div>
  </div>
</form>
