<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" translate>
      This centre participates in these studies
    </h3>
  </div>
  <ul class="list-group" ng-if="vm.centre.studyNames.length <= 0">
    <li class="list-group-item">
      <div class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <translate>
          This centre is not participating in any studies.
        </translate>
      </div>
    </li>
  </ul>

  <table st-table="vm.tableStudies"
         st-safe-src="vm.centre.studyNames"
         class="table table-hover table-condensed"
         ng-if="vm.centre.studyNames.length > 0">
    <thead>
      <th st-sort="name" translate>Name</th>
      <th st-sort="state" translate>State</th>
      <th></th>
    </thead>

    <tbody>
      <tr ng-repeat="study in vm.tableStudies track by study.id">
        <td>
          <span ng-click="vm.information(study.id)">
            <a href>{{study.name}}</a>
          </span>
        </td>
        <td>
          <span class="badge">{{vm.studyStateLabel(study.state)}}</span>
        </td>
        <td>
          <div class="btn-group pull-right">
            <button class="btn btn-xs btn-warning"
                    ng-if="vm.centre.isDisabled()"
                    ng-click="vm.remove(study)"
                    title="{{'Remove'|translate}}">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <ul class="list-group" ng-if="vm.centre.isDisabled()">
    <li class="list-group-item">
      <div class="input-group voffset2">
        <span class="input-group-addon">
          <translate>Add Study</translate>
          <i class="glyphicon glyphicon-plus"></i>
        </span>
        <input type="text"
               class="form-control"
               ng-model="vm.selected"
               ng-model-options="{ debounce: 250 }"
               placeholder="{{'enter a study\'s name or partial name'|translate}}"
               uib-typeahead="study as study.name for study in vm.getStudyNames($viewValue)"
               typeahead-on-select="vm.onSelect($item)"
               typeahead-loading="loadingStudies"
               typeahead-no-results="noResults">
      </div>
      <div class="input-group voffset2">
        <i ng-show="loadingStudies" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noResults">
          <i class="glyphicon glyphicon-remove"></i><translate>No Results Found</translate>
        </div>
      </div>
    </li>
  </ul>
</div>
