@**
*
* FIXME: should annotation types be filtered once user has selected one? E.g. if there are
* 3 annotation types, and the user adds one, should the next one allow only the remaining 2 to
* be added? 
**@
@(cetForm: Form[controllers.study.CeventTypeFormObject],
        formType: FormType,
        studyId: String,
        studyName: String,
        specimenGroupMap : Seq[(String,String,String)],
        annotationTypeMap : Seq[(String,String)])(
        implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent])

@import helper._
@import controllers.study._

    @implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

    @formInfo = @{ formType match {
        case AddFormType() =>
            FormInfo(Messages("biobank.study.collection.event.type.add"),
                routes.CeventTypeController.addCeventTypeSubmit)
        case UpdateFormType() =>
            FormInfo(Messages("biobank.study.collection.event.type.update"),
                routes.CeventTypeController.updateCeventTypeSubmit)
    }}

@main(formInfo.title) {
    @breadcrumbs(Map(
        (Messages("biobank.study.plural") -> routes.StudyController.index),
        (studyName -> routes.StudyController.showStudy(studyId)),
        (formInfo.title -> null)
    ))
    <div class="page-header">
        <h2>@studyName&nbsp;<small>@formInfo.title</small></h2>
    </div>


    @if(cetForm.hasErrors) {
        <div class="alert">
            <p>@Messages("biobank.common.form.fix.errors")</p>
        </div>
    }

    <div class="clearfix">
    @form(formInfo.action, args = 'id -> "addform", 'class -> "form-horizontal") {

        @formType match {
            case AddFormType() => {
                <input type="hidden" name="collectionEventTypeId" value="dont-care">
                <input type="hidden" name="version" value="-1" >
            }
            case UpdateFormType() => {
                <input type="hidden" name="collectionEventTypeId"
                value="@cetForm("collectionEventTypeId").value" >
                <input type="hidden" name="version" value="@cetForm("version").value" >
            }
        }

        <input type="hidden" name="studyId" value="@studyId" >
        <input type="hidden" name="studyName" value="@studyName" >

        @formNameAndDescription(cetForm("name"), cetForm("description"))

        @checkbox(field = cetForm("recurring"),
            args = '_label -> Messages("biobank.study.collection.event.type.field.recurring"),
            '_help -> "")
            
        <div class="control-group">
            <div class="controls">
                <a class="addSpecimenGroup btn btn-small btn-success">
                    @Messages("biobank.study.collection.event.form.action.specimen.group.add")
                    <i class="icon-plus-sign icon-white"></i>
                </a>
            </div>
        </div>

        @repeat(cetForm("specimenGroupData"), 
            min = cetForm("specimenGroupData").indexes.size) { sgGroupData =>
            @specimenGroupData(sgGroupData, specimenGroupMap)
        }

        @*
        * This hidden block will be used as template for Javascript copy code
        *@
        @specimenGroupData(cetForm("specimenGroupData[x]"), specimenGroupMap, 
            className = "sg_data_template", style="display: none;")
            
        <div class="control-group">
            <div class="controls">
                <a class="addAnnotationType btn btn-small btn-success">
                    @Messages("biobank.study.collection.event.form.action.annotation.type.add")
                    <i class="icon-plus-sign icon-white"></i>
                </a>
            </div>
        </div>   

        @repeat(cetForm("annotationTypeData"), 
            min = cetForm("annotationTypeData").indexes.size) { atypeData =>
            @annotationTypeData(atypeData, annotationTypeMap)
        }
            
        @*
        * This hidden block will be used as template for Javascript copy code
        *@
        @annotationTypeData(cetForm("annotationTypeData[x]"), annotationTypeMap,
            className = "at_data_template", style="display: none;")

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages("biobank.form.submit")</button>
            <a href="@routes.StudyController.showStudy(studyId)" class="btn">Cancel</a>    
        </div>
    }
    </div>

    <script type="text/javascript" charset="utf-8">
        var sgUnits = {
            '': '@Messages("biobank.study.specimen.group.field.units")',
            @Html(specimenGroupMap.map(x => """'%s': '%s'""".format(x._1, x._3)).mkString(","))
        }
    </script>
      
    <script type="text/javascript" src="@controllers.routes.Assets.at("js/specimenGroupWidgets.js")"></script>
    <script type="text/javascript" src="@controllers.routes.Assets.at("js/annotationTypeWidgets.js")"></script>
}
