@**
*
* FIXME: should annotation types be filtered once user has selected one? E.g. if there are
* 3 annotation types, and the user adds one, should the next one allow only the remaining 2 to
* be added? 
**@
@(cetForm: Form[controllers.study.CeventTypeFormObject],
        formType: FormType,
        studyId: String,
        studyName: String,
        specimenGroupMap : Seq[(String,String,String)],
        annotationTypeMap : Seq[(String,String)])(
        implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent])

@import helper._
@import controllers.study._

    @implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

    @formInfo = @{ formType match {
        case AddFormType() =>
            FormInfo(Messages("biobank.study.collection.event.type.add"),
                routes.CeventTypeController.addCeventTypeSubmit)
        case UpdateFormType() =>
            FormInfo(Messages("biobank.study.collection.event.type.update"),
                routes.CeventTypeController.updateCeventTypeSubmit)
    }}

@main(formInfo.title) {
    @breadcrumbs(Map(
        (Messages("biobank.study.plural") -> routes.StudyController.index),
        (studyName -> routes.StudyController.showStudy(studyId)),
        (formInfo.title -> null)
    ))
    <div class="page-header">
        <h2>@studyName&nbsp;<small>@formInfo.title</small></h2>
    </div>


    @if(cetForm.hasErrors) {
        <div class="alert">
            <p>@Messages("biobank.common.form.fix.errors")</p>
        </div>
    }

    <div class="clearfix">
    @form(formInfo.action, args = 'id -> "addform", 'class -> "form-horizontal") {

        @formType match {
            case AddFormType() => {
                <input type="hidden" name="collectionEventTypeId" value="dont-care">
                <input type="hidden" name="version" value="-1" >
            }
            case UpdateFormType() => {
                <input type="hidden" name="collectionEventTypeId"
                value="@cetForm("collectionEventTypeId").value" >
                <input type="hidden" name="version" value="@cetForm("version").value" >
            }
        }

        <input type="hidden" name="studyId" value="@studyId" >
        <input type="hidden" name="studyName" value="@studyName" >

        @formNameAndDescription(cetForm("name"), cetForm("description"))

        @checkbox(field = cetForm("recurring"),
            args = '_label -> Messages("biobank.study.collection.event.type.field.recurring"),
            '_help -> "")
            
        <div class="control-group">
            <div class="controls">
                <a class="addSpecimenGroup btn btn-success">
                    <i class="icon-plus-sign icon-white"></i>
                    @Messages("biobank.study.collection.event.form.action.specimen.group.add")
                </a>
            </div>
        </div>

        @repeat(cetForm("specimenGroupData"), 
            min = cetForm("specimenGroupData").indexes.size) { sgGroupData =>
            @specimenGroupData(sgGroupData, specimenGroupMap)
        }

        @*
        * This hidden block will be used as template for Javascript copy code
        *@
        @specimenGroupData(cetForm("specimenGroupData[x]"), specimenGroupMap, 
            className = "sg_data_template", style="display: none;")
            
        <div class="control-group">
            <div class="controls">
                <a class="addAnnotationType btn btn-success">
                    <i class="icon-plus-sign icon-white"></i>
                    @Messages("biobank.study.collection.event.form.action.annotation.type.add")
                </a>
            </div>
        </div>

        @repeat(cetForm("annotationTypeData"), 
            min = cetForm("annotationTypeData").indexes.size) { atypeData =>
            @annotationTypeData(atypeData, annotationTypeMap)
        }
            
        @*
        * This hidden block will be used as template for Javascript copy code
        *@
        @annotationTypeData(cetForm("annotationTypeData[x]"), annotationTypeMap,
            className = "at_data_template", style="display: none;")

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages("biobank.form.submit")</button>
        </div>
    }
    </div>

    <script type="text/javascript" charset="utf-8">
        $(function() {
        var sgTemplate = $('.sg_data_template')
        var atTemplate = $('.at_data_template')

        var sgUnits={'': '@Messages("biobank.study.specimen.group.field.units")',
        @Html(specimenGroupMap.map(x => """'%s': '%s'""".format(x._1, x._3)).mkString(","))}

        var sgRenameElementAttr = function(element, id) {
            var namerepl = element.attr('name').replace(/specimenGroupData\[.+\]/g, "specimenGroupData[" + id + "]")
            element.attr('name', namerepl)
        }
        
        var addOnUpdate = function(event) {
            // updates the "units" on the amount field
            var addOn = $(this).parent().parent().parent().find('.add-on')
            addOn.text(sgUnits[$(this).val()])
        }
        
        // update existing amount fields "units"
        $('.add-on').each(function(i,v) {
            var select = $(this).parent().parent().parent().parent().find('select')
            $(this).text(sgUnits[select.val()])
        })        
        
        // bind function to existing sg selects
        $('select[id*="specimenGroupData"]').each(function(i,v) {
            $(this).bind('change', addOnUpdate)
        })

        var sgRenameGroup = function(sg, id) {
            sgRenameElementAttr(sg.find('select'), id)
            sg.find('input').each(function() {
                sgRenameElementAttr($(this), id)
            })

            var select = sg.find('select')
            select.bind('change', addOnUpdate)
            //var selectLabel = select.parent().parent().find('label')
            //var newText =  selectLabel.text().replace(/[0-9]+/g, (id + 1))
            //selectLabel.text(newText)
        }

        //
        // creates a new selection text entry field based on the hidden template. The
        // new input field has to be modified to contain the correct parameters
        //
        $(document).on('click', '.addSpecimenGroup', function() {
            var i = $('.sg_data').size()
            var newSg = sgTemplate.clone().removeClass('sg_data_template').addClass('sg_data')
            sgRenameGroup(newSg, i)
            newSg.show()
            sgTemplate.before(newSg)
        })

        //
        // removes a selection text entry field based on the button pressed
        //
        $(document).on('click', '.removeSpecimenGroup', function() {
            var i = $('.sg_data').size()
            if (i > 0) {
                $(this).parent().parent().parent().remove()
                renumberSpecimenGroups()
            }
        })

        // -- renumber fields specimen groups
        //
        var renumberSpecimenGroups = function() {
            $('.sg_data').each(function(i) {
                sgRenameGroup($(this), i)
            })
        }
        
        // annotation type rename
        var atRenameElementAttr = function(element, id) {
            var namerepl = element.attr('name').replace(/annotationTypeData\[.+\]/g, "annotationTypeData[" + id + "]")
            element.attr('name', namerepl)
        }

        var atRenameGroup = function(sg, id) {
            atRenameElementAttr(sg.find('select'), id)
            sg.find('input').each(function() {
                atRenameElementAttr($(this), id)
            })
        }

        //
        // creates a new selection text entry field based on the hidden template. The
        // new input field has to be modified to contain the correct parameters
        //
        $(document).on('click', '.addAnnotationType', function() {
            var i = $('.at_data').size()
            var newAt = atTemplate.clone().removeClass('at_data_template').addClass('at_data')
            atRenameGroup(newAt, i)
            newAt.show()
            atTemplate.before(newAt)
        })

        //
        // removes a selection text entry field based on the button pressed
        //
        $(document).on('click', '.removeAnnotationType', function() {
            var i = $('.at_data').size()
            if (i > 0) {
                $(this).parent().parent().parent().remove()
                renumberAnnotationTypes()
            }
        })

        // -- renumber fields specimen groups
        //
        var renumberAnnotationTypes = function() {
            $('.at_data').each(function(i) {
                atRenameGroup($(this), i)
            })
        }

        })
    </script>
}
