@(studyId: String, 
    studyName: String,
    ceventType: domain.study.CollectionEventType)(
    implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent])

@import helper._
@import controllers.study._

@main(Messages("biobank.study.specimengroup.remove")) {
  @breadcrumbs(Map(
    (Messages("biobank.study.plural") -> routes.StudyController.index),
    (studyName -> routes.StudyController.showStudy(studyId)),
    (Messages("biobank.study.collection.event.type.remove") -> null)
  ))
  <div class="page-header">
    <h2>@Messages("biobank.study.singular"): @studyName</h2>
    <div class="alert alert-block">
     <h3>@Messages("biobank.common.warning")</h3>
     @Messages("biobank.study.specimengroup.remove.confirm", ceventType.name)
    </div>
  </div>
  <div class="clearfix">    
    <table class="table table-bordered table-hover table-condensed">
      <tbody>
        <tr>
          <td class="header">@Messages("biobank.common.name")</td>
          <td>@ceventType.name</td>
        </tr>
        <tr>
          <td class="header">@Messages("biobank.common.description")</td>
          <td>@ceventType.description</td>
        </tr>
        <tr>
           <td class="header">@Messages("biobank.study.collection.event.type.field.recurring")</td>
           <td>
              @if(ceventType.recurring){ 
                @Messages("biobank.common.yes")
              } else { 
                @Messages("biobank.common.no")
              }</td>  
        </tr>        
      </tbody>
    </table>
    <div class="form-actions"> 
      <a href="@routes.CeventTypeController.index(studyId,studyName)" class="btn btn-small" type="button">
      @Messages("biobank.common.cancel")</a>
      <a href="@routes.CeventTypeController.removeCeventType(studyId,studyName,ceventType.id.id)" 
      class="btn btn-small btn-warning" type="button">
      @Messages("biobank.common.confirm")</a>
    </div>
  </div>  
}    