@(studyId: String,
    studyName: String,
    ceventType: domain.study.CollectionEventType)(
    implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent])

@import helper._
@import controllers.study._

@main(Messages("biobank.study.specimen.group.remove")) {
  @breadcrumbs(Map(
    (Messages("biobank.study.plural") -> routes.StudyController.index),
    (studyName -> routes.StudyController.showStudy(studyId, StudyTab.Summary.toString)),
    (Messages("biobank.study.collection.event.type.remove") -> null)
  ))
  <div class="page-header">
    <h2>@studyName&nbsp
        <small>@Messages("biobank.study.collection.event.type.remove")</small>
    </h2>
    <div class="alert alert-block">
        <h4>@Messages("biobank.common.warning")</h4>
        @Messages("biobank.study.specimen.group.remove.confirm", ceventType.name)
    </div>
  </div>
  <div class="clearfix">

    @nameValueRow(Messages("biobank.common.name"), ceventType.name)
    @nameValueRow(Messages("biobank.common.description"), ceventType.description.getOrElse(""))
    @nameValueRow(Messages("biobank.study.collection.event.type.field.recurring"),
      if(ceventType.recurring) Messages("biobank.common.yes") else Messages("biobank.common.no"))
    
    @form(routes.CeventTypeController.removeCeventTypeSubmit, 
        args = 'id -> "removeform", 'class -> "form-horizontal") {
      
        <input type="hidden" name="studyId" value="@studyId" >  
        <input type="hidden" name="studyName" value="@studyName" >  
        <input type="hidden" name="ceventTypeId" value="@ceventType.id.id" >  
    
        <div class="form-actions">
            <button type="submit" value="cancel" class="btn">@Messages("biobank.common.cancel")</button>           
            <button type="submit" value="confirm" class="btn btn-primary btn-warning">@Messages("biobank.common.confirm")</button>           
        </div>
    }
  </div>
}
