@(studyId: String, 
    studyName: String,
    annotType: domain.study.CollectionEventType)(
    implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent])

@import helper._
@import controllers.study._

@main(Messages("biobank.study.specimengroup.remove")) {
  <ul class="breadcrumb">
    <li><a href="@routes.StudyController.index">@Messages("biobank.study.plural")</a> <span class="divider">/</span></li>
    <li><a href="@routes.StudyController.showStudy(studyId)">@studyName</a> <span class="divider">/</span></li>
    <li class="active">@Messages("biobank.study.collection.event.type.remove")</li>
  </ul>
  <div class="page-header">
    <h2>@Messages("biobank.study.singular"): @studyName</h2>
    <div class="alert alert-block">
     <h3>@Messages("biobank.common.warning")</h3>
     @Messages("biobank.study.specimengroup.remove.confirm", annotType.name)
    </div>
  </div>
  <div class="clearfix">    
    <table class="table table-bordered table-hover table-condensed">
      <tbody>
        <tr>
          <td class="header">@Messages("biobank.common.name")</td>
          <td>@annotType.name</td>
        </tr>
        <tr>
          <td class="header">@Messages("biobank.common.description")</td>
          <td>@annotType.description</td>
        </tr>
        <tr>
           <td class="header">@Messages("biobank.annotation.type.field.value.type")</td>
           <td><span class="label">@annotType.recurring</span></td>
        </tr>        
      </tbody>
    </table>
    <div class="form-actions"> 
      <a href="@routes.CeventAnnotTypeController.index(studyId,studyName)" class="btn btn-small" type="button">
      @Messages("biobank.common.cancel")</a>
      <a href="@routes.CeventAnnotTypeController.removeAnnotationType(studyId,studyName,annotType.id.id)" 
      class="btn btn-small btn-warning" type="button">
      @Messages("biobank.common.confirm")</a>
    </div>
  </div>  
}    