@(sgGroupField: Field,
  className: String = "selections",
  style: String = "",
  specimenGroupMap : Seq[(String,String)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

<label class="control-label" for="recurring">
@Messages("biobank.study.collection.event.type.form.specimen.group")
</label>

<div class="controls controls-row sg_selections_template" style="" @* display: none; *@>

<select class="span2" id="specimenGroupData_x__specimenGrouIds"
  name="specimenGroupData[x].specimenGrouIds" >
  <option value="" >-- Make a selection --</option>
  <option value="C1272492-57B4-4CC6-AB37-CFF4F6F343D1" >sg1</option>
</select>

<input class="span2" type="text" name="specimenGroupData[x].specimenGroupAmount" value="">
<a class="removeSelection btn btn-warning">@Messages("biobank.common.action.remove")</a>

</div>
