@(studyId: String, 
    studyName: String, 
    ceventTypes: Set[domain.study.CollectionEventType])(implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent],
    flash: play.api.mvc.Flash)
    
@import controllers.study._
@import domain.AnnotationValueType._

@main(Messages("biobank.study.singular") + " " + studyName) {
  @breadcrumbs(Map(
    (Messages("biobank.study.plural") -> routes.StudyController.index),
    (studyName -> routes.StudyController.showStudy(studyId)),
    (Messages("biobank.study.collection.event.annotation.type.show.title") -> null)
  ))
  <div class="page-header">
    <h2>@Messages("biobank.study.singular"): @studyName</h2>
    <h3>@Messages("biobank.study.collection.event.annotation.type.show.title")
    <a href="@routes.CeventTypeController.addCeventType(studyId)" 
        class="btn btn-small btn-primary" type="button"
        data-toggle="tooltip" title="@Messages("biobank.common.action.add")">
        <i class="icon-plus-sign icon-white"></i></a>
    </h3>
  </div>
  <div class="clearfix">
      @if(ceventTypes.size <= 0) {
          <p>@Messages("biobank.annotation.type.show.none")</p>
      } else {

    @flash.get("success").map { message =>
      <div class="alert alert-success">
        @message
      </div>
    }

    <table class="table table-bordered table-hover table-condensed">
      <thead>
        <th>@Messages("biobank.common.name")</th>
        <th>@Messages("biobank.common.description")</th>
        <th>@Messages("biobank.annotation.type.field.value.type")</th>
        <th>@Messages("biobank.annotation.type.field.max.value.count")</th>
        <th>@Messages("biobank.annotation.type.field.options")</th>
        <th></th>
      </thead>
      <tbody>
        @for(ceventtype <- ceventTypes) {
          <tr>
            <td>@ceventtype.name</td>
            <td>@ceventtype.description</td>
            <td>@ceventtype.recurring</td>
            
            <td> 
              @updateRemoveButtons(
                  routes.CeventTypeController.updateCeventType(studyId,studyName,ceventtype.id.id),
                  routes.CeventTypeController.removeCeventType(studyId,studyName,ceventtype.id.id)
              )
            </td>
          <tr>
        }
      </tbody>
    </table>
      } 
  
  </div>    
}
    