@**
* Specimen group map is a tuple where the first item is the ID, the second the name and the
* third is the units.
**@
@(sgDataField: Field,    
    specimenGroupMap: Seq[(String, String, String)],
    className: String = "sg_data",
    style: String = "")

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

<div class="well @className" style="@style">
    @input(
        sgDataField("specimenGroupId"), 
        args = '_label -> Messages("biobank.study.collection.event.type.form.specimen.group")) { (id, name, value, htmlArgs) =>
        <select id="@id" name="@name">
            <option value="" >@Messages("biobank.form.selection.default")</option>
            @specimenGroupMap.map { v =>
                <option value="@v._1" @(if(value == Some(v._1)) "selected" else "")>@v._2</option>
            }
        </select>
        <a class="removeSpecimenGroup btn btn-warning">@Messages("biobank.common.action.remove")</a>
    }
    
    @inputText(
        sgDataField("specimenGroupCount"), 
        args = '_label -> Messages("biobank.study.collection.event.type.form.specimen.group.count")
    )

    @input(
        sgDataField("specimenGroupAmount"), 
        '_label -> Messages("biobank.study.collection.event.type.form.specimen.group.amount")) { (id, name, value, _) =>
        <div class="input-append">
            <input type="text" name="@name" value="@value">
            <span class="add-on">
                @Messages("biobank.study.specimengroup.field.units")
            </span>
        </div>
    }
</div>
