<form class="form-inline" name="filters">
  <debounced-text-input label="Name filter"
                        name="nameFilter"
                        value="vm.nameFilter"
                        on-value-changed="vm.nameFilterUpdated.bind(vm)">
  </debounced-text-input>
  <div class="form-group">
    <label class="small" translate>Email filter:</label>
    <input type="text"
           class="form-control input-sm"
           name="emailFilter"
           ng-model="vm.emailFilter"
           ng-model-options="{ debounce: 500 }"
           ng-change="vm.emailFilterUpdated()">
  </div>
  <div class="form-group">
    <label for="state" class="small" translate>State filter:</label>
    <select class="form-control input-sm"
            name="state"
            ng-model="vm.selectedState"
            ng-change="vm.stateFilterUpdated()">
      <option ng-repeat="stateInfo in vm.stateData" value="{{stateInfo.id}}">
        {{stateInfo.label()}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-sm" ng-click="vm.clearFilters()">
      <translate>Clear filters</translate>
      <i class="glyphicon glyphicon-erase"></i>
    </button>
  </div>
</form>
