<div class="form-group row"
     ng-class="{ 'has-error' : annotationSubForm.annotationNumberValue.$invalid &&
               !annotationSubForm.annotationNumberValue.$pristine }">
  <label class="col-md-2 form-control-label">{{vm.annotation.annotationType.name}}</label>
  <div class="col-md-10">
    <input name="annotationNumberValue"
           type="number"
           class="form-control"
           ng-model="vm.annotation.value"
           ng-required="vm.annotation.required"/>
  </div>
  <div class="col-md-offset-2 col-md-10"
       ng-messages="annotationSubForm.annotationNumberValue.$error"
       ng-if="annotationSubForm.annotationNumberValue.$dirty">
    <div ng-message="required" class="help-block" translate>Please enter a number</div>
  </div>
</div>
