<div class="form-group row"
     ng-class="{ 'has-error' : annotationSubForm.annotationTextValue.$invalid &&
               !annotationSubForm.annotationTextValue.$pristine }">
  <label class="col-md-2 form-control-label">{{annotation.annotationType.name}}</label>
  <div class="col-md-10">
    <input name="annotationTextValue"
           type="text"
           class="form-control"
           ng-model="annotation.value"
           ng-required="annotation.required"/>
  </div>
  <div class="col-md-offset-2 col-md-10"
       ng-messages="annotationSubForm.annotationTextValue.$error"
       ng-if="annotationSubForm.annotationTextValue.$dirty">
    <div ng-message="required" class="help-block" translate>Please enter a value</div>
  </div>
</div>
