<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{vm.study.name}}
      <span class="pull-right">
        <button class="btn btn-xs btn-success"
                ng-click="vm.changeState('enable')"
                title="{{'Enable'|translate}}"
                ng-if="vm.study.isDisabled()"
                ng-disabled="!vm.isEnableAllowed">
          <i class="glyphicon glyphicon-ok-circle"></i>
          <translate>Enable</translate>
        </button>

        <button class="btn btn-xs btn-danger"
                ng-click="vm.changeState('disable')"
                title="{{'Disable'|translate}}"
                ng-if="vm.study.isEnabled()">
          <i class="glyphicon glyphicon-cog"></i>
          <translate>Disable</translate>
        </button>

        <button class="btn btn-xs btn-danger"
                ng-click="vm.changeState('retire')"
                title="{{'Retire'|translate}}"
                ng-if="vm.study.isDisabled()">
          <i class="glyphicon glyphicon-arrow-down"></i>
          <translate>Retire</translate>
        </button>

        <button class="btn btn-xs btn-danger"
                ng-click="vm.changeState('unretire')"
                title="{{'Unretire'|translate}}"
                ng-if="vm.study.isRetired()">
          <i class="glyphicon glyphicon-arrow-up"></i>
          <translate>Unretire</translate>
        </button>

      </span>
    </h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Name:</strong>
        </div>
        <div class="col-md-8">
          {{vm.study.name}}
        </div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Edit name'|translate}}"
                  ng-click="vm.editName()"
                  ng-if="vm.study.isDisabled()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Description:</strong>
        </div>
        <div class="col-md-10">
          <truncate-toggle text="vm.study.description"
                           toggle-length="vm.descriptionToggleLength"
                           text-empty-warning="{{'Description not entered yet.'|translate}}"
                           allow-edit="vm.study.isDisabled()"
                           on-edit="vm.editDescription()">
          </truncate-toggle>
        </div>
      </div>
    </li>
    <li class="list-group-item"
        ng-if="!vm.isEnableAllowed">
      <div class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <translate>
          Study cannot be enabled until at least one specimen is added to a collection event.
        </translate>
      </div>
    </li>
  </ul>
  <status-line item="vm.study"></status-line>
</div>
