<progress-tracker
   items="vm.progressInfo.items"
   current="vm.progressInfo.current">
</progress-tracker>
<div class="page-header">
  <h1 >
    <translate>Add items to ship</translate>
    <div class="btn-group pull-right">
      <button class="btn btn-xs btn-primary"
              title="{{'All items added and ready to ship'|translate}}"
              ng-click="vm.allItemsAdded()"
              translate>
        All items added
      </button>
    </div>
  </h1>
</div>

<shipping-info-view
   shipment="vm.shipment"
   read-only="false"
   collapsable="true">
</shipping-info-view>

<shipment-specimens-view shipment="vm.shipment"></shipment-specimens-view>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" translate>Containers in this shipment</h3>
  </div>

  <ul class="list-group">
  </ul>
</div>
