<breadcrumbs crumbs="vm.breadcrumbs"></breadcrumbs>
<div ng-if="vm.shipment.isCreated()">
  <progress-tracker
    items="vm.progressInfo.items"
    current="vm.progressInfo.current">
    </progress-tracker>
  <div class="page-header">
    <h1>
      {{vm.shipment.courierName}}<small>: {{vm.shipment.trackingNumber}}
      <br/> {{'Add items to ship'|translate}}</small>
      <div class="pull-right">
        <button class="btn btn-xs btn-warning"
                uib-tooltip="{{'Remove this shipment'|translate}}"
                ng-click="vm.removeShipment()">
          <i class="glyphicon glyphicon-remove"></i>
          <translate>Remove</translate>
        </button>
        <button class="btn btn-xs btn-primary"
                uib-tooltip="{{'All items added, ready to tag as packed'|translate}}"
                ng-click="vm.tagAsPacked()">
          <translate>Tag as packed</translate>
          <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
        <button class="btn btn-xs btn-primary"
                uib-tooltip="{{'All items added, ready to tag as sent'|translate}}"
                ng-click="vm.tagAsSent()">
          <translate>Tag as sent</translate>
          <i class="glyphicon glyphicon-forward"></i>
        </button>
      </div>
    </h1>
  </div>

  <shipping-info-view
      shipment="vm.shipment"
      read-only="false">
  </shipping-info-view>

  <shipment-specimens-add shipment="vm.shipment"></shipment-specimens-add>

  <collapsible-panel heading="{{'Containers in this shipment'|translate}}">
    <div class="alert alert-warning" translate>No containers in this shipment</div>
  </collapsible-panel>
</div>

<div ng-if="!vm.shipment.isCreated()">
  <div class="page-header">
    <h1>
      <translate>Add items to ship</translate>
    </h1>
  </div>
  <div class="alert alert-warning">
    <span class="glyphicon glyphicon-warning-sign"></span>
    <translate>
      Cannot add items to shipment <em>{{vm.shipment.courierName}}: {{vm.shipment.trackingNumber}}</em> since
      it is in the wrong state.
    </translate>
  </div>
</div>
