<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Forgot password</h3>
      </div>
      <div class="panel-body">
        <form name="forgotForm"
              autocomplete="on"
              ng-submit="forgotForm.$valid && vm.submit(vm.email)"
              novalidate>

          <!-- EMAIL -->
          <div class="form-group"
               ng-class="{ 'has-error' : forgotForm.email.$invalid && !forgotForm.email.$pristine }">
            <label for="email" class="form-control-label">
              Enter the email address you registered to Biobank with:
            </label>
            <input name="email"
                   type="email"
                   class="form-control"
                   ng-model="vm.email"
                   placeholder="Email address"
                   required/>
            <div ng-messages="forgotForm.email.$error"
                 ng-if="forgotForm.email.$dirty"
                 role="alert">
              <div ng-message="email" class="help-block">Email address is not valid</div>
            </div>
          </div>

          <!-- BUTTONS  -->
          <div class="form-group">
            <button class="btn btn-primary" ng-disabled="forgotForm.$invalid">Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
