<div class="clearfix">

  <div data-ng-if="form.notifications">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          {{form.notifications}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body">

          <form class="form-horizontal"
                name="loginForm"
                autocomplete=on
                data-ng-submit="loginForm.$valid && form.login(form.credentials)"
                novalidate>

            <!-- EMAIL -->
            <div class="form-group">
              <label for="email" class="col-md-3 control-label">Email address</label>
              <div class="col-md-8">
                <input
                    name="email"
                    type="email"
                    class="form-control"
                    data-ng-model="form.credentials.email"
                    placeholder="Email"
                    required/>
              </div>
            </div>

            <!-- PASSWORD -->
            <div class="form-group">
              <label for="password" class="col-md-3 control-label">Password</label>
              <div class="col-md-8">
                <input
                    name="password"
                    type="password"
                    class="form-control"
                    data-ng-model="form.credentials.password"
                    placeholder="Password"
                    required />
              </div>
            </div>

            <!-- BUTTONS  -->
            <div class="form-group">
              <div class="col-md-offset-3 col-md-8">
                <button class="btn btn-primary" data-ng-disabled="loginForm.$invalid">Log In</button>
              </div>
            </div>
          </form>

          <div class="col-md-12">
            <p><a ui-sref="users.forgot">Forgot password?</a></p>
            <p>If you don't have an account yet you can <a ui-sref="users.register">register here</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
