<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Login</h3>
      </div>
      <div class="panel-body">

        <form class="form-horizontal"
              name="loginForm"
              autocomplete="on"
              data-ng-submit="loginForm.$valid && vm.login(vm.credentials)"
              novalidate>

          <!-- EMAIL -->
          <div class="form-group">
            <label for="email" class="col-md-3 control-label">Email address</label>
            <div class="col-md-8">
              <input
                 name="email"
                 type="email"
                 class="form-control"
                 data-ng-model="vm.credentials.email"
                 placeholder="Email"
                 required/>
            </div>
          </div>

          <!-- PASSWORD -->
          <div class="form-group">
            <label for="password" class="col-md-3 control-label">Password</label>
            <div class="col-md-8">
              <input
                 name="password"
                 type="password"
                 class="form-control"
                 data-ng-model="vm.credentials.password"
                 placeholder="Password"
                 required />
            </div>
          </div>

          <!-- BUTTONS  -->
          <div class="form-group">
            <div class="col-md-offset-3 col-md-8">
              <button class="btn btn-primary" data-ng-disabled="loginForm.$invalid">Log In</button>
            </div>
          </div>
        </form>

        <div class="col-md-12">
          <p><a ui-sref="home.users.forgot">Forgot password?</a></p>
          <p>If you don't have an account yet you can <a ui-sref="home.users.register">register here</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
