<div class="page-header">
  <h1>Register as a user</h1>
</div>
<div class="clearfix">
  <div data-ng-if="vm.notifications.length > 0">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          {{vm.notifications}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <form class="form-horizontal"
          name="userRegForm"
          novalidate>

      <!-- NAME -->
      <div class="form-group">
        <label for="name" class="col-md-3 control-label">Name</label>
        <div class="col-md-7">
          <input name="name"
                 type="text"
                 class="form-control"
                 data-ng-model="vm.user.name"
                 data-ng-minlength="2"
                 placeholder="given name(s) followed by surname(s) separated by spaces"
                 required/>
        </div>
        <div class="col-md-offset-3 col-md-7">
          <p class="help-block" data-ng-show="userRegForm.name.$error.minlength">Name is too short.</p>
        </div>
      </div>

      <!-- NAME -->
      <div class="form-group">
        <label for="email" class="col-md-3 control-label">Email address</label>
        <div class="col-md-7">
          <input
              name="email"
              type="email"
              class="form-control"
              data-ng-model="vm.user.email"
              placeholder="Email"
              required/>
        </div>
        <div class="col-md-offset-3 col-md-7">
          <p data-ng-show="userRegForm.email.$invalid && !userRegForm.email.$pristine"
             class="help-block">
          Valid email address is required.</p>
        </div>
      </div>

      <!-- PASSWORD -->
      <div class="form-group">
        <label for="password" class="col-md-3 control-label">Password</label>
        <div class="col-md-7">
          <input
              name="password"
              type="password"
              class="form-control"
              data-ng-model="vm.user.password"
              placeholder="Password"
              data-ng-minlength="8"
              required />
        </div>
        <div class="col-md-offset-3 col-md-7">
          <p class="help-block" data-ng-show="userRegForm.password.$error.minlength">
            Password too short. It should be minimum 8 characters.
          </p>
        </div>
      </div>

      <!-- CONFIRM PASSWORD -->
      <div class="form-group">
        <label for="password" class="col-md-3 control-label">Confirm password</label>
        <div class="col-md-7">
          <input
              name="confirmPassword"
              type="password"
              class="form-control"
              data-ng-model="vm.user.confirmPassword"
              placeholder="Password"
              password-check="vm.user.password"
              data-ng-required />
        </div>
        <div class="col-md-offset-3 col-md-7">
          <p data-ng-show="userRegForm.confirmPassword.$error.passwordmatch"
             class="help-block">
          Passwords do not match</p>
        </div>
      </div>

      <!-- BUTTONS -->
      <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
          <button class="btn btn-primary"
                  data-ng-disabled="userRegForm.$invalid"
                  data-ng-click="vm.submit(vm.user)">Submit</button>
          <button class="btn" data-ng-click="vm.cancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
