<div class="clearfix">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 panel-label">Name</div>
        <div class="col-md-7 panel-value">
          {{vm.user.name}}
        </div>
        <div class="col-md-2 panel-value">
          <button class="btn btn-xs btn-default pull-right"
                  title="Update name"
                  data-ng-click="vm.updateName()">
            <i class="glyphicon glyphicon-cog"></i>
            Update
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 panel-label">Email</div>
        <div class="col-md-7 panel-value">
          {{vm.user.email}}
        </div>
        <div class="col-md-2 panel-value">
          <button class="btn btn-xs btn-default pull-right"
                  title="Update email"
                  data-ng-click="vm.updateEmail()">
            <i class="glyphicon glyphicon-cog"></i>
            Update
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 panel-label">Password</div>
        <div class="col-md-7 panel-value">
          <button class="btn btn-xs btn-default" data-ng-click="vm.updatePassword()">
            <i class="glyphicon glyphicon-cog"></i>
            Update password
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 panel-label">Avatar URL</div>
        <div class="col-md-7 panel-value">
          {{vm.user.avatarUrl ? vm.user.avatarUrl : "None"}}
        </div>
        <div class="col-md-2 panel-value">
          <button class="btn btn-xs btn-default pull-right"
                  title="Update avatar URL"
                  data-ng-click="vm.updateAvatarUrl()">
            <i class="glyphicon glyphicon-cog"></i>
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
