<div class="voffset-bottom-3">
  <name-and-state-filters
    state-data="vm.filters['stateFilter'].allChoices()"
    selected-state="all"
    on-name-filter-updated="vm.updateSearchFilter('nameFilter').bind(vm)"
    on-state-filter-updated="vm.updateSearchFilter('stateFilter').bind(vm)"
    on-filters-cleared="vm.onFiltersCleared.bind(vm)">
  </name-and-state-filters>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <i class="glyphicon glyphicon-cog"></i> {{vm.counts.disabled}} {{'Disabled'|translate}},
    <i class="glyphicon glyphicon-ok-circle"></i> {{vm.counts.enabled}} {{'Enabled'|translate}},
    <i class="glyphicon glyphicon-remove-sign"></i> {{vm.counts.retired}} {{'Retired'|translate}}
    <div class="dropdown pull-right">

      <span class="pull-right" uib-dropdown is-open="vm.tableMenu.isOpen">
        <button class="btn btn-xs btn-default dropdown-toggle"
                type="button"
                id="tableMenu"
                uib-dropdown-toggle>
          <span class="glyphicon glyphicon-option-vertical"></span>
        </button>

        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="tableMenu">
          <li role="menuitem" class="dropdown-header" translate>Sort by</li>
          <li role="menuitem" ng-repeat="sortChoice in vm.sortChoices">
            <a href ng-click="vm.sortFieldSelected(sortChoice.id)">
              {{ sortChoice.labelFunc() }}
            </a>
          </li>
        </ul>
      </span>

    </div>
  </div>

  <ul class="list-group" ng-if="vm.hasNoEntitiesToDisplay()">
    <li class="list-group-item">
      <p class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-warning-sign"></span>
        {{'No studies have been added yet.'|translate}}
      </p>
    </li>
  </ul>

  <ul class="list-group" ng-if="vm.hasNoResultsToDisplay()">
    <li class="list-group-item">
      <p class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-warning-sign"></span>
        {{'No studies match the criteria.'|translate}}
      </p>
    </li>
  </ul>

  <ul class="list-group" ng-if="vm.hasResultsToDisplay()">
    <li class="list-group-item" ng-repeat="entity in vm.pagedResult.items">
      <div class="row">
        <div class="col-md-12">
          <i class="glyphicon glyphicon-cog" ng-class="entity.icon"></i>
          <strong>
            <a ui-sref="home.admin.studies.study.summary({ studySlug: entity.slug })">
              {{entity.name}}
            </a>
          </strong>
          <p>{{entity.description === null ? "" : entity.description | truncate:100}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <status-line state-label-func="vm.stateLabelFuncs[entity.state]"
                       time-added="entity.timeAdded"
                       time-modified="entity.timeModified"
                       use-labels="false">
          </status-line>
        </div>
      </div>
    </li>
  </ul>

</div>

<ul uib-pagination
    class="pagination-sm"
    total-items="vm.pagedResult.total"
    ng-model="vm.pagerOptions.page"
    ng-change="vm.pageChanged()"
    items-per-page="vm.pagerOptions.limit"
    max-size="5"
    rotate="false"
    boundary-links="true"
    previous-text="&lsaquo;"
    next-text="&rsaquo;"
    first-text="&laquo;"
    last-text="&raquo;"
    ng-if="vm.hasResultsToDisplay()">
</ul>
