@(attrTypeForm: Form[controllers.study.AnnotationTypeFormObject],
  formType: FormType,
  studyId: String,
  studyName: String,
  breadcrumbMap: Map[String, Call])(implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent])

@import helper._
@import controllers.study._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@formInfo = @{
  formType match {
    case AddFormType() =>
      FormInfo(Messages("biobank.study.collection.event.annotation.type.add"),
        routes.CeventAnnotTypeController.addAnnotationTypeSubmit)
    case UpdateFormType() =>
      FormInfo(Messages("biobank.study.collection.event.annotation.type.update"),
        routes.CeventAnnotTypeController.updateAnnotationTypeSubmit)
  }
}

@selectionField(field: Field,
  className: String = "selections",
  style: String = "")(implicit handler: FieldConstructor, lang: play.api.i18n.Lang) = {
  @input(field,
    '_label -> "", // label is blank intentionally
    '_class -> className,
    '_style -> style) { (id, name, value, _) =>
    <input type="text" name="@name" value="@value">
    <a class="removeSelection btn btn-warning">@Messages("biobank.common.action.remove")</a>
  }
}

@selectionGroup(field: Field)(implicit handler: FieldConstructor, lang: play.api.i18n.Lang) = {
  <div class="well selectionGroup" style="display:none;">
    @inputRadioGroupAligned(
      attrTypeForm("maxValueCount"),
      options = Seq(
        "1" -> Messages("biobank.annotation.type.field.max.value.count.single.desc"),
        "2" -> Messages("biobank.annotation.type.field.max.value.count.multiple.desc")),
      '_label -> Messages("biobank.annotation.type.field.options"),
      '_help -> "", // label is blank intentionally
      //'_class -> "radio",
      '_error -> attrTypeForm("maxValueCount").error.map(
        _.withMessage(Messages("biobank.annotation.type.form.max.value.count.error"))))
    
    <div class="control-group">
      <div class="controls">
          <a class="addSelection btn btn-small btn-success">
              @Messages("biobank.annotation.type.form.selection.add")
              <i class="icon-plus-sign icon-white"></i>
          </a>
      </div>
    </div>

    @repeat(attrTypeForm("selections"), min = attrTypeForm("selections").indexes.size) { selection =>
      @selectionField(selection)
    }
    
    @**
    * This hidden block will be used as template for Javascript copy code
    **@
    @selectionField(attrTypeForm("selections[x]"), className = "selection_template", style = "display:none;")
    
  </div>
}

@main(formInfo.title) {
  @breadcrumbs(breadcrumbMap)
  <div class="page-header">
  <h2>@studyName <small>@formInfo.title</small></h2>
  </div>


  @if(attrTypeForm.hasErrors) {
    <div class="alert">
    <p>@Messages("biobank.common.form.fix.errors")</p>
    </div>
  }

  <div class="clearfix">
  @form(formInfo.action, args = 'id -> "addform", 'class -> "form-horizontal") {

    @formType match {
      case AddFormType() => {
        <input type="hidden" name="annotationTypeId" value="dont-care">
        <input type="hidden" name="version" value="-1" >
      }
      case UpdateFormType() => {
        <input type="hidden" name="annotationTypeId" value="@attrTypeForm("annotationTypeId").value" >
        <input type="hidden" name="version" value="@attrTypeForm("version").value" >
      }
    }
      
    <input type="hidden" name="studyId" value="@studyId" >  
    <input type="hidden" name="studyName" value="@studyName" >    

    @formNameAndDescription(attrTypeForm("name"), attrTypeForm("description"))

    @select(
      field = attrTypeForm("valueType"),
      options = CollectionEventAnnotationTypeSelections.annotationValueTypes,
      args = '_label -> Messages("biobank.annotation.type.field.value.type")
    )

    @selectionGroup(attrTypeForm("selectionGroup"))

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">@Messages("biobank.form.submit")</button>
      <a href="@routes.StudyController.showStudy(studyId)" class="btn">Cancel</a>     
    </div>
  }
  </div>

  <script type="text/javascript" src="@controllers.routes.Assets.at("js/annotationTypeSelect.js")"></script>
}
