@*
 * fields is a map of the string to display as the field name to the corresponding value.
 *
 *@
@(studyId: String,
    studyName: String,
    annotType: domain.study.CollectionEventAnnotationType,
    fields: Map[String, String])(
    implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent])

@import helper._
@import controllers.study._

@main(Messages("biobank.study.specimen.group.remove")) {
  @breadcrumbs(Map(
    (Messages("biobank.study.plural") -> routes.StudyController.index),
    (studyName -> routes.StudyController.showStudy(studyId)),
    (Messages("biobank.study.collection.event.annotation.type.remove") -> null)
  ))
  <div class="page-header">
    <h2>@studyName <small>@Messages("biobank.study.collection.event.annotation.type.remove")</small></h2>
    <div class="alert alert-block">
     <h4>@Messages("biobank.common.warning")</h4>
     <p>
       @Messages("biobank.study.collection.event.annotation.type.remove.confirm", annotType.name)
     </p>
    </div>
  </div>
  <div class="clearfix">

    @for((name,value) <- fields) {
        @nameValueRow(name, value)
    }
    
    <div class="form-actions">
      <a href="@routes.CeventAnnotTypeController.index(studyId,studyName)" class="btn btn-small" type="button">
      @Messages("biobank.common.cancel")</a>
      <a href="@routes.CeventAnnotTypeController.removeAnnotationType(studyId,studyName,annotType.id.id)"
      class="btn btn-small btn-warning" type="button">
      @Messages("biobank.common.confirm")</a>
    </div>
  </div>
}
