@(studyId: String, 
    studyName: String, 
    annotationTypes: Set[domain.study.CollectionEventAnnotationType])(implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent],
    flash: play.api.mvc.Flash)
    
@import controllers.study._
@import domain.AnnotationValueType._

@main(Messages("biobank.study.singular") + " " + studyName) {
    @breadcrumbs(Map(
      (Messages("biobank.study.plural") -> routes.StudyController.index),
      (studyName -> routes.StudyController.showStudy(studyId)),
      (Messages("biobank.study.collection.event.annotation.type.show.title") -> null)
    ))
    <div class="page-header">
      <h2>@studyName&nbsp;
      <small>@Messages("biobank.study.collection.event.annotation.type.show.title")
      <a href="@routes.CeventAnnotTypeController.addAnnotationType(studyId, studyName)" 
          class="btn btn-small btn-primary" type="button"
          data-toggle="tooltip" title="@Messages("biobank.common.action.add")">
          <i class="icon-plus-sign icon-white"></i></a>
      </small></h2>
    </div>
    <div class="clearfix">
      @flash.get("success").map { message =>
        <div class="alert alert-success">
          @message
        </div>
      }
      
        @if(annotationTypes.size <= 0) {
            <p>@Messages("biobank.study.collection.event.annotation.type.show.none")</p>
        } else {
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <th>@Messages("biobank.common.name")</th>
          <th>@Messages("biobank.common.description")</th>
          <th>@Messages("biobank.annotation.type.field.value.type")</th>
          <th>@Messages("biobank.annotation.type.field.max.value.count")</th>
          <th>@Messages("biobank.annotation.type.field.options")</th>
          <th></th>
        </thead>
        <tbody>
          @for(annotType <- annotationTypes) {
            <tr>
              <td>@annotType.name</td>
              <td>@annotType.description</td>
              <td><span class="label">@annotType.valueType</span></td>
              
              @if(annotType.valueType == domain.AnnotationValueType.Select) {
                  @if(annotType.maxValueCount.getOrElse(0) == 1) {
                    <td>@Messages("biobank.annotation.type.field.max.value.count.single")</td>
                  } else {
                    @if(annotType.maxValueCount.getOrElse(0) > 1) {
                      <td>@Messages("biobank.annotation.type.field.max.value.count.multiple")</td>                  
                    } else {
                      <td><span class="label label-warning">ERROR: @@annotType.maxValueCount</span></td>
                    }
                  }
                <td>@Html(annotType.options.map( m => m.values.mkString("<br/>")).getOrElse("") )</td>
              } else {
                <td><span class="label">N/A</span></td>
                <td><span class="label">N/A</span></td>              
              }
              
              <td>
                @updateRemoveButtons(
                    routes.CeventAnnotTypeController.updateAnnotationType(studyId,studyName,annotType.id.id),
                    routes.CeventAnnotTypeController.removeAnnotationTypeConfirm(studyId,studyName,annotType.id.id))
              </td>
            <tr>
          }
        </tbody>
      </table>
        } 
    </div>    
}
    