<breadcrumbs crumbs="vm.breadcrumbs"></breadcrumbs>
<div class="page-header">
  <h1 translate>Add membership</h1>
</div>
<form class="form-horizontal"
      name="membershipForm"
      ng-submit="membershipForm.$valid && vm.submit()"
      novalidate>

  <!-- NAME -->
  <div class="form-group"
       ng-class="{ 'has-error' : membershipForm.name.$invalid && !membershipForm.name.$pristine }">
    <label for="name" class="col-md-2 form-control-label" translate>Name</label>
    <div class="col-md-10">
      <input name="name"
             type="text"
             class="form-control"
             ng-model="vm.membership.name"
             ng-minlength="2"
             placeholder="{{'A short name for the membership'|translate}}"
             focus-me="true"
             required />
    </div>
    <div class="col-md-offset-2 col-md-10"
         ng-messages="membershipForm.name.$error"
         ng-if="membershipForm.name.$dirty">
      <div ng-message="minlength" class="help-block" translate>Name is too short</div>
      <div ng-message="required" class="help-block" translate>A name is required</div>
    </div>
  </div>

  <!-- DESCRIPTION -->
  <div class="form-group">
    <label for="description" class="col-md-2 form-control-label" translate>Description</label>
    <div class="col-md-10">
      <textarea name="description"
                class="form-control"
                rows="5"
                ng-model="vm.membership.description"
                placeholder="{{'A description for the membership (optional)'|translate}}"></textarea>
    </div>
  </div>

  <!-- USERS -->
  <tags-input label="{{'Add a user'|translate}}"
                placeholder="{{'enter a user\'s name or partial name'|translate}}"
                labels-placeholder="{{'No users added yet'|translate}}"
                no-results-found="{{'No matching users found'|translate}}"
                on-get-values="vm.getUserNames()"
                on-tag-selected="vm.userSelected()"
                on-tag-removed="vm.removeUser()"
                no-labels-error-message="{{'At least one user is required'|translate}}"
                required="true">
  </tags-input>

  <!-- STUDIES -->
  <div class="form-group">
    <label for="description" class="col-md-2 form-control-label" translate>Studies</label>
    <div class="col-md-10">
      <input type="checkbox"
             ng-model="vm.allStudiesMembership"
             ng-true-value="true"
             ng-false-value="false"
             ng-click="vm.allStudiesChanged()" />
      <span translate>All studies</span>: {{vm.allStudiesMembership | yesNo}}
    </div>
  </div>
  <tags-input label="{{'Add studies'|translate}}"
                placeholder="{{'enter a study\'s name or partial name'|translate}}"
                labels-placeholder="{{'No studies added yet'|translate}}"
                no-results-found="{{'No matching studies found'|translate}}"
                on-get-values="vm.getStudyNames()"
                on-tag-selected="vm.studySelected()"
                on-tag-removed="vm.removeStudy()"
                ng-if="!vm.allStudiesMembership">
  </tags-input>

  <!-- CENTRES -->
  <div class="form-group">
    <label for="description" class="col-md-2 form-control-label" translate>Centres</label>
    <div class="col-md-10">
      <input type="checkbox"
             ng-model="vm.allCentresMembership"
             ng-true-value="true"
             ng-false-value="false"
             ng-click="vm.allCentresChanged()" />
      <span translate>All centres</span>: {{vm.allCentresMembership | yesNo}}
    </div>
  </div>
  <tags-input label="{{'Add centres'|translate}}"
                placeholder="{{'enter a centre\'s name or partial name'|translate}}"
                labels-placeholder="{{'No centres added yet'|translate}}"
                no-results-found="{{'No matching centres found'|translate}}"
                on-get-values="vm.getCentreNames()"
                on-tag-selected="vm.centreSelected()"
                on-tag-removed="vm.removeCentre()"
                ng-if="!vm.allCentresMembership">
  </tags-input>

  <div class="col-md-offset-2 col-md-10 has-error"
       ng-messages="membershipForm.$error"
       ng-if="membershipForm.$dirty"
       role="alert">
    <div ng-message="studyOrCentreRequired" class="help-block" translate>
      At least one study or centre is required.
    </div>
  </div>

  <!-- BUTTONS  -->
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button class="btn btn-primary" ng-disabled="membershipForm.$invalid" translate>Submit</button>
      <button type="button" class="btn" ng-click="vm.cancel()" translate>Cancel</button>
    </div>
  </div>
</form>
