<div class="row">
  <div class="col-md-12">
    <study-not-disabled-warning
       study="vm.study">
    </study-not-disabled-warning>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <translate>Annotations</translate>
      <span class="pull-right"
            uib-dropdown is-open="vm.annotationTypesMenu.isopen"
            ng-if="vm.study.isDisabled()">
        <button class="btn btn-xs btn-default dropdown-toggle"
                type="button"
                id="annotationTypesMenu"
                uib-dropdown-toggle>
          <span class="glyphicon glyphicon-option-vertical"></span>
        </button>

        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="annotationTypesMenu">
          <li role="menuitem">
            <a href
               ng-click="vm.add()">
              <i class="glyphicon glyphicon-plus text-primary"></i>
              <translate>Add an annotation</translate>
            </a>
          </li>
        </ul>
      </span>
    </h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <p class="text-primary" translate>
        Participant annotations allow a study to collect custom named and defined pieces of data for each
        participant. Annotations are optional and are not required to be defined.
      </p>
    </li>
    <li class="list-group-item" ng-if="vm.study.annotationTypes.length <= 0">
      <div class="alert alert-warning">
        No annotations have been entered yet.
      </div>
    </li>
    <li class="list-group-item" ng-if="vm.study.annotationTypes.length > 0">
      <p translate>The following annotations have been entered:</p>
    </li>
    <li class="list-group-item" ng-repeat="annotationType in vm.study.annotationTypes">
      <div class="row">
        <div class="col-md-10">
          <annotation-type-summary annotation-type="annotationType"></annotation-type-summary>
        </div>
        <div class="col-md-2">
          <annotation-type-menu annotation-type="annotationType"
                                allow-changes="vm.study.isDisabled()"
                                on-view="vm.editAnnotationType.bind(vm)"
                                on-update="vm.editAnnotationType.bind(vm)"
                                on-remove="vm.removeAnnotationType.bind(vm)">
          </annotation-type-menu>
        </div>
      </div>
    </li>
  </ul>
</div>
