<div class="row">
  <div class="col-md-4">
    Inventory ID: <strong>{{vm.specimen.inventoryId}}</strong>,
  </div>
  <div class="col-md-4">
    <small class="text-muted">
      Amount<br>
      Type<br>
      Origin location<br>
      Current location
    </small>
  </div>
  <div class="col-md-4">
    <small class="text-muted">
      <strong>{{vm.specimen.amount}} {{vm.specimen.units}}</strong><br>
      <strong>{{vm.specimen.specimenSpecName}}</strong><br>
      <strong>{{vm.specimen.originLocationName}}</strong><br>
      <strong>{{vm.specimen.locationName}}</strong>
    </small>
  </div>
</div>
<!-- div class="row">
  <div class="col-md-12">
    <pre>{{vm.specimen | json}}</pre>
  </div>
</div -->
