<form class="form-horizontal voffset4" name="ptForm" novalidate>

  <!-- NAME -->
  <div class="form-group"
       ng-class="{ 'has-error' : ptForm.name.$invalid && !ptForm.name.$pristine }">
    <label for="name" class="col-md-2 form-control-label" translate>Specimen Name</label>
    <div class="col-md-10">
      <input name="name"
             type="text"
             class="form-control"
             ng-model="vm.name"
             ng-minlength="2"
             placeholder="{{'A short name for the specimen'|translate}}"
             focus-me="true"
             required />
    </div>
    <div class="col-md-offset-2 col-md-10"
         ng-messages="ptForm.name.$error"
         ng-if="ptForm.name.$dirty">
      <div ng-message="minlength" class="help-block" translate>Name is too short</div>
      <div ng-message="required" class="help-block" translate>A name is required</div>
    </div>
  </div>

  <!-- DESCRIPTION -->
  <div class="form-group">
    <label for="description" class="col-md-2 form-control-label" translate>Description</label>
    <div class="col-md-10">
      <textarea name="description"
                class="form-control"
                rows="10"
                ng-model="vm.description"
                placeholder="{{'A description of the specimen (optional)'|translate}}">
      </textarea>
    </div>
  </div>

  <!-- ANATOMICAL SOURCE -->
  <div class="form-group"
       ng-class="{ 'has-error' : ptForm.anatomicalSourceType.$invalid && !ptForm.anatomicalSourceType.$pristine }">
    <label for="anatomicalSourceType" class="col-md-2 form-control-label" translate>
      Anatomical Source
    </label>
    <div class="col-md-10">
      <select class="form-control"
              name="anatomicalSourceType"
              ng-model="vm.anatomicalSourceType"
              ng-options="source for source in vm.anatomicalSourceTypes"
              required>
        <option value="" translate>-- make a selection --</option>
      </select>
    </div>
    <div class="col-md-offset-2 col-md-10"
         ng-messages="ptForm.anatomicalSourceType.$error"
         ng-if="ptForm.anatomicalSourceType.$dirty">
      <div ng-message="required" class="help-block" translate>Anatomical source is required.</div>
    </div>
  </div>

  <!-- PRESERVATION TYPE -->
  <div class="form-group"
       ng-class="{ 'has-error' : ptForm.perservationType.$invalid &&
              !ptForm.perservationType.$pristine }">
    <label for="perservationType" class="col-md-2 form-control-label" translate>Preservation Type</label>
    <div class="col-md-10">
      <select class="form-control"
              name="perservationType"
              ng-model="vm.preservationType"
              ng-options="preserv for preserv in vm.preservTypes"
              required>
        <option value="" translate>-- make a selection --</option>
      </select>
    </div>
    <div class="col-md-offset-2 col-md-10"
         ng-messages="ptForm.perservationType.$error"
         ng-if="ptForm.perservationType.$dirty">
      <div ng-message="required" class="help-block" translate>Preservation type is required</div>
    </div>
  </div>

  <!-- PRESERVATION TEMPERATURE -->
  <div class="form-group"
       ng-class="{ 'has-error' : ptForm.perservationTemperature.$invalid &&
              !ptForm.perservationTemperature.$pristine }">
    <label for="perservationTemperature" class="col-md-2 form-control-label" translate>
      Preservation Temperature
    </label>
    <div class="col-md-10">
      <select class="form-control"
              name="perservationTemperature"
              ng-model="vm.preservationTemperature"
              ng-options="temp for temp in vm.preservTempTypes"
              required>
        <option value="" translate>-- make a selection --</option>
      </select>
    </div>
    <div class="col-md-offset-2 col-md-10"
         ng-messages="ptForm.perservationTemperature.$error"
         ng-if="ptForm.perservationTemperature.$dirty">
      <div ng-message="required" class="help-block" translate>Preservation temperature is required</div>
    </div>
  </div>

  <!-- SPECIMEN TYPE -->
  <div class="form-group"
       ng-class="{ 'has-error' : ptForm.specimenType.$invalid && !ptForm.specimenType.$pristine }">
    <label for="specimenType" class="col-md-2 form-control-label" translate>Specimen Type</label>
    <div class="col-md-10">
      <select class="form-control"
              name="specimenType"
              ng-model="vm.specimenType"
              ng-options="type for type in vm.specimenTypes"
              required>
        <option value="" translate>-- make a selection --</option>
      </select>
    </div>
    <div class="col-md-offset-2 col-md-10"
         ng-messages="ptForm.specimenType.$error"
         ng-if="ptForm.specimenType.$dirty">
      <div ng-message="required" class="help-block" translate>Specimen type is required</div>
    </div>
  </div>

  <!-- UNITS -->
  <div class="form-group"
       ng-class="{ 'has-error' : ptForm.units.$invalid && !ptForm.units.$pristine }">
    <label for="units" class="col-md-2 form-control-label" translate>Units</label>
    <div class="col-md-10">
      <input name="units"
             type="text"
             class="form-control"
             ng-model="vm.units"
             placeholder="{{'the units the specimens are measured in (eg. mL, cm, etc.)'|translate}}"
             required/>
    </div>
    <div class="col-md-offset-2 col-md-10"
         ng-messages="ptForm.units.$error"
         ng-if="ptForm.units.$dirty">
      <div ng-message="required" class="help-block" translate>Units are required</div>
    </div>
  </div>

  <!-- EXPECTED CHANGE -->
  <div class="form-group"
       ng-class="{ 'has-error' : ptForm.expectedChange.$invalid && !ptForm.expectedChange.$pristine }">
    <label for="units" class="col-md-2 form-control-label" translate>Expected Change</label>
    <div class="col-md-10">
      <input name="expectedChange"
             type="number"
             class="form-control"
             ng-model="vm.expectedChange"
             placeholder="{{'the amount stored in this specimen'|translate}}"
             positive-float
             required/>
    </div>
    <div class="col-md-offset-2 col-md-10"
         ng-messages="ptForm.expectedChange.$error"
         ng-if="ptForm.expectedChange.$dirty">
      <div ng-message="required" class="help-block" translate>Expected change is required</div>
    </div>
  </div>

  <!-- COUNT -->
  <div class="form-group"
       ng-class="{ 'has-error' : ptForm.count.$invalid && !ptForm.count.$pristine }">
    <label for="units" class="col-md-2 form-control-label" translate>Specimen Count</label>
    <div class="col-md-10">
      <input name="count"
             type="number"
             class="form-control"
             ng-model="vm.count"
             placeholder="{{'the number of specimens that are created'|translate}}"
             natural-number
             required/>
    </div>
    <div class="col-md-offset-2 col-md-10"
         ng-messages="ptForm.count.$error"
         ng-if="ptForm.count.$dirty">
      <div ng-message="required" class="help-block" translate>Specimen count is required</div>
    </div>
  </div>

  <!-- BUTTONS  -->
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="button"
              class="btn btn-warning"
              ng-click="vm.previous()"
              ng-if="vm.buttonConfig === '3-button'">
        <i class="glyphicon glyphicon-chevron-left"></i>
        <translate>Previous step</translate>
      </button>
      <button type="button"
              class="btn btn-primary"
              ng-disabled="ptForm.$invalid"
              ng-click="vm.submit()"
              translate>
        <i class="glyphicon glyphicon-check"></i> Submit
      </button>
      <button type="button" class="btn" ng-click="vm.cancel()" translate>
        <i class="glyphicon glyphicon-remove"></i> Cancel
      </button>
    </div>
  </div>
</form>
