<div style="margin: 3px;" ng-if="vm.useLabels">
  <span class="label" ng-class="vm.class" ng-if="vm.hasState">
    <span><translate>State:</translate> {{vm.state}}</span>
  </span>
  &nbsp;
  <span class="label" ng-class="vm.class">
    <translate>Added:</translate>
    <span ng-if="vm.timeAdded">{{vm.timeAdded | timeago}}</span>
    <span ng-if="!vm.timeAdded"><translate>on system initialization</translate></span>
  </span>
  &nbsp;
  <span class="label" ng-class="vm.class">
    <translate>Modified:</translate>
    <span ng-if="!!vm.timeModified">{{vm.timeModified | timeago}}</span>
    <span ng-if="! vm.timeModified" translate>never</span>
  </span>
</div>
<div ng-if="!vm.useLabels">
  <small class="text-muted" ng-class="vm.class" ng-if="vm.hasState">
    <span><strong translate>State:</strong> {{vm.state}},</span>
  </small>
  <small class="text-muted" ng-class="vm.class" >
    <strong translate>Added:</strong>
    <span ng-if="!vm.timeAdded" translate>on system initialization,</span>
    <span ng-if="vm.timeAdded" translate>{{vm.timeAdded | timeago}},</span>
  </small>
  <small class="text-muted" ng-class="vm.class" >
    <strong translate>Modified:</strong>
    <span ng-if="!vm.timeModified" translate>never</span>
    <span ng-if="vm.timeModified" translate>{{vm.timeModified | timeago}}</span>
  </small>
</div>
