<div ng-form="annotationSubForm" class="form-group" ng-repeat="annotation in vm.annotations">
  <label class="col-md-2 control-label">{{annotation.annotationType.name}}</label>
  <div class="col-md-8" ng-switch on="annotation.getValueType()">

    <!-- TEXT -->
    <input ng-switch-when="Text"
           name="annotationValue"
           type="text"
           class="form-control"
           ng-model="annotation.value"
           ng-required="annotation.required"/>

    <!-- NUMBER -->
    <input ng-switch-when="Number"
           name="annotationValue"
           type="number"
           class="form-control"
           ng-model="annotation.value"
           ng-required="annotation.required"/>

    <!-- DATE TIME -->
    <div class="input-group" ng-switch-when="DateTime">
      <input name="annotationValue"
             type="text"
             class="form-control"
             datepicker-popup
             is-open="vm.opened"
             min-date="'2000-01-01'"
             datepicker-options="vm.datePicker.options"
             date-disabled="disabled(date, mode)"
             close-text="Close"
             ng-model="annotation.date"
             ng-required="annotation.required"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="vm.datePicker.open($event)">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </div>
    <div class="input-group" ng-switch-when="DateTime">
      <timepicker ng-model="annotation.time"
                  show-meridian="true"
                  ng-required="annotation.required"></timepicker>
    </div>

    <!-- SELECT SINGLE -->
    <select ng-switch-when="Select"
            ng-if="annotation.annotationType.maxValueCount == 1"
            name="annotationValue"
            class="form-control"
            name="annotationTypeValue"
            ng-model="annotation.value"
            ng-options="option for option in annotation.annotationType.options"
            ng-required="annotation.required">
      <option value="">-- make a selection --</option>
    </select>

    <!-- SELECT MULTIPLE -->
    <div class="input-group"
         ng-switch-when="Select"
         ng-if="annotation.annotationType.maxValueCount > 1">
      <div ng-repeat="value in annotation.values">
        <label>
          <input type="checkbox"
                 name="annotationValue"
                 ng-model="value.checked"
                 ng-required="!annotation.someSelected()">
          <span>{{value.name}}</span>
        </label>
      </div>
    </div>

  </div>
  <div class="col-md-offset-2 col-md-10">
    <p class="help-block"
       ng-show="annotation.annotationType.valueType != 'Select' &&
                annotationSubForm.annotationValue.$error.required &&
                !annotationSubForm.annotationValue.$pristine">
      Please enter a value
    </p>
    <p class="help-block"
       ng-show="annotation.annotationType.valueType == 'Select' &&
                annotation.annotationType.maxValueCount == 1 &&
                annotationSubForm.annotationValue.$error.required &&
                !annotationSubForm.annotationValue.$pristine">
      Please make a selection
    </p>
    <p class="help-block"
       ng-show="annotation.annotationType.valueType == 'Select' &&
                annotation.annotationType.maxValueCount > 1 &&
                annotationSubForm.annotationValue.$error.required">
      Please make a selection
    </p>
    <p class="help-block"
       ng-show="annotationSubForm.annotationValue.$error.number &&
                !annotationSubForm.annotationValue.$pristine">
      Please enter a number
    </p>
  </div>
</div>
