<div class="btn-group pull-right">
  <button class="btn btn-xs btn-primary"
          data-ng-click="info()"
          title="More information">
  <i class="glyphicon glyphicon-info-sign"></i></button>
  <button class="btn btn-xs btn-primary"
          data-ng-click="update()"
          title="Update">
  <i class="glyphicon glyphicon-edit"></i></button>
  <button class="btn btn-xs btn-warning"
          data-ng-click="remove()"
          data-toggle="tooltip"
          title="Remove">
    <i class="glyphicon glyphicon-remove"></i>
  </button>
</div>
