<div class="btn-group pull-right">
  <button class="btn btn-xs btn-primary"
          ng-click="info()"
          title="More information">
    <i class="glyphicon glyphicon-info-sign"></i>
  </button>
  <button class="btn btn-xs btn-primary"
          ng-click="update()"
          ng-if="updateButtonEnabled()"
          title="Update">
    <i class="glyphicon glyphicon-edit"></i>
  </button>
  <button class="btn btn-xs btn-warning"
          ng-click="remove()"
          data-toggle="tooltip"
          ng-if="removeButtonEnabled()"
          title="Remove">
    <i class="glyphicon glyphicon-remove"></i>
  </button>
</div>
