<div class="form-group row"
     ng-class="{ 'has-error' : form.value.$invalid && !form.value.$pristine }">
  <label for="email" class="col-md-3 form-control-label">{{vm.label}}:</label>
  <div class="col-md-9">
    <input
       name="value"
       type="email"
       class="form-control"
       ng-model="vm.value"
       focus-me="true"
       ng-required="vm.options.required" />
  </div>
  <div class="col-md-offset-3 col-md-9"
       ng-messages="form.value.$error"
       ng-if="form.value.$dirty"
       role="alert">
    <div ng-message="required" class="help-block">An email address is required</div>
    <div ng-message="email" class="help-block">Email address is not valid</div>
  </div>
</div>
