<!-- CURRENT PASSWORD -->
<div class="form-group">
  <label for="currentPassword" class="col-md-4 form-control-label">Current password</label>
  <div class="col-md-8">
    <input
       name="currentPassword"
       type="password"
       class="form-control"
       ng-model="vm.value.currentPassword"
       ng-minlength="8"
       focus-me="true"
       required />
  </div>
</div>

<!-- NEW PASSWORD -->
<div class="form-group">
  <label for="newPassword" class="col-md-4 form-control-label">New password</label>
  <div class="col-md-8">
    <input
       name="newPassword"
       type="password"
       class="form-control"
       ng-model="vm.value.newPassword"
       ng-minlength="8"
       required />
  </div>
  <div class="col-md-offset-4 col-md-8"
       ng-messages="form.newPassword.$error"
       role="alert">
    <div ng-message="required" class="help-block">Please enter a new password</div>
    <div ng-message="minlength" class="help-block">Password too short. It should be minimum 8 characters.</div>
  </div>
</div>

<!-- CONFIRM PASSWORD -->
<div class="form-group">
  <label for="confirmPassword" class="col-md-4 form-control-label">Confirm new password</label>
  <div class="col-md-8">
    <input
       name="confirmPassword"
       type="password"
       class="form-control"
       ng-model="vm.value.confirmPassword"
       password-check="vm.value.newPassword"
       ng-required />
  </div>
  <div class="col-md-offset-4 col-md-8"
       ng-messages="form.confirmPassword.$error"
       role="alert">
    <div ng-message="passwordmatch" class="help-block">Passwords do not match</div>
  </div>
</div>
