<div class="form-group row"
     ng-class="{ 'has-error' : form.value.$invalid && !form.value.$pristine }">
  <label for="bool" class="col-md-2 form-control-label">{{vm.label}}:</label>
  <div class="col-md-10">
    <select class="form-control"
            name="value"
            ng-model="vm.value"
            ng-options="option for option in vm.options.selectOptions"
            ng-required="vm.options.required">
      <option value="">-- make a selection --</option>
    </select>
  </div>
  <div class="col-md-offset-2 col-md-10"
       ng-messages="form.value.$error"
       ng-if="form.value.$dirty"
       role="alert">
    <div ng-message="required" class="help-block">A selection is required</div>
  </div>
</div>
