<div class="form-group">
  <label for="selectValue" class="col-md-2 control-label">{{vm.label}}:</label>
  <div class="col-md-10">
    <div ng-repeat="value in vm.value">
      <label>
        <input type="checkbox"
               name="selectValue"
               ng-model="value.checked"
               ng-required="vm.options.required">
        {{value.name}}
      </label>
    </div>
  </div>
  <div class="col-md-offset-2 col-md-10">
    <p ng-show="vm.options.required && form.value.$invalid && !form.value.$pristine"
       class="help-block">
      A selection is required.</p>
  </div>
</div>
