<div ng-if="vm.shipment.isUnpacked()">
  <progress-tracker
      items="vm.progressInfo.items"
      current="vm.progressInfo.current">
  </progress-tracker>
  <div class="page-header">
    <h1>
      {{vm.shipment.courierName}}<small>: {{vm.shipment.trackingNumber}}
      <br/> {{'Unpack shipment'|translate}}</small>
      <div class="pull-right">
        <button class="btn btn-xs btn-warning"
                title="{{'Return shipment to received'|translate}}"
                ng-click="vm.returnToReceivedState()">
          <i class="glyphicon glyphicon-chevron-left"></i>
          <translate>Previous step</translate>
        </button>
      </div>
    </h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <uib-tabset active="vm.active">
        <uib-tab ng-repeat="tab in vm.tabs"
          heading="{{tab.heading}}"
          ui-sref="{{tab.sref}}"
          ui-sref-opts="{reload: true}"
          active="tab.active"></uib-tab>
        </uib-tabset>
    </div>
  </div>

  <div ui-view="unpackedShipmentDetails" style="margin-top: 10px;"></div>

  <shipping-info-view shipment="vm.shipment" read-only="true"> </shipping-info-view>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title" translate>Receive items</h3>
    </div>
    <div class="panel-body">
      <form name="receiveSpecimens">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-12">
              <label for="nameFilter" translate>
                Enter one or more specimen inventory IDs to receive:
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="input-group">
                <input type="text"
                       class="form-control"
                       name="inventoryId"
                       ng-model="vm.inventoryId"
                       placeholder="{{'inventory ids (comma separated)'|translate}}">
                <span class="input-group-btn">
                  <button type="submit"
                          class="btn btn-primary"
                          ng-click="vm.onInventoryIdSubmit()">
                    <i class="glyphicon glyphicon-plus"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <collapsable-panel heading="{{'Unpacked specimens'|translate}}">
        <ss-specimens-paged-table
            default-sort-field="inventoryId"
            refresh="vm.refreshNonReceivedSpecimensTable"
            show-item-state="true"
            on-get-specimens="vm.getPresentSpecimens"
            no-specimens-message="{{'No specimens present in shipment'|translate}}"
            actions="vm.actions"
            on-action-selected="vm.nonReceivedSpecimensTableActionSelected">
        </ss-specimens-paged-table>
      </collapsable-panel>
    </div>
  </div>
</div>
<div ng-if="!vm.shipment.isUnpacked()">
  <div class="page-header">
    <h1>
      {{vm.shipment.courierName}}<small>: {{vm.shipment.trackingNumber}}
      <br/> {{'Unpack shipment'|translate}}</small>
    </h1>
  </div>
  <div class="panel panel-warning">
    <div class="panel-heading" translate>
      Cannot add unpack items from shipment <em>{{vm.shipment.courierName}}: {{vm.shipment.trackingNumber}}</em> since
      it is in the wrong state. </div> </div>
</div>
