<uib-accordion-group is-open="vm.panelOpen" class="voffset2">
  <uib-accordion-heading>
    Specimen Link Types
    <panel-buttons on-add="vm.add(study)"
                   add-button-title="add specimen link type"
                   add-button-enabled="vm.modificationsAllowed"
                   panel-open="vm.panelOpen">
    </panel-buttons>
  </uib-accordion-heading>
  <p>
    Specimen Link Types are assigned to a processing type, and used to represent a regularly performed
    processing procedure involving two Specimens: an input, which must be in a specific Specimen Group, and an
    output, which must be in a specific Specimen Group.
  </p>
  <div class="panel panel-warning" ng-if="vm.specimenLinkTypes.length == 0">
    <div class="panel-heading">
      Specimen link types have not been defined for this study yet.
    </div>
  </div>
  <p ng-if="vm.specimenLinkTypes.length > 0">
    The following specimen link types are defined:
  </p>
  <table ng-show="vm.specimenLinkTypes.length > 0"
         class="table table-condensed table-hover"
         st-table="vm.specimenLinkTypes">

    <thead>
      <th st-sort="processingTypeName">Processing Type</th>
      <th st-sort="inputGroupName">Input Specimen Group</th>
      <th st-sort="outputGroupName">Output Specimen Group</th>
      <th>Annotation Types</th>
      <th></th>
    </thead>

    <tbody>
      <tr ng-repeat="specimenLinkType in vm.specimenLinkTypes">
        <td ng-click="vm.viewProcessingType(specimenLinkType.processingTypeId)">
          <a href>{{vm.processingTypesById[specimenLinkType.processingTypeId].name}}</a>
        </td>
        <td ng-click="vm.viewSpecimenGroup(specimenLinkType.inputGroupId)">
          <a href>{{specimenLinkType.inputGroup.name}}</a>
        </td>
        <td ng-click="vm.viewSpecimenGroup(specimenLinkType.outputGroupId)">
          <a href>{{specimenLinkType.outputGroup.name}}</a>
        </td>
        <td>
          <span ng-repeat="atItemId in specimenLinkType.annotationTypeDataIds()"
                ng-click="vm.viewAnnotationType(atItemId)">
            <a href>
              {{specimenLinkType.getAnnotationTypeDataById(atItemId).annotationType.name}}
            </a><span ng-if="!$last">, </span>
          </span>

        </td>
        <td ng-if="vm.modificationsAllowed">
          <info-update-remove-buttons
             on-info="vm.information(specimenLinkType)"
             on-update="vm.update(specimenLinkType)"
             on-remove="vm.remove(specimenLinkType)"
             update-button-enabled="vm.modificationsAllowed"
             remove-button-enabled="vm.modificationsAllowed">
          </info-update-remove-buttons>
        </td>
      </tr>
    </tbody>
  </table>
</uib-accordion-group>
