<breadcrumbs crumbs="vm.breadcrumbs"></breadcrumbs>
<div class="page-header">
  <h1>{{vm.study.name}} <small>{{vm.title}}</small></h1>
</div>

<p translate>Select the event type:</p>

<form class="form-horizontal"
      name="collectionEventForm"
      novalidate>

  <!-- COLLECTION EVENT TYPE -->
  <div class="form-group"
       ng-class="{ 'has-error' : collectionEventForm.eventType.$invalid &&
                 !collectionEventForm.eventType.$pristine }">
    <label for="eventType" class="col-md-2 form-control-label" translate>Event</label>
    <div class="col-md-8">
      <select class="form-control"
              name="eventType"
              ng-model="vm.eventTypeSlug"
              ng-options="eventType.slug as eventType.name for eventType in vm.collectionEventTypeNames |
                          orderBy: 'name'"
              ng-change="vm.updateCollectionEventType()"
              required>
        <option value="">-- choose event --</option>
      </select>
    </div>
    <div class="col-md-offset-2 col-md-10"
         ng-messages="collectionEventForm.eventType.$error"
         ng-if="collectionEventForm.eventType.$dirty">
      <div ng-message="required" class="help-block" translate>Please select an event</div>
    </div>
  </div>

</form>
