<div class="page-header">
  <h1>{{vm.study.name}} <small>{{vm.title}}</small></h1>
</div>

<p translate>Select the event type:</p>

<form class="form-horizontal"
      name="collectionEventForm"
      novalidate>

  <!-- COLLECTION EVENT TYPE -->
  <div class="form-group"
       ng-class="{ 'has-error' : collectionEventForm.ceventTypeId.$invalid &&
                 !collectionEventForm.ceventTypeId.$pristine }">
    <label for="ceventTypeId" class="col-md-2 form-control-label" translate>Event Type</label>
    <div class="col-md-8">
      <select class="form-control"
              name="eventTypeId"
              ng-model="vm.eventTypeId"
              ng-options="eventType.id as eventType.name for eventType in vm.collectionEventTypeNames |
                          orderBy: 'name'"
              ng-change="vm.updateCollectionEventType()"
              required>
        <option value="">-- choose type --</option>
      </select>
    </div>
    <div class="col-md-offset-2 col-md-10"
         ng-messages="collectionEventForm.ceventTypeId.$error"
         ng-if="collectionEventForm.ceventTypeId.$dirty">
      <div ng-message="required" class="help-block" translate>Please select a type</div>
    </div>
  </div>

</form>
