<table class="table table-bordered table-condensed">
  <!-- Meant to be used within a bootstarap panel -->
  <tr>
    <td ng-if="showState">
      <small class="text-muted text-info">
        <translate>State:</translate>
        <strong>{{item.state}}</strong>
      </small>
    </td>
    <td>
      <small class="text-muted text-info">
        <translate>Added:</translate>
        <strong>{{item.timeAdded | timeago}}</strong></small>
    </td>
    <td>
      <small class="text-muted text-info">
        <translate>Modified:</translate>
        <strong ng-if="!!item.timeModified">{{item.timeModified | timeago}}</strong>
        <strong ng-if="! item.timeModified" translate>Never</strong>
      </small>
    </td>
  </tr>
</table>
