<div class="row">
  <div class="col-md-12">
    <strong>
      {{vm.annotationType.name}}
    </strong>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <small class="text-muted">
      <translate>Required:</translate>
      <strong>{{ vm.annotationType.required | yesNo }}</strong>
    </small>
  </div>
  <div class="col-md-9">
    <small class="text-info">
      <translate>Type:</translate>
      <strong>{{ vm.annotationType.getValueTypeLabel() }}</strong>
    </small>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>{{vm.annotationType.description | truncate:100}}</p>
  </div>
</div>
