  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <translate translate-context="used to list collection events">Events</translate>
      <span class="btn-group pull-right">
        <button class="btn btn-xs btn-default"
                title="{{'add collection event'|translate}}"
                ng-click="vm.add()">
          <i class="glyphicon glyphicon-plus"></i>
        </button>
      </span>
    </h3>
  </div>

  <div class="panel-body" ng-if="vm.collectionEventTypes.length <= 0">
    <div class="alert alert-warning"
         ng-if="vm.displayState === vm.displayStates.NOT_CONFIGURED"
         translate>
      No collection events added to this study yet.
    </div>
    <div class="alert alert-warning"
         ng-if="vm.displayState === vm.displayStates.NO_RESULTS"
         translate>
      No Events match the criteria.
    </div>
  </div>

  <table ng-show="vm.collectionEventTypes.length > 0"
         class="table table-hover table-condensed"
         st-table="vm.collectionEventTypes">
    <tbody>
      <tr ng-repeat="ceventType in vm.collectionEventTypes">
        <td>
          <a href ng-click="vm.select(ceventType)">{{ceventType.name | truncate:18}}</a>
          <span class="pull-right badge">{{vm.getRecurringLabel(ceventType)}}</span>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="panel-footer text-center"
       ng-if="vm.showPagination">
    <ul uib-pagination
        class="pagination-sm"
        boundary-links="true"
        total-items="vm.pagedResult.total"
        items-per-page="vm.pagerOptions.limit"
        ng-model="vm.pagerOptions.page"
        ng-change="vm.pageChanged()"
        max-size="5"
        rotate="false"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"
        first-text="&laquo;"
        last-text="&raquo;">
    </ul>
  </div>

  <div class="panel-footer"
       ng-if="vm.displayState !== vm.displayStates.NOT_CONFIGURED">
    <form class="form-inline" name="filters">
      <div class="form-group">
        <label for="nameFilter"
               class="small"
               translate
               translate-context="a search filter used to search by Collection Event Type name">
          Name filter:
        </label>
        <input type="text"
               class="form-control input-sm"
               name="nameFilter"
               ng-model="vm.nameFilter"
               ng-model-options="{ debounce: 500 }"
               ng-change="vm.nameFilterUpdated()">
      </div>
    </form>
  </div>
</div>
