<breadcrumbs crumbs="vm.breadcrumbs"></breadcrumbs>
<div class="page-header">
  <h1>
    <translate>
      {{vm.centre.name}} Shipments
    </translate>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <uib-tabset active="vm.active">
      <uib-tab ng-repeat="tab in vm.tabs"
               heading="{{tab.heading}}"
               ui-sref="{{tab.sref}}"
               ui-sref-opts="{reload: true}"
               active="tab.active"></uib-tab>
    </uib-tabset>
  </div>
</div>

<div ui-view="shipments" class="voffset2"></div>
