<div class="page-header">
  <h1>
    <translate>
      Shipments: <small>To / from <strong>{{vm.centre.name}}</strong></small>
    </translate>
  </h1>
</div>

<div class="well well-sm">
  <shipment-states-selector
      selected-states="vm.selectedShipmentStates"
      on-selection="vm.stateSelectionChanged">
  </shipment-states-selector>
</div>

<div class="row" ng-if="!vm.hasShipments">
  <div class="col-md-12">
    <div class="alert alert-warning" role="alert">
      <p><span class="glyphicon glyphicon-warning-sign"></span>
        <translate>
          There are no shipments involved with this centre yet.
        </translate>
      </p>
    </div>
  </div>
</div>
<shipments-table centre="vm.centre"
                 ng-if="vm.hasShipments"
                 shipment-states-filter="vm.selectedShipmentStates">
</shipments-table>
