<progress-tracker
   items="vm.progressInfo.items"
   current="vm.progressInfo.current">
</progress-tracker>
<div class="page-header">
  <h1>
    {{vm.shipment.courierName}}<small>: {{vm.shipment.trackingNumber}}
    <br/> {{'Sent shipment'|translate}}</small>
    <div class="pull-right">
      <button class="btn btn-xs btn-warning"
              title="{{'Return shipment to packed state (un-send this shipment)'|translate}}"
              ng-click="vm.returnToPackedState()">
        <translate>Return to packed</translate>
      </button>
      <button class="btn btn-xs btn-primary"
              title="{{'Mark shipment as received'|translate}}"
              ng-click="vm.receiveShipment()">
        <translate>Tag as received</translate>
      </button>
      <button class="btn btn-xs btn-primary"
              title="{{'Mark shipment as received and start unpacking it'|translate}}"
              ng-click="vm.unpackShipment()">
        <translate>Tag as unpacked</translate>
      </button>
    </div>
  </h1>
</div>
