<div class="page-header">
  <h1 translate>Select a category</h1>
</div>
<div class="row">

  <!-- STUDY ADMIN -->
  <div class="col-md-4" ng-if="vm.user.hasStudyAdminRole()">
    <div class="panel panel-default" style="margin-top: 10px;">
      <div class="panel-heading">
        <h3 class="panel-title">
          <translate>Study Administration</translate>
          <span class="btn-group pull-right">
            <a ui-sref="home.admin.studies"
               class="btn btn-xs btn-primary"
               type="button" translate>
              Select
            </a>
          </span>
        </h3>
      </div>
      <div class="panel-body">
        <p translate>Add a new study or make changes to existing studies.</p>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">{{vm.counts.studies}}</span>
          <translate>Configured studies</translate>
          <!-- FIXME: add count of enabled studies here -->
        </li>
      </ul>
    </div>
  </div>

  <!-- CENTRE ADMIN -->
  <div class="col-md-4" ng-if="vm.user.hasCentreAdminRole()">
    <div class="panel panel-default" style="margin-top: 10px;">
      <div class="panel-heading">
        <h3 class="panel-title">
          <translate>Center Administration</translate>
          <span class="btn-group pull-right">
            <a ui-sref="home.admin.centres"
               class="btn btn-xs btn-primary"
               type="button"
               translate>
              Select
            </a>
          </span>

        </h3>
      </div>
      <div class="panel-body">
        <p translate>Add a new centre or make changes to existing centres.</p>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">{{vm.counts.centres}}</span>
          <translate>Configured centres</translate>
          <!-- FIXME: add count of enabled centres here -->
        </li>
      </ul>
    </div>
  </div>

  <!-- USER ADMIN -->
  <div class="col-md-4" ng-if="vm.user.hasUserAdminRole()">
    <div class="panel panel-default" style="margin-top: 10px;">
      <div class="panel-heading">
        <h3 class="panel-title">
          <translate>User administration</translate>
          <span class="btn-group pull-right">
            <a ui-sref="home.admin.users"
               class="btn btn-xs btn-primary"
               type="button"
               translate>
              Select
            </a>
          </span>

        </h3>
      </div>
      <div class="panel-body">
        <p translate>Activate users, lock out existing users, or manage user permissions.</p>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">{{vm.counts.users}}</span>
          <translate>Active users</translate>
        </li>
      </ul>
    </div>
  </div>

</div>
