<!--

    this file is included by a parent template

  -->
<div class="panel panel-warning" ng-if="vm.annotationTypes.length <= 0">
  <div class="panel-heading">
    Annotation types have not been defined for this study yet.
  </div>
</div>
<div ng-if="vm.annotationTypes.length > 0">
  <p>The following annotation types are defined:</p>
  <table class="table table-condensed table-hover"
         st-table="vm.annotationTypes">
    <!-- NOTE: tried to put the th tag in a thead but they would not display on the page -->
    <thead>
      <tr>
        <th ng-repeat="column in vm.columns" st-sort="{{column.field}}">
          {{column.title}}
        </th>
        <th ng-if="vm.study.isDisabled()"><!-- heading for buttons: blank for now --></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="annotationType in vm.annotationTypes">
        <td ng-repeat="column in vm.columns" sortable="column.field">

          <span ng-if="column.field === 'name'"
                ng-click="vm.information(annotationType)">
            <a href>{{annotationType[column.field]}}</a>
          </span>

          <span ng-if="(column.field === 'description')">
            {{annotationType[column.field] ? (annotationType[column.field] | truncate:50) : ''}}
          </span>

          <span ng-if="(column.field !== 'name') && (column.field !== 'description') && (column.field !== 'required')">
            {{annotationType[column.field]}}
          </span>

          <span ng-if="vm.hasRequired && (column.field === 'required')">
            {{annotationType[column.field] ? 'Yes' : 'No'}}
          </span>

        </td>
        <td ng-if="vm.modificationsAllowed">
          <update-remove-buttons
             on-update="vm.update(annotationType)"
             on-remove="vm.remove(annotationType)"
             update-button-enabled="vm.modificationsAllowed"
             remove-button-enabled="vm.modificationsAllowed">
          </update-remove-buttons>
        </td>
      </tr>
    </tbody>
  </table>
</div>
