<!--

    this file is included by a parent template

  -->
<div class="panel panel-warning" ng-if="vm.annotTypes.length <= 0">
  <div class="panel-heading">
    Annotation types have not been defined for this study yet.
  </div>
</div>
<div ng-if="vm.annotTypes.length > 0">
  <p>The following annotation types are defined:</p>
  <table class="table table-condensed table-hover"
         ng-table="vm.tableParams"
         show-filter="true">
    <!-- NOTE: tried to put the th tag in a thead but they would not display on the page -->
    <tbody>
      <tr>
        <th ng-repeat="column in vm.columns"
            class="text-center sortable"
            ng-class="{
                      'sort-asc': vm.tableParams.isSortBy(column.field, 'asc'),
                      'sort-desc': vm.tableParams.isSortBy(column.field, 'desc')
                      }"
            ng-click="vm.tableParams.sorting(column.field, vm.tableParams.isSortBy(column.field, 'asc') ?
                      'desc' : 'asc')">
          <div>{{column.title}}</div>
        </th>
        <th ng-if="vm.study.status === 'Disabled'"><!-- heading for buttons: blank for now --></th>
      </tr>
      <tr ng-repeat="annotType in $data">
        <td ng-repeat="column in vm.columns" sortable="column.field">

          <span ng-if="column.field === 'name'"
                ng-click="vm.information(annotType)">
            <a href>{{annotType[column.field]}}</a>
          </span>

          <span ng-if="(column.field === 'description')">
            {{annotType[column.field] ? (annotType[column.field] | truncate:50) : ''}}
          </span>

          <span ng-if="(column.field !== 'name') && (column.field !== 'description') && (column.field !== 'required')">
            {{annotType[column.field]}}
          </span>

          <span ng-if="vm.hasRequired && (column.field === 'required')">
            {{annotType[column.field] ? 'Yes' : 'No'}}
          </span>

        </td>
        <td ng-if="vm.modificationsAllowed">
          <update-remove-buttons
             on-update="vm.update(annotType)"
             on-remove="vm.remove(annotType)"
             update-button-enabled="vm.modificationsAllowed"
             remove-button-enabled="vm.modificationsAllowed">
          </update-remove-buttons>
        </td>
      </tr>
    </tbody>
  </table>
</div>
