<uib-accordion-group is-open="vm.panelOpen" class="voffset2">
  <uib-accordion-heading>
    Specimen Groups
    <panel-buttons on-add="vm.add(study)"
                   add-button-title="add specimen group"
                   add-button-enabled="vm.modificationsAllowed"
                   panel-open="vm.panelOpen">
    </panel-buttons>
  </uib-accordion-heading>
  <p>
    A Specimen Group is used to configure a specimen type to be used by the study.  It records ownership,
    summary, storage, and classification information that applies to an entire group or collection of
    Specimens.
  </p>
  <div class="panel panel-warning" ng-if="vm.specimenGroups.length == 0">
    <div class="panel-heading">
      Specimen groups have not been defined for this study yet.
    </div>
  </div>
  <p ng-if="vm.specimenGroups.length != 0">
    The following specimen groups are defined:
  </p>
  <table ng-show="vm.specimenGroups.length != 0"
         class="table table-hover table-condensed"
         st-table="vm.specimenGroups">
    <thead>
      <th st-sort="name">Name</th>
      <th st-sort="anatomicalSourceType">Anatomical Source</th>
      <th st-sort="specimenType">Specimen Type</th>
      <th st-sort="description">Description</th>
      <th></th>
    </thead>
    <tbody>
      <tr ng-repeat="specimenGroup in vm.specimenGroups">
        <td>
          <span ng-click="vm.information(specimenGroup)">
            <a href>{{specimenGroup.name}}</a>
          </span>
        </td>
        <td>
          {{specimenGroup.anatomicalSourceType}}
        </td>
        <td>
          {{specimenGroup.specimenType}}
        </td>
        <td>
          {{specimenGroup.description === null ? "" : specimenGroup.description | truncate:40}}
        </td>
        <td ng-if="vm.modificationsAllowed">
          <update-remove-buttons
             on-update="vm.update(specimenGroup)"
             on-remove="vm.remove(specimenGroup)"
             update-button-enabled="vm.modificationsAllowed"
             remove-button-enabled="vm.modificationsAllowed">
          </update-remove-buttons>
        </td>
      </tr>
    </tbody>
  </table>
</uib-accordion-group>
