<breadcrumbs crumbs="vm.breadcrumbs"></breadcrumbs>
<div class="page-header">
  <h1>{{vm.study.name}} <small translate>Add participant</small></h1>
</div>
<form class="form-horizontal"
      name="participantForm"
      novalidate>

  <!-- UNIQUE ID -->
  <div class="form-group row"
       ng-class="{ 'has-error' : participantForm.uniqueId.$invalid && !participantForm.uniqueId.$pristine }">
    <label for="uniqueId" class="col-md-2 form-control-label">Unique ID</label>
    <div class="col-md-10">
      <input name="uniqueId"
             type="text"
             class="form-control"
             ng-model="vm.participant.uniqueId"
             ng-minlength="2"
             placeholder="{{'Identifies a participant in the system'|translate}}"
             focus-me="true"
             required/>
    </div>
    <div class="col-md-offset-2 col-md-10"
         ng-messages="participantForm.uniqueId.$error"
         ng-if="participantForm.uniqueId.$dirty">
      <div ng-message="required" class="help-block" translate>A unique ID is required</div>
      <div ng-message="minlength" class="help-block" translate>Unique ID is too short</div>
    </div>
  </div>

  <!-- ANNOTATION TYPES  -->
  <annotations-input annotations="vm.participant.annotations"></annotations-input>

  <!-- BUTTONS  -->
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button class="btn btn-primary"
              ng-disabled="participantForm.$invalid"
              ng-click="vm.submit(vm.participant)"
              translate>
        Submit
      </button>
      <button type="button" class="btn" ng-click="vm.cancel()" translate>Cancel</button>
    </div>
  </div>
</form>
