<div class="page-header"><h1>{{title}}</h1></div>
<div class="clearfix">
  <form class="form-horizontal"
        name="sgForm"
        novalidate>

    <!-- NAME -->
    <div class="form-group" ng-class="{ 'has-error' : sgForm.name.$invalid && !sgForm.name.$pristine }">
      <label for="name" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input name="name"
               type="text"
               class="form-control"
               ng-model="specimenGroup.name"
               ng-minlength="2"
               placeholder="A short name for the specimen group"
               required />
      </div>
      <div class="col-sm-offset-2 col-sm-10">
        <p class="help-block" ng-show="sgForm.name.$error.minlength">Name is too short.</p>
      </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
      <label for="description" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <textarea name="description"
                  class="form-control"
                  rows="10"
                  ng-model="specimenGroup.description"
                  placeholder="A description of the specimen group (optional)" />
      </div>
    </div>

    <!-- UNITS -->
    <div class="form-group">
      <label for="units" class="col-sm-2 control-label">Units</label>
      <div class="col-sm-10">
        <input name="units"
               type="text"
               class="form-control"
               ng-model="specimenGroup.units"
               ng-minlength="2"
               placeholder="the units the specimens are measured in (eg. mL, cm, etc.)" required=true/>
      </div>
      <div class="col-sm-offset-2 col-sm-10">
        <p ng-show="sgForm.units.$error.minlength" class="help-block">Value for units is too short.</p>
        <p ng-show="sgForm.units.$invalid && !sgForm.units.$pristine"
           class="help-block">
          Units are required.</p>
      </div>
    </div>

    <!-- ANATOMICAL SOURCE -->
    <div class="form-group">
      <label for="anatomicalSourceType" class="col-sm-2 control-label">Anatomical Source</label>
      <div class="col-sm-10">
        <select class="form-control"
                name="anatomicalSourceType"
                ng-model="specimenGroup.anatomicalSourceType"
                ng-options="source for source in anatomicalSourceTypes"
                required>
          <option value="">-- make a selection --</option>
        </select>
      </div>
      <div class="col-sm-offset-2 col-sm-10">
        <p ng-show="sgForm.anatomicalSourceType.$invalid && !sgForm.anatomicalSourceType.$pristine"
           class="help-block">
          Anatomical source is required.</p>
      </div>
    </div>

    <!-- PRESERVATION TYPE -->
    <div class="form-group">
      <label for="perservationType" class="col-sm-2 control-label">Preservation Type</label>
      <div class="col-sm-10">
        <select class="form-control"
                name="perservationType"
                ng-model="specimenGroup.preservationType"
                ng-options="preserv for preserv in preservTypes"
                required>
          <option value="">-- make a selection --</option>
        </select>
      </div>
      <div class="col-sm-offset-2 col-sm-10">
        <p ng-show="sgForm.perservationType.$invalid && !sgForm.perservationType.$pristine"
           class="help-block">
          Preservation type is required.</p>
      </div>
    </div>

    <!-- PRESERVATION TEMPERATURE -->
    <div class="form-group">
      <label for="perservationTempType" class="col-sm-2 control-label">Preservation Temperature</label>
      <div class="col-sm-10">
        <select class="form-control"
                name="perservationTempType"
                ng-model="specimenGroup.preservationTemperatureType"
                ng-options="temp for temp in preservTempTypes"
                required>
          <option value="">-- make a selection --</option>
        </select>
      </div>
      <div class="col-sm-offset-2 col-sm-10">
        <p ng-show="sgForm.perservationTempType.$invalid && !sgForm.perservationTempType.$pristine"
           class="help-block">
          Preservation temperature is required.</p>
      </div>
    </div>

    <!-- SPECIMEN TYPE -->
    <div class="form-group">
      <label for="specimenType" class="col-sm-2 control-label">Specimen Type</label>
      <div class="col-sm-10">
        <select class="form-control"
                name="specimenType"
                ng-model="specimenGroup.specimenType"
                ng-options="type for type in specimenTypes"
                required>
          <option value="">-- make a selection --</option>
        </select>
      </div>
      <div class="col-sm-offset-2 col-sm-10">
        <p ng-show="sgForm.specimenType.$invalid && !sgForm.specimenType.$pristine"
           class="help-block">
          Specimen type is required.</p>
      </div>
    </div>

    <!-- BUTTONS  -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary"
                ng-disabled="sgForm.$invalid"
                ng-click="submit(specimenGroup)">Submit</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
