<breadcrumbs crumbs="vm.breadcrumbs"></breadcrumbs>
<div class="page-header">
  <h1>{{vm.study.name}}
    <small translate
           translate-context="used in page where a user's unique Id should be entered">
      collection
    </small>
  </h1>
</div>
<form class="form-inline" name="uniqueId">
  <div class="form-group">
    <label for="nameFilter" translate>Enter the participant's unique ID:</label>
    <input type="text"
           class="form-control"
           name="uniqueId"
           ng-model="vm.uniqueId"
           placeholder="{{'unique id'|translate}}"
           required>
  </div>
  <button type="submit"
          class="btn btn-primary"
          ng-disabled="uniqueId.$invalid"
          ng-click="vm.onSubmit()">
    <translate>Submit</translate>
    <i class="glyphicon glyphicon-ok"></i>
  </button>
</form>
