<div class="form-group"
     ng-if="annotation.annotationType.maxValueCount > 1"
     ng-class="{ 'has-error' : annotationSubForm.annotationSelectValue.$invalid &&
               !annotationSubForm.annotationSelectValue.$pristine }">
  <label class="col-md-2 form-control-label">{{annotation.annotationType.name}}</label>
  <div class="col-md-10">
    <div ng-repeat="value in annotation.values">
      <label>
        <input type="checkbox"
               name="annotationSelectValue"
               ng-model="value.checked"
               ng-required="annotation.required && !annotation.someSelected()">
        <span>{{value.name}}</span>
      </label>
    </div>
  </div>
  <div class="col-md-offset-2 col-md-10">
    <p class="help-block"
       ng-show="annotationSubForm.annotationSelectValue.$error.required">
      Please make a selection
    </p>
  </div>
</div>
