<breadcrumbs crumbs="vm.breadcrumbs"></breadcrumbs>
<div class="page-header">
  <h1>{{vm.centre.name}} <small>Location</small></h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <translate>Location:</translate>
      {{vm.location.name}}

      <span class="pull-right"
            uib-dropdown
            is-open="vm.locationMenu.isOpen"
            ng-if="vm.centre.isDisabled()">
        <button class="btn btn-xs btn-default dropdown-toggle"
                type="button"
                id="locationMenu"
                uib-dropdown-toggle>
          <span class="glyphicon glyphicon-option-vertical"></span>
        </button>

        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="locationMenu">
          <li role="menuitem">
            <a href
               ng-click="vm.editName()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update name</translate>
            </a>
          </li>
          <li role="menuitem">
            <a href
               ng-click="vm.editStreet()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update street address</translate>
            </a>
          </li>
          <li role="menuitem">
            <a href
               ng-click="vm.editCity()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update city</translate>
            </a>
          </li>
          <li role="menuitem">
            <a href
               ng-click="vm.editProvince()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update province</translate>
            </a>
          </li>
          <li role="menuitem">
            <a href
               ng-click="vm.editPostalCode()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update postal code</translate>
            </a>
          </li>
          <li role="menuitem">
            <a href
               ng-click="vm.editPoBoxNumber()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update PO box number</translate>
            </a>
          </li>
          <li role="menuitem">
            <a href
               ng-click="vm.editCountryIsoCode()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update country ISO code</translate>
            </a>
          </li>
          <li class="divider"></li>
          <li role="menuitem">
            <a href
               ng-click="vm.remove()">
              <i class="glyphicon glyphicon-remove text-danger"></i>
              <translate>Remove this location</translate>
            </a>
          </li>
        </ul>
      </span>

    </h3>
  </div>
  <ul class="list-group" ng-if="vm.centre.hasLocations()">

    <!-- NAME -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Name</strong>
        </div>
        <div class="col-md-10">
          {{vm.location.name}}
        </div>
      </div>
    </li>

    <!-- STREET -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Street</strong>
        </div>
        <div class="col-md-10">
          {{vm.location.street}}
        </div>
      </div>
    </li>

    <!-- CITY -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>City</strong>
        </div>
        <div class="col-md-10">
          {{vm.location.city}}
        </div>
      </div>
    </li>

    <!-- PROVINCE -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Province</strong>
        </div>
        <div class="col-md-10">
          {{vm.location.province}}
        </div>
      </div>
    </li>

    <!-- POSTAL CODE -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Postal code</strong>
        </div>
        <div class="col-md-10">
          {{vm.location.postalCode}}
        </div>
      </div>
    </li>

    <!-- PO BOX NUMBER -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Postal Box Number</strong>
        </div>
        <div class="col-md-10">
          {{vm.location.poBoxNumber}}
        </div>
      </div>
    </li>

    <!-- COUNTRY ISO CODE -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Country ISO code</strong>
        </div>
        <div class="col-md-10">
          {{vm.location.countryIsoCode}}
        </div>
      </div>
    </li>

  </ul>
</div>

<button class="btn btn-primary"
        uib-tooltip="{{'Back to locations'|translate}}"
        ng-click="vm.back()">
  Back
</button>
