@*
 * fields is a map of the string to display as the field name to the corresponding value.
 *
 *@
@(studyId: String,
    studyName: String,
    annotType: domain.study.ParticipantAnnotationType,
    fields: Map[String, String],
    breadcrumbMap: Map[String, Call])(
    implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent])

@import tags._    
@import helper._
@import controllers.study._

@breadcrumbs = @{ Map(
  (Messages("biobank.study.plural") -> routes.StudyController.index),
  (studyName -> routes.StudyController.showStudy(studyId)),
  (Messages("biobank.study.participant.annotation.type.remove") -> null)
) }

@main(Messages("biobank.study.specimen.group.remove"), breadcrumbs) {
  <div class="page-header">
    <h2>@studyName <small>@Messages("biobank.study.participant.annotation.type.remove")</small></h2>
    
    @alertBlock{ @Messages("biobank.common.warning") } {
        @Messages("biobank.study.participant.annotation.type.remove.confirm", annotType.name)
    }
  </div>
  <div class="clearfix">

    @for((name,value) <- fields) {
        @nameValueRow(name, value)
    }

    @form(routes.ParticipantAnnotTypeController.removeAnnotationTypeSubmit,
        args = 'id -> "removeform", 'class -> "form-horizontal") {

        <input type="hidden" name="studyId" value="@studyId" >
        <input type="hidden" name="studyName" value="@studyName" >
        <input type="hidden" name="annotationTypeId" value="@annotType.id.id" >

        <div class="form-actions">
            <button type="submit" value="confirm" class="btn btn-primary btn-warning">@Messages("biobank.common.confirm")</button>
            <a href="@routes.StudyController.showStudy(studyId)" class="btn">Cancel</a>
        </div>
    }
  </div>
}
