<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Processing Types
    </h3>
  </div>
  <div class="panel-body">
    A Processing Type describes a regularly performed specimen processing procedure with a unique name (unique
    to this study). There should be one or more associated Specimen Link Types that (1) further define legal
    procedures and (2) allow recording of procedures performed on different types of Specimens.
    <div class="panel panel-danger">
      <div class="panel-heading" translate>
        This section is incomplete.
      </div>
    </div>
  </div>
  <div class="panel panel-warning" ng-if="vm.processingTypes.length == 0">
    <div class="panel-heading">
      Processing types have not been defined for this study yet.
    </div>
  </div>
  <p ng-if="vm.processingTypes.length > 0">
    The following processing types are defined:
  </p>
  <table ng-show="vm.processingTypes.length > 0"
         class="table table-condensed table-hover"
         st-table="vm.processingTypes">
    <thead>
      <th st-sort="name">Name</th>
      <th st-sort="enabled">Enabled</th>
      <th st-sort="description">Description</th>
      <th></th>
    </thead>

    <tbody>
      <tr ng-repeat="processingType in vm.processingTypes">
        <td>
          <span ng-click="vm.information(processingType)">
            <a href>{{processingType.name}}</a>
          </span>
        </td>
        <td>
          {{processingType.enabled | yesNo}}
        </td>
        <td>
          {{processingType.description === null ? '' : processingType.description | truncate:40}}
        </td>
        <td ng-if="vm.modificationsAllowed">
          <update-remove-buttons
             on-update="vm.update(processingType)"
             on-remove="vm.remove(processingType)"
             update-button-enabled="vm.modificationsAllowed"
             remove-button-enabled="vm.modificationsAllowed">
          </update-remove-buttons>
        </td>
      </tr>
    </tbody>
  </table>
</div>
