<progress-tracker task-data="vm.progressInfo"></progress-tracker>
<div class="page-header">
  <h1>
    {{vm.shipment.courierName}}<small>: {{vm.shipment.trackingNumber}}
    <br/> {{'Packed shipment'|translate}}</small>
    <div class="pull-right">
      <button class="btn btn-xs btn-warning"
              uib-tooltip="{{'Add more items to this shipment'|translate}}"
              ng-click="vm.addMoreItems()">
        <i class="glyphicon glyphicon-chevron-left"></i>
        <translate>Back to created</translate>
      </button>
      <button class="btn btn-xs btn-primary"
              uib-tooltip="{{'Mark shipment as sent'|translate}}"
              ng-click="vm.sendShipment()">
        <translate>Tag as sent</translate>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </button>
    </div>
  </h1>
</div>
