@import "lib/bootstrap/less/variables.less";
@import "lib/bootstrap/less/mixins.less";

.table td.header {
  font-weight: bold;
}

.data-heading {
  margin-bottom: 10px;
  margin-top: 1px;
  padding: 2px;
  font-weight: bold;
}

.well-tiny {
  margin-bottom: 10px;
  padding: 2px;
}

.popover {
    width: 600px;
}
