body {
   margin-top: 45px;
   padding: 8px !important;
}

@import "~bootstrap/less/variables.less";

@link-color:                    #e3ffc7;

.basics-nav {
   /* background-color: #7ece25; */
   .navbar-brand {
      color: @link-color;
   }
   .navbar-nav {
      li a {
         color: @link-color;
      }
      .dropdown-menu {
         a {
            color: #000;
         }
      }
   }
}

/* AngularJS */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
   display: none;
}

.ng-invalid.ng-dirty {
   border-color: #FA787E;
}

.ng-valid.ng-dirty {
   border-color: #78FA89;
}

/* https://css-tricks.com/viewport-sized-typography/ */
.table {
  /* font-size: 2vmin; */
}

.fixed-size {
   min-height: 450px;
   max-height: 450pt;
}

/* tables in collapsible panels */
//accordion > div > participants-annot-types-panel > div > div.panel-collapse.collapse.in > div > table
.panel-collapse .table {
   border-top: 1px solid #ddd;
}

fieldset.filter {
   border: 1px groove #ddd !important;
   padding: 0 1.4em 1.4em 1.4em !important;
   margin: 0 0 1.5em 0 !important;
   -webkit-box-shadow:  0px 0px 0px 0px #000;
   box-shadow:  0px 0px 0px 0px #000;
}

legend.filter {
   font-size: 1.2em !important;
   font-weight: bold !important;
   text-align: left !important;
   width: inherit;
   padding: 0 10px;
   border-bottom: none;
}

/* for smart-table */
.st-sort-ascent:before{
   content: '\25B2';
}

/* for smart-table */
.st-sort-descent:before{
   content: '\25BC';
}

/* for smart-table */
.select-page {
   width: 50px;
   text-align: center;
}

/* for smart-table */
.pagination li a input {
   padding: 0;
   margin: -5px 0;
}

.datetimepicker-wrapper {
   vertical-align: middle;
   display: inline-block;
}

.datetimepicker-wrapper > input {
   margin-bottom: 0 !important;
   width: 130px;
}

.datetimepicker-wrapper [ng-model=hours],
.datetimepicker-wrapper [ng-model=minutes] {
   width: 46px !important;
}

/* fix for borders in tables inside collapsible panels */
.panel-collapse .table, .panel-collapse .table td {
   border-top: 0px;
   border-bottom: 0px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.voffset-bottom-none { margin-bottom: 0; }
.voffset-bottom   { margin-bottom: 2px; }
.voffset-bottom-1 { margin-bottom: 5px; }
.voffset-bottom-2 { margin-bottom: 10px; }
.voffset-bottom-3 { margin-bottom: 15px; }
.voffset-bottom-4 { margin-bottom: 30px; }
.voffset-bottom-5 { margin-bottom: 40px; }
.voffset-bottom-6 { margin-bottom: 60px; }
.voffset-bottom-7 { margin-bottom: 80px; }
.voffset-bottom-8 { margin-bottom: 100px; }
.voffset-bottom-9 { margin-bottom: 150px; }

@import "breadcrumbs.less";

@import "progress-tracker.less";

@import "labels-list.less";
