@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

@borderRadiusTiny:     2px;

.table td.header { 
  font-weight: bold;
}

.data-heading {
  margin-bottom: 10px;
  margin-top: 1px;
  padding: 2px;
  font-weight: bold;
  .border-radius(@borderRadiusTiny);
}

.well-tiny {
  margin-bottom: 10px;
  padding: 2px;
  .border-radius(@borderRadiusTiny);
}

.popover {
    width: 600px;
}
