<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <translate>Specimens</translate>
      <span class="btn-group pull-right">
        <button class="btn btn-xs btn-default"
                uib-tooltip="{{'add specimens'|translate}}"
                ng-click="vm.addSpecimens()">
          <i class="glyphicon glyphicon-plus"></i>
        </button>
      </span>
    </h3>
  </div>

  <table st-table="vm.specimens"
         st-pipe="vm.getTableData"
         class="table table-striped table-condensed">
    <thead>
      <tr>
        <th st-sort="inventoryId" st-sort-default="true" translate>Inventory ID</th>
        <th><small translate>Amount</small></th>
        <th><small translate>Type</small></th>
        <th st-sort="timeCreated"><small translate>Time created</small></th>
        <th><small translate>Location</small></th>
        <th><small translate>Action</small></th>
      </tr>
    </thead>
    <tbody ng-if="!vm.tableDataLoading && (vm.specimens.length > 0)">
      <tr ng-repeat="specimen in vm.specimens">
        <td><small>{{specimen.inventoryId}}</small></td>
        <td><small>{{specimen.amount}} {{specimen.specimenDefinitionUnits}}</small></td>
        <td><small>{{specimen.specimenDefinitionName}}</small></td>
        <td><small>{{specimen.timeCreated| localTime}}</small></td>
        <td><small>{{specimen.locationInfo.name}}</small></td>
        <td>

          <span class="pull-right"
                uib-dropdown is-open="vm.specimenMenu.isopen_{{specimen.slug}}">
            <button class="btn btn-xs btn-default dropdown-toggle"
                    type="button"
                    id="specimenMenu"
                    uib-dropdown-toggle>
              <span class="glyphicon glyphicon-option-vertical"></span>
            </button>

            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="specimenMenu">
              <li role="menuitem">
                <a href
                   ng-click="vm.viewSpecimen(specimen)">
                  <i class="glyphicon glyphicon-eye-open text-primary"></i>
                  <translate>View specimen</translate>
                </a>
              </li>
              <li role="menuitem">
                <a href
                   ng-click="vm.removeSpecimen(specimen)">
                  <i class="glyphicon glyphicon-remove text-primary"></i>
                  <translate>Remove specimen</translate>
                </a>
              </li>
            </ul>
          </span>

        </td>
      </tr>
    </tbody>
    <tbody ng-if="vm.tableDataLoading">
      <tr>
        <td colspan="5" class="text-center" translate>Loading ...</td>
      </tr>
    </tbody>
    <tbody ng-if="!vm.tableDataLoading && (vm.specimens.length <= 0)">
      <tr>
        <td colspan="6">
          <div class="alert alert-warning">
            <span class="glyphicon glyphicon-warning-sign"></span>
            <translate>
              No specimens collected yet.
          </div>
        </td>
            </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6" class="text-center">
          <div st-items-by-page="vm.limit"
               st-pagination
               st-template="smartTablePaginationTemplate.html">
          </div>
        </td>
      </tr>
    </tfoot>
  </table>

</div>
