<ng-form name="dateTimeSubForm">
  <!-- done with help from https://github.com/zhaber/angular-js-bootstrap-datetimepicker -->
  <div class="form-group"
       ng-class="{ 'has-error' : (dateTimeSubForm.dateValue.$invalid &&
       !dateTimeSubForm.dateValue.$pristine) ||
       (dateTimeSubForm.$error.time[0].$invalid &&
       !dateTimeSubForm.$error.time[0].$pristine) }">
    <label class="col-md-2 control-label">{{vm.label}}</label>
    <div class="col-md-10">
      <div class="datetimepicker-wrapper">
        <input name="dateValue"
               type="text"
               class="form-control"
               uib-datepicker-popup
               is-open="vm.opened"
               datepicker-options="vm.options"
               close-text="Close"
               ng-model="vm.dateValue"
               ng-required="vm.required"
               ng-click="vm.open($event)"/>
      </div>
      <div class="datetimepicker-wrapper" style="display:inline-block">
        <uib-timepicker ng-model="vm.timeValue"
                        show-meridian="true"
                        ng-required="vm.required">
        </uib-timepicker>
      </div>
    </div>
    <div class="col-md-offset-2 col-md-10">
      <p class="help-block" ng-show="dateTimeSubForm.dateValue.$error.date &&
                                     !dateTimeSubForm.dateValue.$pristine">
        date is invalid
      </p>
      <p class="help-block" ng-show="dateTimeSubForm.$error.time[0].$error.time &&
                                     !formName.$error.time[0].$pristine">
        time is invalid
      </p>
    </div>
  </div>
