<div class="modal-header">
  <button type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
          data-ng-click="modalOptions.close()">&times;</button>
  <h3 class="modal-title">Modified by another user</h3>
</div>
<div class="modal-body">
  <p>
    Another user already made changes to this {{modalOptions.domainType}}. Press OK to make your changes again, or Cancel
    to dismiss your changes.
  </p>
</div>
<div class="modal-footer">
  <button class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
  <button class="btn btn-primary" data-ng-click="modalOptions.ok()">{{modalOptions.actionButtonText}}</button>
</div>
