<breadcrumbs crumbs="vm.breadcrumbs"></breadcrumbs>
<div class="page-header">
  <h1><translate>Membership</translate>: {{vm.membership.name}}</h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{vm.membership.name}}
      <span class="pull-right"
            uib-dropdown
            is-open="vm.roleMenu.isOpen">
        <button class="btn btn-xs btn-default dropdown-toggle"
                type="button"
                id="roleMenu"
                uib-dropdown-toggle>
          <span class="glyphicon glyphicon-option-vertical"></span>
        </button>

        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="roleMenu">
          <li role="menuitem">
            <a href
               ng-click="vm.editName()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update name</translate>
            </a>
          </li>
          <li role="menuitem">
            <a href
               ng-click="vm.editDescription()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update description</translate>
            </a>
          </li>
          <li role="menuitem" ng-class="{ 'disabled': !vm.userCanUpdate }">
            <a href
               ng-click="vm.addUser()">
              <i class="glyphicon glyphicon-plus text-primary"></i>
              <translate>Add user</translate>
            </a>
          </li>
          <li role="menuitem" ng-class="{ 'disabled': !vm.userCanUpdate }">
            <a href
               ng-click="vm.changeStudies()">
              <i class="glyphicon glyphicon-refresh text-primary"></i>
              <translate>Change studies</translate>
            </a>
          </li>
          <li role="menuitem" ng-class="{ 'disabled': !vm.userCanUpdate }">
            <a href
               ng-click="vm.changeCentres()">
              <i class="glyphicon glyphicon-refresh text-primary"></i>
              <translate>Change centres</translate>
            </a>
          </li>
        </ul>
      </span>
    </h3>
  </div>
  <ul class="list-group">

    <!-- NAME -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Name:</strong>
        </div>
        <div class="col-md-10">
          {{vm.membership.name}}
        </div>
      </div>
    </li>

    <!-- DESCRIPTION -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Description:</strong>
        </div>
        <div class="col-md-10">
          <truncate-toggle
             text="vm.membership.description"
             toggle-length="60"
             text-empty-warning="{{'Description not entered yet.'|translate}}"
             tooltip="{{'Edit description'|translate}}">
          </truncate-toggle>
        </div>
      </div>
    </li>

    <!-- USERS -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Users:</strong>
        </div>
        <div class="col-md-10">
          <tags-list tag-data="vm.userNameLabels"
                     on-tag-selected="vm.userLabelSelected.bind(vm)">
          </tags-list>
        </div>
      </div>
    </li>

    <!-- STUDIES -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Studies:</strong>
        </div>
        <div class="col-md-10" ng-if="vm.membership.studyData.allEntities">
          <translate>All studies</translate>
        </div>
        <div class="col-md-10" ng-if="!vm.membership.studyData.allEntities">
          <tags-list tag-data="vm.studyNameLabels"
                       on-tag-selected="vm.studyLabelSelected.bind(vm)">
          </tags-list>
        </div>
        <div class="col-md-10" ng-if="vm.noStudiesMembership">
          <translate>None</translate>
        </div>
      </div>
    </li>

    <!-- CENTRES -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Centres:</strong>
        </div>
        <div class="col-md-10" ng-if="vm.membership.centreData.allEntities">
          <translate>All centres</translate>
        </div>
        <div class="col-md-10" ng-if="!vm.membership.centreData.allEntities">
          <tags-list tag-data="vm.centreNameLabels"
                     on-tag-selected="vm.centreLabelSelected.bind(vm)">
          </tags-list>
        </div>
        <div class="col-md-10" ng-if="vm.noCentresMembership">
          <translate>None</translate>
        </div>
      </div>
    </li>

  </ul>
  <status-line time-added="vm.membership.timeAdded"
               time-modified="vm.membership.timeModified">
  </status-line>
</div>
<div class="row">
  <div class="col-md-1">
    <button class="btn btn btn-primary"
            uib-tooltip="Back to previous page"
            ng-click="vm.back()"
            translate>
      Back
    </button>
  </div>
</div>
