<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" translate>
      This centre participates in these studies
    </h3>
  </div>
  <ul class="list-group" ng-if="vm.studyCollection.length <= 0">
    <li class="list-group-item">
      <div class="panel panel-warning">
        <div class="panel-heading" translate>
          This centre is not participating in any studies.
        </div>
      </div>
    </li>
  </ul>

  <table st-table="vm.tableStudies"
         st-safe-src="vm.studyCollection"
         class="table table-hover table-condensed"
         ng-if="vm.studyCollection.length > 0">
    <thead>
      <th st-sort="name" translate>Name</th>
      <th st-sort="state" translate>State</th>
      <th></th>
    </thead>

    <tbody>
      <tr ng-repeat="study in vm.tableStudies track by study.id">
        <td>
          <span ng-click="vm.information(study.id)">
            <a href>{{study.name}}</a>
          </span>
        </td>
        <td>
          <span class="badge">{{study.state.toUpperCase()}}</span>
        </td>
        <td>
          <!-- FIXME studies should only be removed if no centre is storing specimens for it  -->
          <div class="btn-group pull-right">
            <button class="btn btn-xs btn-warning"
                    ng-click="vm.remove(study.id)"
                    title="{{'Remove'|translate}}">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <ul class="list-group" ng-if="vm.centre.isDisabled()">
    <li class="list-group-item">
      <div class="input-group" style="margin-top: 10px;">
        <span class="input-group-addon">
          <translate>Add Study</translate>
          <i class="glyphicon glyphicon-plus"></i>
        </span>
        <input type="text"
               ng-model="vm.selected"
               uib-typeahead="study as study.name for study in vm.studyNames | filter:$viewValue | limitTo:8"
               typeahead-on-select="vm.onSelect($item)"
               placeholder="{{'enter a study\'s name or partial name'|translate}}"
               class="form-control">
      </div>
    </li>
  </ul>
</div>
