<breadcrumbs crumbs="vm.breadcrumbs"></breadcrumbs>
<div class="page-header">
  <h1><translate>Membership</translate>: {{vm.membership.name}}</h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{vm.membership.name}}
      <span class="pull-right">
        <button class="btn btn-xs btn-warning"
                title="{{'Remove membership'|translate}}"
                ng-click="vm.removeCeventType()"
                ng-if="vm.study.isDisabled()">
          Remove <i class="glyphicon glyphicon-remove"></i>
        </button>
      </span>
    </h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Name:</strong>
        </div>
        <div class="col-md-8">
          {{vm.membership.name}}
        </div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Edit name'|translate}}"
                  ng-click="vm.editName()"
                  ng-if="vm.study.isDisabled()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Description:</strong>
        </div>
        <div class="col-md-10">
          <truncate-toggle
             text="vm.membership.description"
             toggle-length="60"
             text-empty-warning="{{'Description not entered yet.'|translate}}"
             allow-edit="vm.study.isDisabled()"
             on-edit="vm.editDescription()">
          </truncate-toggle>
        </div>
      </div>
    </li>
  </ul>
  <status-line time-added="vm.membership.timeAdded"
               time-modified="vm.membership.timeModified"></status-line>
</div>
