<breadcrumbs crumbs="vm.breadcrumbs"></breadcrumbs>
<div class="page-header">
  <h1><translate>Membership</translate>: {{vm.membership.name}}</h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{vm.membership.name}}
      <span class="pull-right">
        <button class="btn btn-xs btn-warning"
                uib-tooltip="{{'Remove membership'|translate}}"
                ng-click="vm.remove()">
          Remove <i class="glyphicon glyphicon-remove"></i>
        </button>
      </span>
    </h3>
  </div>
  <ul class="list-group">

    <!-- NAME -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Name:</strong>
        </div>
        <div class="col-md-8">
          {{vm.membership.name}}
        </div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  uib-tooltip="{{'Edit name'|translate}}"
                  ng-click="vm.editName()"
                  ng-if="vm.userCanUpdate">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>

    <!-- DESCRIPTION -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Description:</strong>
        </div>
        <div class="col-md-10">
          <truncate-toggle
             text="vm.membership.description"
             toggle-length="60"
             text-empty-warning="{{'Description not entered yet.'|translate}}"
             allow-edit="vm.userCanUpdate"
             on-edit="vm.editDescription()"
             tooltip="{{'Edit description'|translate}}">
          </truncate-toggle>
        </div>
      </div>
    </li>

    <!-- USERS -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Users:</strong>
        </div>
        <div class="col-md-8">
          <labels-list label-data="vm.userNameLabels"
                       on-label-selected="vm.onUserLabelSelected">
          </labels-list>
        </div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  uib-tooltip="{{'Add a user'|translate}}"
                  ng-click="vm.addUser()"
                  ng-if="vm.userCanUpdate">
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </div>
      </div>
    </li>

    <!-- STUDIES -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Studies:</strong>
        </div>
        <div class="col-md-8" ng-if="vm.membership.studyData.allEntities">
          <translate>All studies</translate>
        </div>
        <div class="col-md-8" ng-if="!vm.membership.studyData.allEntities">
          <labels-list label-data="vm.studyNameLabels"
                       on-label-selected="vm.onStudyLabelSelected">
          </labels-list>
        </div>
        <div class="col-md-8" ng-if="vm.noStudiesMembership">
          <translate>None</translate>
        </div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  uib-tooltip="{{'Add a study'|translate}}"
                  ng-click="vm.addStudy()"
                  ng-if="vm.userCanUpdate">
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </div>
      </div>
    </li>

    <!-- CENTRES -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Centres:</strong>
        </div>
        <div class="col-md-8" ng-if="vm.membership.centreData.allEntities">
          <translate>All centres</translate>
        </div>
        <div class="col-md-8" ng-if="!vm.membership.centreData.allEntities">
          <labels-list label-data="vm.centreNameLabels"
                       on-label-selected="vm.onCentreLabelSelected">
          </labels-list>
        </div>
        <div class="col-md-8" ng-if="vm.noCentresMembership">
          <translate>None</translate>
        </div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  uib-tooltip="{{'Add a centre'|translate}}"
                  ng-click="vm.addCentre()"
                  ng-if="vm.userCanUpdate">
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </div>
      </div>
    </li>

  </ul>
  <status-line time-added="vm.membership.timeAdded"
               time-modified="vm.membership.timeModified">
  </status-line>
</div>
<div class="row">
  <div class="col-md-1">
    <button class="btn btn btn-primary"
            uib-tooltip="Back to previous page"
            ng-click="vm.back()"
            translate>
      Back
    </button>
  </div>
</div>
