@(nameField: Field, descriptionField: Field)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@inputText(
    field = nameField,
    args = '_label -> Messages("biobank.common.name"), 
    'placeholder -> Messages("biobank.common.name.help")
    )

@textarea(
    field = descriptionField,
    args = '_label -> Messages("biobank.common.description"), 'rows -> 3, 'cols -> 50, 
      'placeholder -> Messages("biobank.common.description.help"),
      'class -> "input-xxlarge"
    )
