@()
<!DOCTYPE html>
<html>
  <head>
    <title data-ng-bind="pageTitle"></title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")" />
    @*-- CSS files go in this section -- *@
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/toastr/build/toastr.css")" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")" />
    @*-- Javascript files go in this section -- *@
    <script data-main="@routes.Assets.versioned("javascripts/main.js")"
            type="text/javascript"
            src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
  </head>
  <body>
    <biobank-header></biobank-header>
    <div class="container" ng-cloak>
        <div ui-view="main"></div>
    </div>
    <biobank-footer></biobank-footer>
  </body>
</html>
