@(form: Form[(String,String)])(implicit flash: Flash)

@unauthpage("Biobank Login"){
    <p/>
    @helper.form(routes.Application.authenticate, 'class -> "form-signin") {

        <h2 class="form-signin-heading">Please sign in</h2>

        @form.globalError.map { error =>
            <p class="error"> 
            @error.message
            </p>
        }

        @flash.get("success").map { message =>
            <p class="success">
            @message
            </p>  
        }

        <input type="email" class="input-block-level" name="email" placeholder="Email" id="email" value="@form("email").value">
        <input type="password" class="input-block-level" name="password" id="password" placeholder="Password">
        <button type="submit" id="loginbutton" class="btn btn-large btn-primary" >Login</button>
     }

     <p class="note">
     Try <em>admin@@admin.com</em> with <em>admin</em> as password.
     </p>
}      
