<ng-form name="tagsForm">
  <div class="form-group"
       ng-class="{ 'has-error' : tagsForm.tagsInput.$invalid && !tagsForm.tagsInput.$pristine }">

    <!-- INPUT -->
    <label for="users" class="col-md-2 form-control-label" translate>{{vm.label}}</label>
    <div class="col-md-10">
      <input type="text"
             name="tagsInput"
             class="form-control"
             ng-model="vm.value"
             ng-model-options="{ debounce: 250 }"
             placeholder="{{vm.placeholder}}"
             uib-typeahead="value.obj as value.label for value in vm.getValues($viewValue)"
             typeahead-editable="false"
             typeahead-loading="vm.loadingValue"
             typeahead-no-results="vm.noValueResults"
             typeahead-on-select="vm.tagSelected($item)"
             typeahead-select-on-exact="true"/>
      <div ng-show="vm.loadingValue">
        <i class="glyphicon glyphicon-refresh text-primary"></i>
        <span class="text-primary" translate>loading</span>
      </div>
      <div ng-show="vm.noValueResults">
        <i class="glyphicon glyphicon-remove text-danger"></i>
        <span class="text-danger">{{vm.noResultsFound}}</span>
      </div>
    </div>

    <!-- WHEN TAGS PRESENT -->
    <div class="col-md-offset-2 col-md-10" ng-if="vm.tags.length > 0">
      <div class="tags-list">
        <h4 style="margin: 0px 0px 0px 0px;">
          <a class="label"
             ng-class="vm.labelClass"
             ng-repeat="tag in vm.tags"
             ng-click="vm.tagRemoved(tag)"
             style="margin-right: 2px; margin-bottom: 2px; display: inline-block;"
             uib-tooltip="{{'Remove'|translate}}">
            {{tag.label}} <i class="glyphicon glyphicon-remove-sign"></i>
          </a>
        </h4>
      </div>
    </div>

    <!-- WHEN NO TAGS PRESENT -->
    <div class="col-md-offset-2 col-md-10" ng-if="vm.tags.length <= 0">
      <input type="text"
             class="form-control"
             ng-disabled="true"
             placeholder="{{vm.tagsPlaceholder}}">
    </div>

    <div class="col-md-offset-2 col-md-10"
         ng-messages="tagsForm.tagsInput.$error"
         ng-if="tagsForm.tagsInput.$dirty"
         role="alert">
      <div ng-message="tagsEntered" class="help-block">{{vm.noTagsErrorMessage}}</div>
    </div>
  </div>
</ng-form>
