<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <translate>Participant</translate>
      <span class="pull-right"
            uib-dropdown
            is-open="vm.participantMenu.isOpen">
        <button class="btn btn-xs btn-default dropdown-toggle"
                type="button"
                id="participantMenu"
                uib-dropdown-toggle>
          <span class="glyphicon glyphicon-option-vertical"></span>
        </button>

        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="participantMenu">
          <li role="menuitem">
            <a href
               ng-click="vm.editUniqueId()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update unique ID</translate>
            </a>
          </li>
          <li role="menuitem" ng-repeat="annotation in vm.participant.annotations">
            <a href
               ng-click="vm.editAnnotation(annotation)">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update {{annotation.getLabel()}}</translate>
            </a>
          </li>
        </ul>
      </span>
    </h3>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Unique ID</strong>
        </div>
        <div class="col-md-9">
          {{vm.participant.uniqueId}}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Study</strong>
        </div>
        <div class="col-md-7">
          {{vm.study.name}}
        </div>
      </div>
    </li>
    <li class="list-group-item" ng-repeat="annotation in vm.participant.annotations">
      <div class="row">
        <div class="col-md-3">
          <strong>{{annotation.getLabel()}}</strong>
        </div>
        <div class="col-md-9" ng-if="annotation.getDisplayValue()">
          {{annotation.getDisplayValue()}}
        </div>
        <div class="col-md-9" ng-if="!annotation.getDisplayValue()">
          <span class="label label-warning" translate>Value not entered yet</span>
        </div>
      </div>
    </li>
  </ul>
  <status-line time-added="vm.participant.timeAdded"
               time-modified="vm.participant.timeModified">
  </status-line>
</div>
