<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" translate>Participant</h3>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Unique ID</strong>
        </div>
        <div class="col-md-7">
          {{vm.participant.uniqueId}}
        </div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Update unique ID'|translate}}"
                  ng-click="vm.editUniqueId()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Study</strong>
        </div>
        <div class="col-md-7">
          {{vm.study.name}}
        </div>
      </div>
    </li>
    <li class="list-group-item" ng-repeat="annotation in vm.participant.annotations">
      <div class="row">
        <div class="col-md-3">
          <strong>{{annotation.getLabel()}}</strong>
        </div>
        <div class="col-md-7">
          {{annotation.getValue()}}
        </div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{vm.getAnnotationUpdateButtonTitle(annotation)}}"
                  ng-click="vm.editAnnotation(annotation)">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>
  </ul>
  <status-line time-added="vm.participant.timeAdded"
               time-modified="vm.participant.timeModified">
  </status-line>
</div>
