<breadcrumbs crumbs="vm.breadcrumbs"></breadcrumbs>
<div class="page-header">
  <h1>{{vm.study.name}} <small translate>Collection Specimen Description</small></h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{vm.specimenDescription.name}}</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Name:</strong>
        </div>
        <div class="col-md-6">
          {{vm.specimenDescription.name}}
        </div>
        <div class="col-md-3">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Edit name'|translate}}"
                  ng-click="vm.editName()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Description:</strong>
        </div>
        <div class="col-md-9">
          <truncate-toggle
             text="vm.specimenDescription.description"
             toggle-length="60"
             text-empty-warning="{{'Description not entered yet.'|translate}}"
             allow-edit="true"
             on-edit="vm.editDescription()">
          </truncate-toggle>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Anatomical source:</strong>
        </div>
        <div class="col-md-6">
          {{vm.specimenDescription.anatomicalSourceType}}
        </div>
        <div class="col-md-3">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Edit anatomical source'|translate}}"
                  ng-click="vm.editAnatomicalSource()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Preservation type:</strong>
        </div>
        <div class="col-md-6">
          {{vm.specimenDescription.preservationType}}
        </div>
        <div class="col-md-3">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Edit preservation type'|translate}}"
                  ng-click="vm.editPreservationType()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Preservation temperature:</strong>
        </div>
        <div class="col-md-6">
          {{vm.specimenDescription.preservationTemperatureType}}
        </div>
        <div class="col-md-3">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Edit preservation temperature'|translate}}"
                  ng-click="vm.editPreservationTemperature()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Specimen type:</strong>
        </div>
        <div class="col-md-6">
          {{vm.specimenDescription.specimenType}}
        </div>
        <div class="col-md-3">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Edit specimen type'|translate}}"
                  ng-click="vm.editSpecimenType()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Units:</strong>
        </div>
        <div class="col-md-6">
          {{vm.specimenDescription.units}}
        </div>
        <div class="col-md-3">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Edit units'|translate}}"
                  ng-click="vm.editUnits()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Amount:</strong>
        </div>
        <div class="col-md-6">
          {{vm.specimenDescription.amount}}
        </div>
        <div class="col-md-3">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Edit amount'|translate}}"
                  ng-click="vm.editAmount()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <strong translate>Max count:</strong>
        </div>
        <div class="col-md-6">
          {{vm.specimenDescription.maxCount}}
        </div>
        <div class="col-md-3">
          <button class="btn btn-xs btn-primary pull-right"
                  title="{{'Edit max count'|translate}}"
                  ng-click="vm.editMaxCount()">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-md-1">
    <button class="btn btn btn-primary"
            title="Back"
            ng-click="vm.back()"
            translate>
      Back
    </button>
  </div>
</div>
