<table class="table table-condensed">
  <!-- Meant to be used within a bootstarap panel -->
  <tr>
    <td ng-if="item.status")>
      <small class="text-muted">Status: <strong>{{ item.statusLabel }}</strong></small>
    </td>
    <td>
      <small class="text-muted">Added: <strong>{{item.timeAdded | timeago}}</strong></small>
    </td>
    <td>
      <small class="text-muted">
        Modified:
        <strong ng-if="!!item.timeModified">{{item.timeModified | timeago}}</strong>
        <strong ng-if="! item.timeModified">Never</strong>
      </small>
    </td>
  </tr>
</table>
