@(studyId: String,
    studyName: String,
    sg: domain.study.SpecimenGroup,
    breadcrumbMap: Map[String, Call])(
    implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent])

@import tags._    
@import helper._
@import controllers.study._

@main(Messages("biobank.study.specimen.group.remove"), breadcrumbMap) {
  <div class="page-header">
    <h2>
        @studyName&nbsp;
        <small>@Messages("biobank.study.specimen.group.remove")</small>
    </h2>
    
    @alertBlock{ @Messages("biobank.common.warning") }{
        @Messages("biobank.study.specimen.group.remove.confirm", sg.name)
    }
  </div>
  <div class="clearfix">

    @nameValueRow(Messages("biobank.common.name"), sg.name)
    @nameValueRow(Messages("biobank.common.description"), sg.description.getOrElse(""))
    @nameValueRow(Messages("biobank.study.specimen.group.field.units"), sg.units)
    @nameValueRow(Messages("biobank.study.specimen.group.field.anatomicalsource"), sg.anatomicalSourceType.toString)
    @nameValueRow(Messages("biobank.study.specimen.group.field.preservation"), sg.preservationType.toString)
    @nameValueRow(Messages("biobank.study.specimen.group.field.preservationtemperature"), sg.preservationTemperatureType.toString)
    @nameValueRow(Messages("biobank.study.specimen.group.field.specimentype"), sg.specimenType.toString)

    @form(routes.SpecimenGroupController.removeSpecimenGroupSubmit, 
        args = 'id -> "removeform", 'class -> "form-horizontal") {
      
        <input type="hidden" name="studyId" value="@studyId" >  
        <input type="hidden" name="studyName" value="@studyName" >  
        <input type="hidden" name="specimenGroupId" value="@sg.id.id" >  
    
        @submitCancelFormButtons(routes.StudyController.showStudy(studyId))
    }
  </div>
}
