@(studyId: String,
    studyName: String,
    specimenGroups: Set[domain.study.SpecimenGroup])(implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent],
    flash: play.api.mvc.Flash)

@import controllers.study._

@main(Messages("biobank.study.singular") + " " + studyName) {
  @breadcrumbs(Map(
    (Messages("biobank.study.plural") -> routes.StudyController.index),
    (studyName -> routes.StudyController.showStudy(studyId)),
    (Messages("biobank.study.specimen.group.show.title") -> null)
  ))
  <div class="page-header">
    <h2>
        @studyName&nbsp;
        <small>@Messages("biobank.study.specimen.group.show.title")
        <a href="@routes.SpecimenGroupController.addSpecimenGroup(studyId, studyName)"
            class="btn btn-small btn-primary" type="button"
            data-toggle="tooltip" title="@Messages("biobank.common.action.add")">
            <i class="icon-plus-sign icon-white"></i></a>
        </small>
    </h2>
  </div>
  <div class="clearfix">
    @if(specimenGroups.size <= 0) {
      <p>@Messages("biobank.study.specimen.group.show.none")</p>
    } else {
      @flash.get("success").map { message =>
        <div class="alert alert-success">
          @message
        </div>
      }

      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <th>@Messages("biobank.common.name")</th>
          <th>@Messages("biobank.common.description")</th>
          <th>@Messages("biobank.study.specimen.group.field.units")</th>
          <th>@Messages("biobank.study.specimen.group.field.anatomicalsource")</th>
          <th>@Messages("biobank.study.specimen.group.field.preservation")</th>
          <th>@Messages("biobank.study.specimen.group.field.preservationtemperature")</th>
          <th>@Messages("biobank.study.specimen.group.field.specimentype")</th>
          <th></th>
        </thead>
        <tbody>
          @for(sg <- specimenGroups) {
            <tr>
              <td>@sg.name</td>
              <td>@sg.description</td>
              <td>@sg.units</td>
              <td>@sg.anatomicalSourceType</td>
              <td>@sg.preservationType</td>
              <td>@sg.preservationTemperatureType</td>
              <td>@sg.specimenType</td>
              <td>
                @updateRemoveButtons(
                    routes.SpecimenGroupController.updateSpecimenGroup(studyId,studyName,sg.id.id),
                    routes.SpecimenGroupController.removeSpecimenGroupConfirm(studyId,studyName,sg.id.id))
              </td>
            <tr>
          }
        </tbody>
      </table>
    }
  </div>
}
