<div class="page-header">
  <h1>User administration</h1>
</div>

<div class="clearfix">
  <div ng-if="! vm.haveUsers">
    <p>No studies have been added yet.</p>
  </div>
  <div ng-if="vm.haveUsers">
    <div class="panel panel-default">
      <div class="panel-body">
        {{vm.message}}
      </div>
      <div class="panel-footer">
        <span class="label label-info">
          Narrow your search by using the filters.
        </span>
      </div>
    </div>

    <form class="form-inline" style="margin-bottom: 20px;">
      <div class="form-group">
        <label for="status" class="small">Email filter</label>
        <input type="text" class="form-control input-sm"
               ng-model="vm.emailFilter"
               ng-model-options="{ debounce: 1000 }"
               ng-change="vm.emailFilterUpdated()">
      </div>
      <div class="form-group">
        <label for="status" class="small">Name filter</label>
        <input type="text" class="form-control input-sm"
               ng-model="vm.nameFilter"
               ng-model-options="{ debounce: 1000 }"
               ng-change="vm.nameFilterUpdated()">
      </div>
      <div class="form-group">
        <label for="status" class="small">Status filter</label>
        <select class="form-control input-sm"
                name="status"
                ng-model="vm.status"
                ng-options="status.title for status in vm.possibleStatuses"
                ng-change="vm.statusFilterUpdated()">
        </select>
      </div>
    </form>

    <table data-ng-table="vm.tableParams"
           class="table table-hover"
           template-pagination="custom/pager">
      <tr data-ng-repeat="user in $data">
        <td class="col-md-3" data-title="'Email'" sortable="'email'">
          <span data-ng-click="vm.userInformation(user)">
            <a href>{{user.email}}</a>
          </span>
        </td>
        <td class="col-md-3" data-title="'Name'" sortable="'name'">
          {{user.name}}
        </td>
        <td class="col-md-3" data-title="'Added'" sortable="'timeAdded'">
          <a href tooltip="{{user.timeAddedLocal}}">
            {{user.timeAdded | timeago}}
          </a>
        </td>
        <td class="col-md-1" data-title="'Status'" sortable="'status'">
          <span class="badge">{{user.status}}</span>
        </td>

        <!-- BUTTONS -->
        <td class="col-md-1" data-title="'Action'">
          <div class="btn-group pull-right">
            <button class="btn btn-xs btn-success"
                    data-ng-click="vm.activate(user)"
                    data-toggle="tooltip"
                    title="Activate user"
                    data-ng-if="user.status == 'Registered'">
              <i class="glyphicon glyphicon-check"></i>
            </button>
            <button class="btn btn-xs btn-warning"
                    data-ng-click="vm.lock(user)"
                    data-toggle="tooltip"
                    title="Lock user"
                    data-ng-if="user.status == 'Active'">
              <i class="glyphicon glyphicon-lock"></i>
            </button>
            <button class="btn btn-xs btn-danger"
                    data-ng-click="vm.unlock(user)"
                    data-toggle="tooltip"
                    title="Unlock user"
                    data-ng-if="user.status == 'Locked'">
              <i class="glyphicon glyphicon-plus"></i>
            </button>
          </div>
        </td>

      </tr>
    </table>

    <script type="text/ng-template" id="custom/pager">

      <div class="pull-right">
        <span class="small">Records per page:</span>
        <div ng-if="params.settings().counts.length" class="btn-group btn-group-xs">
          <button type="button" ng-class="{'active':params.count() == 10}"
                  ng-click="params.count(10)"
                  class="btn btn-default">10</button>
          <button type="button" ng-class="{'active':params.count() == 15}"
                  ng-click="params.count(15)"
                  class="btn btn-default">15</button>
          <button type="button" ng-class="{'active':params.count() == 20}"
                  ng-click="params.count(20)"
                  class="btn btn-default">20</button>
        </div>
      </div>

      <ul class="pagination ng-table-pagination">
        <li ng-class="{'disabled': !page.active}" ng-repeat="page in pages" ng-switch="page.type">

          <a ng-switch-when="prev" ng-click="params.page(page.number)"  href="">
            <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Previous</a>
          <a ng-switch-when="first" ng-click="params.page(page.number)" href="">
            <span ng-bind="page.number"></span></a>
          <a ng-switch-when="page" ng-click="params.page(page.number)"  href="">
            <span ng-bind="page.number"></span></a>
          <a ng-switch-when="more" ng-click="params.page(page.number)"  href="">
            &#8230;</a>
          <a ng-switch-when="last" ng-click="params.page(page.number)"  href="">
            <span ng-bind="page.number"></span></a>
          <a ng-switch-when="next" ng-click="params.page(page.number)"  href="">
            Next&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>

        </li>
      </ul>

    </script>

  </div>
</div>
