<div class="page-header">
  <h1>User administration</h1>
</div>

<div class="clearfix">
  <div data-ng-if="vm.users.length == 0">
    <p>No users have been added.</p>
  </div>
  <div data-ng-if="vm.users.length > 0">
    <p>The following users have been configured:</p>
    <table data-ng-table="vm.tableParams" class="table table-hove">
      <tr data-ng-repeat="user in $data">
        <td data-title="'Email'" sortable="'email'">
          <span data-ng-click="vm.userInformation(user)">
            <a href>{{user.email}}</a>
          </span>
        </td>
        <td data-title="'Name'" sortable="'name'">
          {{user.name}}
        </td>
        <td data-title="'Added'" sortable="'timeAdded'">
          <a href tooltip="{{user.timeAddedLocal}}">
            {{user.timeAdded | timeago}}
          </a>
        </td>
        <td data-title="'Status'" sortable="'status'">
          <span class="badge">{{user.status}}</span>
        </td>

        <!-- BUTTONS -->
        <td data-title="'Action'">
          <div class="btn-group pull-right">
            <button class="btn btn-xs btn-success"
                    data-ng-click="vm.activate(user)"
                    data-toggle="tooltip"
                    title="Activate user"
                    data-ng-if="user.status == 'Registered'">
              <i class="glyphicon glyphicon-check"></i>
            </button>
            <button class="btn btn-xs btn-warning"
                    data-ng-click="vm.lock(user)"
                    data-toggle="tooltip"
                    title="Lock user"
                    data-ng-if="user.status == 'Active'">
              <i class="glyphicon glyphicon-lock"></i>
            </button>
            <button class="btn btn-xs btn-danger"
                    data-ng-click="vm.unlock(user)"
                    data-toggle="tooltip"
                    title="Unlock user"
                    data-ng-if="user.status == 'Locked'">
              <i class="glyphicon glyphicon-plus"></i>
            </button>
          </div>
        </td>

      </tr>
    </table>
  </div>
</div>
