@(attrTypeForm: Form[controllers.study.AnnotationTypeFormObject], 
    formType: FormType, 
    studyId: String, 
    studyName: String)(
    implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent])

@import helper._
@import controllers.study._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@formInfo = @{ formType match {
    case AddFormType() => 
        FormInfo(Messages("biobank.study.collection.event.annotation.type.add"), 
            routes.CeventAnnotTypeController.addAnnotationTypeSubmit(studyId, studyName))
    case UpdateFormType() => 
        FormInfo(Messages("biobank.study.collection.event.annotation.type.update"), 
            routes.CeventAnnotTypeController.updateAnnotationTypeSubmit(studyId, studyName))  
}}

@selectionField(field: Field,
    className: String = "selections",
    style: String = "")(implicit handler: FieldConstructor, lang: play.api.i18n.Lang) = {
    @input(field, 
        '_label -> "",  // label is blank intentionally 
        '_class -> className,
        '_style -> style) { (id, name, value, _) =>
        <input type="text" name="@name" value="@value"> 
        <a class="removeSelection btn btn-warning">@Messages("biobank.common.action.remove")</a>
    }
}

@selectionGroup(field: Field)(implicit handler: FieldConstructor, lang: play.api.i18n.Lang) =  {
  <div class="well selectionGroup" style="display:none;">
    <fieldset>
    <legend>@Messages("biobank.study.collection.event.annotation.type.field.options")</legend>

      @repeat(attrTypeForm("selections"), min = 1) { selection =>                
        @selectionField(selection)    
      }
      
      @**
       * This hidden block will be used as template for Javascript copy code
       **@
      @selectionField(
        attrTypeForm("selections[x]"), className = "selection_template", style = "display:none;")
      
      <div class="control-group">
        <div class="controls">
          <a class="addSelection btn success">@Messages("biobank.study.specimengroup.form.selection.add")</a>
        </div>
     </div>
    </fieldset>
  </div>
}    

@main(formInfo.title) {
    <ul class="breadcrumb">
      <li><a href="@routes.StudyController.index">@Messages("biobank.study.plural")</a> <span class="divider">/</span></li>
      <li><a href="@routes.StudyController.showStudy(studyId)">@studyName</a> <span class="divider">/</span></li>
      <li class="active">@formInfo.title</li>
    </ul>
    <div class="page-header">
      <h2>@Messages("biobank.study.singular"): @studyName</h2>
      <h3>@formInfo.title</h3>
    </div>
    
    
    @if(attrTypeForm.hasErrors) {
      <div class="alert">
        <p>@Messages("biobank.common.form.fix.errors")</p>
      </div>
    }
    
    <div class="clearfix">
    @form(formInfo.action, args = 'id -> "addform", 'class -> "form-horizontal") {
      
      @formType match {
          case AddFormType() => { 
              <input type="hidden" name="specimenGroupId" value="dont-care">  
              <input type="hidden" name="version" value="-1" >  
              }
          case UpdateFormType() => { 
              <input type="hidden" name="attributeTypeId" value="@attrTypeForm("attributeTypeId").value" >  
              <input type="hidden" name="version" value="@attrTypeForm("version").value" >  
              }
      }
      
      <input type="hidden" name="studyId" value="@studyId" >  
      
      @formNameAndDescription(attrTypeForm("name"), attrTypeForm("description"))
      
      @select(
         field = attrTypeForm("valueType"),
         options = CollectionEventAnnotationTypeSelections.annotationValueTypes,
         args = '_label -> Messages("biobank.study.collection.event.annotation.type.field.value.type")
      ) 
      
      @selectionGroup(attrTypeForm("selectionGroup"))
      
      <div class="form-actions">
           <button type="submit" class="btn btn-primary">@Messages("biobank.form.submit")</button>
      </div>
    }
    </div>  
    
    <script type="text/javascript" charset="utf-8">
      $(function() {
        var selectionGroup = $('.selectionGroup')
        var i = $('#selectionGroup div').size() + 1
      
        //
        // Shows or hides the selection group based on the value type selected
        //
        $('#valueType').change(function() {
          var selected = $(this).val();
          if (selected == "Select") {
            $('.selectionGroup').show()
          } else {
            $('.selectionGroup').hide()
          }
        })
        
        //
        // creates a new selection text entry field based on the hidden template. The 
        // new input field has to be modified to contain the correct parameters
        //  
        $(document).on('click', '.addSelection', function() {
          var template = $('.selection_template', selectionGroup)
          var newSelection = template.clone().removeClass('selection_template')
          newSelection.find('input').attr('name', 'selections[' + i + ']')
          newSelection.show()
          template.before(newSelection)
          i++
        });
        
        //
        // removes a selection text entry field based on the button pressed
        //  
        $(document).on('click', '.removeSelection', function() {
          if (i > 1) {
            $(this).parent().parent().remove();
            i--;
            renumber()
          }
        });
        
        // -- renumber fields
        //
        // Rename fields to have a coherent payload like:
        //
        // selections[0]
        // selections[1]
        //        
        var renumber = function() {
          selectionGroup.each(function(i) {
            $('input', this).each(function(i) {
              $(this).attr('name', $(this).attr('name').replace(/selections\[.+\]/g, 'selections[' + i + ']'))
            })
          })
        }
      
      });
        
    </script>
}    