@(studyForm: Form[controllers.study.StudyFormObject], 
    formType: FormType, 
    studyId: String)(implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent])

@import helper._
@import controllers.{FormType, AddFormType, UpdateFormType, FormInfo}
@import controllers.study._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@formInfo = @{ formType match {
    case AddFormType() => 
        FormInfo(Messages("biobank.study.add"), routes.StudyController.addStudySubmit)
    case UpdateFormType() => 
        FormInfo(Messages("biobank.study.update"), routes.StudyController.updateStudySubmit(studyId))  
}}

@main(formInfo.title) {
  @breadcrumbs(Map(
    (Messages("biobank.study.plural") -> routes.StudyController.index),
    (formInfo.title -> null)
  ))
  <div class="page-header">
      <h2>@formInfo.title</h2>
  </div>
  <div class="clearfix">
    @form(formInfo.action, args = 'id -> "studyForm", 'class -> "form-horizontal") {

    @formType match {
        case AddFormType() => { 
            <input type="hidden" name="studyId" value="dont-care" >  
            <input type="hidden" name="version" value="-1" >  
            }
        case UpdateFormType() => { 
            <input type="hidden" name="studyId" value="@studyForm("studyId").value" >  
            <input type="hidden" name="version" value="@studyForm("version").value" >  
            }
    }

    @formNameAndDescription(studyForm("name"), studyForm("description"))
    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">@Messages("biobank.form.submit")</button>

    </div>
    }
</div>
}
    