@(studyId: String, 
    studyName: String, 
    ceventTypes: Set[domain.study.CollectionEventType],    
    specimenGroupMap: Seq[(String, String, String)],    
    annotationTypes: Set[domain.study.CollectionEventAnnotationType])(implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent])

@import tags._
@import controllers.study._
@import domain.AnnotationValueType._

@ceventAnnotTypeList(studyId, studyName, annotationTypes)

<h4>
  @Messages("biobank.study.collection.event.type.show.title")
  <a href="@routes.CeventTypeController.addCeventType(studyId, studyName)" 
        class="btn btn-small btn-primary" type="button"
        data-toggle="tooltip" title="@Messages("biobank.common.action.add")">
        <i class="icon-plus-sign icon-white"></i></a>
</h4>

@if(ceventTypes.size <= 0) {
  @alertBlock{ }{   
    @Messages("biobank.study.collection.event.type.show.none")
  }
} else {
    <table class="table table-bordered table-hover table-condensed">
      <thead>
        <th>@Messages("biobank.common.name")</th>
        <th>@Messages("biobank.study.collection.event.type.field.recurring")</th>
        <th>
            @Messages("biobank.study.collection.event.type.field.specimen.group.data")<br/>
            <small>@Messages("biobank.study.collection.event.type.field.specimen.group.data.desc")</small>
        </th>
        <th>
            @Messages("biobank.study.collection.event.type.field.annotation.type.data")<br/>
            <small>@Messages("biobank.study.collection.event.type.field.annotation.type.data.desc")</small>
        </th>
        <th></th>
      </thead>
      <tbody>
        @for(ceventtype <- ceventTypes) {
          <tr>    
            <td>@nameWithDescriptionPopup(ceventtype.id.id, ceventtype.name, ceventtype.description)</td>
            <td>
              @if(ceventtype.recurring){ @Messages("biobank.common.yes") } else { @Messages("biobank.common.no") }</td>        
            <td>
                @Html(ceventtype.specimenGroupData.map(sgData =>
                    "%s (%d - %.3f %s)".format(
                    specimenGroupMap.find(x => x._1.equals(sgData.specimenGroupId)).map(_._2).getOrElse(""),
                    sgData.count, 
                    sgData.amount,
                    specimenGroupMap.find(x => x._1.equals(sgData.specimenGroupId)).map(_._3).getOrElse(""))).mkString("<br/>"))
            </td> 
            <td>          
                @Html(ceventtype.annotationTypeData.map(atData =>
                    "%s (%s)".format(
                    annotationTypes.find(x => x.id.id.equals(atData.annotationTypeId)).map(_.name).getOrElse(""),
                    if (atData.required) "Y" else "N")).mkString("<br/>"))
            </td>                
            <td> 
              @updateRemoveButtons(
                  routes.CeventTypeController.updateCeventType(studyId,studyName,ceventtype.id.id),
                  routes.CeventTypeController.removeCeventType(studyId,studyName,ceventtype.id.id)
              )
            </td>   
          <tr>
        }
      </tbody>
    </table>
}


  <script type="text/javascript" charset="utf-8">
      @Html(ceventTypes.map(sg => """$('#%s').popover();""".format(sg.id)).mkString("\n"))
  </script>    