@(studies: Set[domain.study.Study])(implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent])

@import controllers.study._

@breadcrumbs = @{ Map(
  (Messages("biobank.study.plural") -> null)
) }

@main("Biobank", breadcrumbs) {
  <div class="page-header">
    <h2>@Messages("biobank.study.plural")
        <a href="@routes.StudyController.addStudy"
            class="btn btn-small btn-primary" type="button"
            data-toggle="tooltip" title="@Messages("biobank.common.action.add")">
            <i class="icon-plus-sign icon-white"></i></a>
    </h2>
  </div>
  
  <div class="clearfix">
    @if(studies.size <= 0) {
      <p>@Messages("biobank.study.none")</p>
    } else {
      <table class="table table-bordered table-hover table-condensed" style="table-layout: fixed;">
        <thead>
          <th>@Messages("biobank.common.name")</th>
          <th>@Messages("biobank.study.field.status")</th>
          <th style="width: 50%;">@Messages("biobank.common.description")</th>
        </thead>
        <tbody>
          @for(s <- studies) {
              <tr>
                <td><a href="@routes.StudyController.summary(s.id.id)">@s.name</a></td>
                <td>@s.status</td>
                <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                    @Html(s.description.map(v => v.replace("\n", "")).getOrElse(""))
                </td>
              <tr>
          }
        </tbody>
      </table>
    }
  </div>
}
