@(study: domain.study.Study,
  counts: Map[String,String],
  participantAnnotTypes: Set[domain.study.ParticipantAnnotationType])(
  implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent], 
  flash: play.api.mvc.Flash)

@import tags._    
@import controllers.study._

<h4>@Messages("biobank.study.tab.subtitle.participants")</h4>
@nameValueRow(Messages("biobank.study.field.participants"), counts("participants"))
@nameValueRow(Messages("biobank.study.field.collection.events"), counts("collection.events"))
@nameValueRow(Messages("biobank.study.field.specimen.count"), counts("specimen.count"))

@studyAnnotTypeList(study.id.id, study.name, participantAnnotTypes,
    Messages("biobank.study.participant.annotation.type.show.title"),
    Messages("biobank.study.participant.annotation.type.show.none"),
    routes.ParticipantAnnotTypeController.addAnnotationType(study.id.id, study.name),
    routes.ParticipantAnnotTypeController.updateAnnotationType _,
    routes.ParticipantAnnotTypeController.removeAnnotationType _)