@(studyId: String,
    studyName: String,
    annotationTypes: Set[org.biobank.domain.study.ParticipantAnnotationType])(
  implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent])

@import tags._
@import controllers.study._
@import org.biobank.domain.AnnotationValueType._

<h4>
@Messages("biobank.study.participant.annotation.type.show.title")
<a href="@routes.ParticipantAnnotTypeController.addAnnotationType(studyId, studyName)"
    class="btn btn-small btn-primary" type="button"
    data-toggle="tooltip" title="@Messages("biobank.common.action.add")">
    <i class="icon-plus-sign icon-white"></i></a>
</h4>

@if(annotationTypes.size <= 0) {
  @alertBlock{ }{
    @Messages("biobank.study.participant.annotation.type.show.none")
  }
} else {
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <th>@Messages("biobank.common.name")</th>
          <th>@Messages("biobank.annotation.type.field.value.type")</th>
          <th>@Messages("biobank.study.participant.annotation.type.field.required")</th>
          <th>@Messages("biobank.annotation.type.field.max.value.count")</th>
          <th>@Messages("biobank.annotation.type.field.options")</th>
          <th></th>
        </thead>
        <tbody>
          @for(annotType <- annotationTypes) {
            <tr>
              <td>@nameWithDescriptionPopup(annotType.id.id, annotType.name, annotType.description)</td>
              <td><span class="label">@annotType.valueType</span></td>
              <td>@if(annotType.required) { @Messages("biobank.common.yes") } else { @Messages("biobank.common.no") }</td>

              @if(annotType.valueType == org.biobank.domain.AnnotationValueType.Select) {
                  @if(annotType.maxValueCount.getOrElse(0) == 1) {
                    <td>@Messages("biobank.annotation.type.field.max.value.count.single")</td>
                  } else {
                    @if(annotType.maxValueCount.getOrElse(0) > 1) {
                      <td>@Messages("biobank.annotation.type.field.max.value.count.multiple")</td>
                    } else {
                      <td><span class="label label-warning">ERROR: @@annotType.maxValueCount</span></td>
                    }
                  }
                <td>@Html(annotType.options.map( m => m.values.mkString("<br/>")).getOrElse("") )</td>
              } else {
                <td><span class="label">N/A</span></td>
                <td><span class="label">N/A</span></td>
              }
              <td>
                @updateRemoveButtons(
                    routes.ParticipantAnnotTypeController.updateAnnotationType(studyId,studyName,annotType.id.id),
                    routes.ParticipantAnnotTypeController.removeAnnotationType(studyId,studyName,annotType.id.id))
              </td>
            <tr>
          }
        </tbody>
      </table>

  <script type="text/javascript" charset="utf-8">
      @Html(annotationTypes.map(sg => """$('#%s').popover();""".format(sg.id)).mkString("\n"))
  </script>
}

