@(study: domain.study.Study, user: securesocial.core.Identity)

@main("Biobank", Some(user)) {
<ul class="breadcrumb">
  <li><a href="/study">Studies</a> <span class="divider">/</span></li>
  <li class="active">@study.name</li>
</ul>

<div class="page-header">
  <h2>Study</h2>
</div>
<div class="clearfix">
  <table class="table table-bordered table-hover table-condensed">
    <tbody>
      <tr>
	<td class="header">Name</td>
	<td>@study.name</td>
      </tr>
      <tr>
	<td class="header">Status</td>
	<td>@study.status</td>
      </tr>
      <tr>
	<td class="header">Description</td>
	<td>@study.description</td>
      </tr>
      <tr>
	<td class="header">Patients</td>
	<td><i>to be implemented</i></td>
      </tr>
      <tr>
	<td class="header">Collection Events</td>
	<td><i>to be implemented</i></td>
      </tr>
    </tbody>
  </table>

  <div class="form-actions">
    <a href="/study" class="btn btn-small btn-primary" type="button">Specimen Groups</a>
    <a href="/study" class="btn btn-small btn-primary" type="button">Annotation Types</a>
    <a href="/study" class="btn btn-small btn-primary" type="button">Collection Event Types</a>
  </div>
</div>
}
