@(studyId: String,
    studyName: String,
    specimenGroups: Set[domain.study.SpecimenGroup])(implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent],
    flash: play.api.mvc.Flash)

@import controllers.study._

@main(Messages("biobank.study.singular") + " " + studyName) {
  <ul class="breadcrumb">
    <li><a href="@routes.StudyController.index">@Messages("biobank.study.plural")</a> <span class="divider">/</span></li>
    <li><a href="@routes.StudyController.showStudy(studyId)">@studyName</a> <span class="divider">/</span></li>
    <li class="active">@Messages("biobank.study.specimengroup.show.title")</li>
  </ul>
  <div class="page-header">
    <h2>@Messages("biobank.study.singular"): @studyName</h2>
    <h3>@Messages("biobank.study.specimengroup.show.title")
    <a href="@routes.SgController.addSpecimenGroup(studyId)"
        class="btn btn-small btn-primary" type="button"
        data-toggle="tooltip" title="@Messages("biobank.common.action.add")">
        <i class="icon-plus-sign icon-white"></i></a>
    </h3>
  </div>
  <div class="clearfix">
    @if(specimenGroups.size <= 0) {
      <p>@Messages("biobank.study.specimengroup.show.none")</p>
    } else {

      @flash.get("success").map { message =>
        <div class="alert alert-success">
          @message
        </div>
      }

      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <th>@Messages("biobank.common.name")</th>
          <th>@Messages("biobank.common.description")</th>
          <th>@Messages("biobank.study.specimengroup.field.units")</th>
          <th>@Messages("biobank.study.specimengroup.field.anatomicalsource")</th>
          <th>@Messages("biobank.study.specimengroup.field.preservation")</th>
          <th>@Messages("biobank.study.specimengroup.field.preservationtemperature")</th>
          <th>@Messages("biobank.study.specimengroup.field.specimenType")</th>
          <th></th>
        </thead>
        <tbody>
          @for(sg <- specimenGroups) {
            <tr>
              <td>@sg.name</td>
              <td>@sg.description</td>
              <td>@sg.units</td>
              <td>@sg.anatomicalSourceType</td>
              <td>@sg.preservationType</td>
              <td>@sg.preservationTemperatureType</td>
              <td>@sg.specimenType</td>
              <td>
                <div class="btn-group">
                  <a href="@routes.SgController.updateSpecimenGroup(studyId,studyName,sg.id.id)"
                      class="btn btn-mini btn-primary" type="button" data-toggle="tooltip"
                      title="@Messages("biobank.common.action.update")">
                      <i class="icon-pencil icon-white"></i></a>
                  <a href="@routes.SgController.removeSpecimenGroupConfirm(studyId,studyName,sg.id.id)"
                      class="btn btn-mini btn-warning" type="button"
                     data-toggle="tooltip" title="@Messages("biobank.common.action.remove")">
                     <i class="icon-remove-sign icon-white"></i></a>
                </div>
              </td>
            <tr>
          }
        </tbody>
      </table>
    }
  </div>
}
