@(study: domain.study.Study)(implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent],
    flash: play.api.mvc.Flash)
    
@import controllers.study._    

@main(Messages("biobank.study.singular") + " " + study.name) {
<ul class="breadcrumb">
  <li><a href="@routes.StudyController.index">@Messages("biobank.study.plural")</a>
      <span class="divider">/</span></li>
  <li class="active">@study.name</li>
</ul>

<div class="page-header">
  <h2>@Messages("biobank.study.singular") @study.name                       
    <a href="@routes.StudyController.updateStudy(study.id.id)" class="btn btn-mini btn-primary" 
        type="button" data-toggle="tooltip" title="Update">
        <i class="icon-pencil icon-white"></i></a></h2>
</div>
<div class="clearfix">

  @flash.get("success").map { message =>
    <div class="alert alert-success">
      @message
    </div>
  }
    
  <table class="table table-bordered table-hover table-condensed">
    <tbody>
      <tr>
	<td class="header">@Messages("biobank.common.name")</td>
	<td>@study.name</td>
      </tr>
      <tr>
	<td class="header">@Messages("biobank.study.field.status")</td>
	<td>@study.status</td>
      </tr>
      <tr>
	<td class="header">@Messages("biobank.common.description")</td>
	<td>@study.description</td>
      </tr>
      <tr>
	<td class="header">@Messages("biobank.study.field.participants")</td>
	<td><i>to be implemented</i></td>
      </tr>
      <tr>
    <td class="header">@Messages("biobank.study.field.collection.events")</td>
	<td><i>to be implemented</i></td>
      </tr>
    </tbody>
  </table>

  <div class="form-actions"> 
    <a href="@routes.SgController.index(study.id.id,study.name)" 
       class="btn btn-small btn-primary" 
       type="button">@Messages("biobank.study.field.specimengroups")</a>
    <a href="@routes.CeventAnnotTypeController.index(study.id.id,study.name)" 
        class="btn btn-small btn-primary" type="button">
        @Messages("biobank.study.field.collection.event.annotation.types")</a>
    <a href="@routes.CeventTypeController.index(study.id.id,study.name)" 
        class="btn btn-small btn-primary" type="button">
        @Messages("biobank.study.field.collection.event.types")</a>
  </div>
</div>
}
