@(study: org.biobank.domain.study.Study,
activeTab: org.biobank.controllers.study.StudyTab.Value)(implicit request: play.api.mvc.WrappedRequest[play.api.mvc.AnyContent],
                                                         flash: play.api.mvc.Flash)

@import org.biobank.controllers.study._
@import StudyTab._

@tabSummaryActive = @{ if (activeTab.equals(StudyTab.Summary)) "active" else "" }
@tabParticipantsActive = @{ if (activeTab.equals(StudyTab.Participants)) "active" else "" }
@tabSpecimensActive = @{ if (activeTab.equals(StudyTab.Specimens)) "active" else "" }
@tabCollectionEventsActive = @{ if (activeTab.equals(StudyTab.CollectionEvents)) "active" else "" }
@tabProcessingEventsActive = @{ if (activeTab.equals(StudyTab.ProcessingEvents)) "active" else "" }

@breadcrumbs = @{ Map(
  (Messages("biobank.study.plural") -> routes.StudyController.index),
  (study.name -> null)
) }

@main(Messages("biobank.study.singular") + " " + study.name, breadcrumbs) {
  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.StudyController.summaryTab,
    routes.javascript.StudyController.participantsTab,
    routes.javascript.StudyController.specimensTab,
    routes.javascript.StudyController.ceventsTab,
    routes.javascript.StudyController.peventsTab
  )
  <div class="page-header">
  <h2>@study.name
  <a href="@routes.StudyController.updateStudy(study.id.id)" class="btn btn-mini btn-primary"
  type="button" data-toggle="tooltip" title="Update">
  <i class="icon-edit icon-white"></i></a></h2>
  </div>
  <div class="clearfix">

  <!-- use HTML data attributes to pass parameters to javascript -->
  <div class="tabbable" data-study-id="@study.id.id" data-study-name="@study.name" data-active-tab="#@activeTab.toString">
  <ul class="nav nav-tabs" id="study-tabs">
  <li class="@tabSummaryActive"><a href="#tab-summary" data-toggle="tab">@Messages("biobank.study.tab.summary")</a></li>
  <li class="@tabParticipantsActive"><a href="#tab-participants" data-toggle="tab">@Messages("biobank.study.tab.participants")</a></li>
  <li class="@tabSpecimensActive"><a href="#tab-specimens" data-toggle="tab">@Messages("biobank.study.tab.specimens")</a></li>
  <li class="@tabCollectionEventsActive"><a href="#tab-collection-events" data-toggle="tab">@Messages("biobank.study.tab.collection.events")</a></li>
  <li class="@tabProcessingEventsActive"><a href="#tab-processing-events" data-toggle="tab">@Messages("biobank.study.tab.processing.events")</a></li>
  </ul>

  @flash.get("success").map { message =>
                              <div class="alert alert-success">
                              @message
                              </div>
                              }

  <div class="tab-content">
  <div class="tab-pane fade in @tabSummaryActive" id="tab-summary">
  <h4>@study.name</h4>
  <small class="muted">@Messages("biobank.study.field.status"): @study.status</small>
  <p>@Html(study.description.getOrElse(Messages("biobank.description.none")).replace("\n", "<br/>"))</p>
  </div>
  <div class="tab-pane fade in @tabParticipantsActive" id="tab-participants"></div>
  <div class="tab-pane fade in @tabSpecimensActive" id="tab-specimens"></div>
  <div class="tab-pane fade in @tabCollectionEventsActive" id="tab-collection-events"></div>
  <div class="tab-pane fade in @tabProcessingEventsActive" id="tab-processing-events"></div>
  </div>
  </div>
  </div>

  <script type="text/javascript" src="@controllers.routes.Assets.at("js/studyShow.js")"></script>

}
