<breadcrumbs crumbs="vm.breadcrumbs"></breadcrumbs>
<div class="page-header">
  <h1><translate>Role</translate>: {{vm.role.name}}</h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{vm.role.name}}

      <span class="pull-right"
            uib-dropdown
            is-open="vm.roleMenu.isOpen">
        <button class="btn btn-xs btn-default dropdown-toggle"
                type="button"
                id="roleMenu"
                uib-dropdown-toggle>
          <span class="glyphicon glyphicon-option-vertical"></span>
        </button>

        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="roleMenu">
          <li role="menuitem">
            <a href
               ng-click="vm.addUser()">
              <i class="glyphicon glyphicon-plus text-primary"></i>
              <translate>Add user</translate>
            </a>
          </li>
        </ul>
      </span>

    </h3>
  </div>
  <ul class="list-group">

    <!-- NAME -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Name:</strong>
        </div>
        <div class="col-md-10">
          {{vm.role.name}}
        </div>
      </div>
    </li>

    <!-- DESCRIPTION -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Description:</strong>
        </div>
        <div class="col-md-10">
          <truncate-toggle
            text="vm.role.description"
            toggle-length="60"
            text-empty-warning="{{'Description not entered yet.'|translate}}"
            allow-edit="false"
            tooltip="{{'Edit description'|translate}}">
          </truncate-toggle>
        </div>
      </div>
    </li>

    <!-- USERS -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Users:</strong>
        </div>
        <div class="col-md-8" ng-if="vm.roleHasUsers">
          <tags-list tag-data="vm.userNameLabels"
                     on-tag-selected="vm.userLabelSelected.bind(vm)">
          </tags-list>
        </div>
        <div class="col-md-10" ng-if="!vm.roleHasUsers">
          <translate>None</translate>
        </div>
      </div>
    </li>

    <!-- PARENT ROLES -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Parent Roles:</strong>
        </div>
        <div class="col-md-10" ng-if="vm.roleHasParentRoles">
          <tags-list tag-data="vm.parentNameLabels"
                     on-tag-selected="vm.parentRoleLabelSelected.bind(vm)">
          </tags-list>
        </div>
        <div class="col-md-10" ng-if="!vm.roleHasParentRoles">
          <translate>None</translate>
        </div>
      </div>
    </li>

    <!-- CHILD ROLES -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Child Roles / Permissions:</strong>
        </div>
        <div class="col-md-10" ng-if="vm.roleHasChildren">
          <tags-list tag-data="vm.childNameLabels"
                     on-tag-selected="vm.childRoleLabelSelected.bind(vm)">
          </tags-list>
        </div>
        <div class="col-md-10" ng-if="!vm.roleHasChildren">
          <translate>None</translate>
        </div>
      </div>
    </li>

  </ul>
  <status-line time-added="vm.role.timeAdded"
               time-modified="vm.role.timeModified">
  </status-line>
</div>
<div class="row">
  <div class="col-md-1">
    <button class="btn btn btn-primary"
            uib-tooltip="Back to previous page"
            ng-click="vm.back()"
            translate>
      Back
    </button>
  </div>
</div>
