<breadcrumbs crumbs="vm.breadcrumbs"></breadcrumbs>
<div class="page-header">
  <h1><translate>Role</translate>: {{vm.role.name}}</h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{vm.role.name}}
      <span class="pull-right">
        <button class="btn btn-xs btn-warning"
                uib-tooltip="{{'Remove role'|translate}}"
                ng-click="vm.remove()">
          Remove <i class="glyphicon glyphicon-remove"></i>
        </button>
      </span>
    </h3>
  </div>
  <ul class="list-group">

    <!-- NAME -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Name:</strong>
        </div>
        <div class="col-md-8">
          {{vm.role.name}}
        </div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  uib-tooltip="{{'Edit name'|translate}}"
                  ng-click="vm.editName()"
                  ng-if="vm.userCanUpdate">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </div>
      </div>
    </li>

    <!-- DESCRIPTION -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Description:</strong>
        </div>
        <div class="col-md-10">
          <truncate-toggle
            text="vm.role.description"
            toggle-length="60"
            text-empty-warning="{{'Description not entered yet.'|translate}}"
            allow-edit="vm.userCanUpdate"
            on-edit="vm.editDescription()"
            tooltip="{{'Edit description'|translate}}">
          </truncate-toggle>
        </div>
      </div>
    </li>

    <!-- USERS -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Users:</strong>
        </div>
        <div class="col-md-8" ng-if="vm.roleHasUsers">
          <tags-list tag-data="vm.userNameLabels"
                     on-tag-selected="vm.userLabelSelected.bind(vm)">
          </tags-list>
        </div>
        <div class="col-md-8" ng-if="!vm.roleHasUsers">
          <translate>None</translate>
        </div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  uib-tooltip="{{'Add a user'|translate}}"
                  ng-click="vm.addUser()"
                  ng-if="vm.userCanUpdate">
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </div>
      </div>
    </li>

    <!-- PARENT ROLES -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Parent Roles:</strong>
        </div>
        <div class="col-md-8" ng-if="vm.roleHasParentRoles">
          <tags-list tag-data="vm.parentNameLabels"
                     on-tag-selected="vm.parentRoleLabelSelected.bind(vm)">
          </tags-list>
        </div>
        <div class="col-md-8" ng-if="!vm.roleHasParentRoles">
          <translate>None</translate>
        </div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  uib-tooltip="{{'Add a parent'|translate}}"
                  ng-click="vm.addParentRole()"
                  ng-if="vm.userCanUpdate">
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </div>
      </div>
    </li>

    <!-- CHILD ROLES -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Child Roles / Permissions:</strong>
        </div>
        <div class="col-md-8" ng-if="vm.roleHasChildren">
          <tags-list tag-data="vm.childNameLabels"
                     on-tag-selected="vm.childRoleLabelSelected.bind(vm)">
          </tags-list>
        </div>
        <div class="col-md-8" ng-if="!vm.roleHasChildren">
          <translate>None</translate>
        </div>
        <div class="col-md-2">
          <button class="btn btn-xs btn-primary pull-right"
                  uib-tooltip="{{'Add a child'|translate}}"
                  ng-click="vm.addChildRole()"
                  ng-if="vm.userCanUpdate">
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </div>
      </div>
    </li>

  </ul>
  <status-line time-added="vm.role.timeAdded"
               time-modified="vm.role.timeModified">
  </status-line>
</div>
<div class="row">
  <div class="col-md-1">
    <button class="btn btn btn-primary"
            uib-tooltip="Back to previous page"
            ng-click="vm.back()"
            translate>
      Back
    </button>
  </div>
</div>
