<div class="row">
  <div class="col-lg-12">
    <collapsable-panel heading="{{vm.panelHeading}}">
      <ss-specimens-paged-table default-sort-field="inventoryId"
                                refresh="vm.refreshSpecimensTable"
                                show-item-state="true"
                                on-get-specimens="vm.getSpecimens"
                                no-specimens-message="{{vm.noSpecimensMessage}}"
                                actions="vm.actions"
                                on-action-selected="vm.tableActionSelected">
      </ss-specimens-paged-table>
    </collapsable-panel>
  </div>
</div>
