<uib-accordion-group is-open="vm.panelOpen" style="margin-top: 10px;">
  <uib-accordion-heading>
    This centre participates in these studies
    <div class="btn-group pull-right">
      <button class="btn btn-xs btn-default"
              ng-click="vm.panelToggle()"
              title="expand / collapse">
        <i class="glyphicon"
           ng-class="vm.panelOpen ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></i>
      </button>
    </div>
  </uib-accordion-heading>
  <div class="panel panel-warning" ng-if="vm.studyCollection.length <= 0">
    <div class="panel-heading">
      This centre is not participating in any studies.
    </div>
  </div>
  <table st-table="vm.tableStudies"
         st-safe-src="vm.studyCollection"
         class="table table-hover table-condensed"
         ng-if="vm.studyCollection.length > 0">
    <thead>
      <th st-sort="name">Name</th>
      <th st-sort="status">Status</th>
      <th></th>
    </thead>

    <tbody>
      <tr ng-repeat="study in vm.tableStudies track by study.id">
        <td>
          <span ng-click="vm.information(study.id)">
            <a href>{{study.name}}</a>
          </span>
        </td>
        <td>{{study.statusLabel}}</td>
        <td>
          <!-- FIXME studies should only be removed if no centre is not storing specimens  -->
          <div class="btn-group pull-right">
            <button class="btn btn-xs btn-warning"
                    ng-click="vm.remove(study.id)"
                    data-toggle="tooltip"
                    title="Remove">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="input-group" style="margin-top: 10px;">
    <span class="input-group-addon">Add Study <i class="glyphicon glyphicon-plus"></i></span>
    <input type="text"
           ng-model="vm.selected"
           uib-typeahead="study.name for study in vm.studyNames | filter:$viewValue | limitTo:8"
           typeahead-on-select="vm.onSelect($item)"
           placeholder="enter a study's name or partial name"
           class="form-control">
  </div>
</uib-accordion-group>
