<breadcrumbs crumbs="vm.breadcrumbs"
             ng-if="vm.userIsAuthenticated">
</breadcrumbs>
<div class="page-header">
  <h1 translate>Welcome to Biobank</h1>
</div>
<div class="container" ng-if="!vm.userIsAuthenticated">
  <div class="row">
    <div class="col-md-12" translate>
      Please log in.
    </div>
  </div>
</div>
<div class="container" ng-if="vm.userIsAuthenticated">

  <div class="alert alert-warning" ng-if="!vm.hasRoles">
    <span class="glyphicon glyphicon-warning-sign"></span>
    <translate>
      Your user permissions are not valid. Please contact your website administrator.
    </translate>
  </div>

  <div class="row" ng-if="vm.hasRoles">
    <div class="col-md-12" ng-if="vm.userIsAuthenticated">
      <h2 translate>Select a task</h2>
    </div>
  </div>

  <div class="row" ng-if="vm.hasRoles">

    <!-- COLLECTION -->
    <div class="col-md-4" ng-if="vm.allowCollection">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <translate>Collection</translate>
            <span class="btn-group pull-right">
              <a ui-sref="home.collection" class="btn btn-xs btn-primary" type="button">Select</a>
            </span>
          </h3>
        </div>
        <div class="panel-body">
          <p translate>Record specimen collection.</p>
        </div>
      </div>
    </div>

    <!-- SHIPPING -->
    <div class="col-md-4" ng-if="vm.shippingAllowed">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <translate>Shipping</translate>
            <span class="btn-group pull-right">
              <a ui-sref="home.shipping" class="btn btn-xs btn-primary" type="button">Select</a>
            </span>
          </h3>
        </div>
        <div class="panel-body">
          <p translate>Enter shipping information for specimens.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <!-- ADMINISTRATION -->
    <div class="col-md-4" ng-if="vm.adminAllowed">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <translate>Administration</translate>
            <span class="btn-group pull-right">
              <a ui-sref="home.admin" class="btn btn-xs btn-primary" type="button">Select</a>
            </span>
          </h3>
        </div>
        <div class="panel-body">
          <p translate>Perform administrative tasks.</p>
        </div>
      </div>
    </div>

  </div>
</div>
