<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{vm.centre.name}}
      <span class="pull-right"
            uib-dropdown
            is-open="vm.centreSummaryMenu.isOpen">
        <button class="btn btn-xs btn-default dropdown-toggle"
                type="button"
                id="centreSummaryMenu"
                uib-dropdown-toggle>
          <span class="glyphicon glyphicon-option-vertical"></span>
        </button>

        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="centreSummaryMenu">
          <li role="menuitem" ng-if="vm.centre.isDisabled()">
            <a href
               ng-click="vm.editName()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update name</translate>
            </a>
          </li>
          <li role="menuitem" ng-if="vm.centre.isDisabled()">
            <a href
               ng-click="vm.editDescription()">
              <i class="glyphicon glyphicon-edit text-primary"></i>
              <translate>Update description</translate>
            </a>
          </li>
          <li class="divider" ng-if="vm.centre.isDisabled()"></li>
          <li role="menuitem" ng-if="vm.centre.isDisabled()">
            <a href
               ng-click="vm.changeState('enable')">
              <i class="glyphicon glyphicon-ok text-success"></i>
              <translate>Enable this centre</translate>
            </a>
          </li>
          <li role="menuitem" ng-if="vm.centre.isEnabled()">
            <a href
               ng-click="vm.changeState('disable')">
              <i class="glyphicon glyphicon-ok-circle text-danger"></i>
              <translate>Disable this centre</translate>
            </a>
          </li>
        </ul>
      </span>
    </h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Name:</strong>
        </div>
        <div class="col-md-10">
          {{vm.centre.name}}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong translate>Description:</strong>
        </div>
        <div class="col-md-10">
          <truncate-toggle text="vm.centre.description"
                           toggle-length="vm.descriptionToggleLength"
                           text-empty-warning="{{'Description not entered yet.'|translate}}"
                           allow-edit="false"
                           on-edit="vm.editDescription()">
          </truncate-toggle>
        </div>
      </div>
    </li>
    <li class="list-group-item" ng-if="!vm.centre.hasLocations()">
      <div class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <translate>
          Centre cannot be enabled until at least one location is added.
        </translate>
      </div>
    </li>
  </ul>
  <status-line state="vm.centre.state"
               state-label-func="vm.stateLabelFunc"
               time-added="vm.centre.timeAdded"
               time-modified="vm.centre.timeModified">
  </status-line>
</div>
