<div class="modal-header">
  <button type="button"
          class="close"
          ng-click="modalOptions.ok()">&times;</button>
  <h3 class="modal-title" ng-bind-html="modalOptions.entityViewer.title"></h3>
</div>
<div class="modal-body">
  <div class="panel panel-default">
    <ul class="list-group">
      <li class="list-group-item"
          ng-repeat="item in modalOptions.entityViewer.items">
        <div class="row">
          <div class="col-md-4">
            <strong>{{item.label}}</strong>
          </div>
          <div class="col-md-8" ng-bind-html="item.value | nl2br"></div>
        </div>
      </li>
    </ul>
    <status-line item="modalOptions.entityViewer" ng-if="entity.timeAdded"></status-line>
  </div>
</div>
