<div class="page-header">
  <h1>{{vm.study.name}} <small>collection</small></h1>
</div>
<form class="form-inline" name="UniqueId">
  <div class="form-group">
    <label for="nameFilter">Enter the participant's unique ID:</label>
    <input type="text"
           class="form-control"
           name="uniqueId"
           ng-model="vm.uniqueId"
           placeholder="unique id"0>
  </div>
  <button type="submit"
          class="btn btn-primary"
          ng-click="vm.uniqueIdChanged()">
    Submit <i class="glyphicon glyphicon-ok"></i>
  </button>
</form>
